$module: 'application-item';
.#{$module} {
    margin-top: govuk-spacing(0);
    margin-bottom: govuk-spacing(2);
    position: relative;

    @include touch {
        padding-right: 0;
    }

    &__contents {
        position: relative;
        background-color: govuk-colour("light-grey");
        padding: 20px 40px 20px 20px;

        @include touch {
            // padding: govuk-spacing(2);
        }
    }

    &__link {
        display: block;
        @include govuk-font($size: 19, $weight: bold);
        margin-bottom: 10px;
    }

    &__left {
        width: 50%;
        float: left;
        @include govuk-font($size: 19);
        padding-right: 20px;

        @include touch {
            padding-right: 0;
        }
    }

    &__right {
        position: relative;
        width: 50%;
        float: right;
        text-align: right;
    }

    &__control {
        position: absolute;
        left: 0;
        top: 2px;

        @include touch {
            position: relative;
            display: block;
            left: auto;
            top: auto;
        }
    }

    &__status,
    &__meta {
        display: block;
        text-align: right;
        @include govuk-font($size: 16);
        margin-top: 5px;
        padding-left: 70px;

        @include touch {
            padding-left: 20px;
        }
    }

   /* &__list {
        //
    }*/

   /* &__key,
    &__value {
        @include govuk-font($size: 16, $weight: normal);
    }*/

    /*&__key {
        //
    }*/

    /*&__value {

        &--complete {
            color: #006435;
        }
    }*/

    /*&__bar {
        position: relative;
        background-color: #dee0e2;
        padding: 10px;
    }*/

    /*&--dar {
        background-color: #dee0e2;
    }*/

    /*&__bar-title {
        display: block;
        padding-right: 170px;
        @include govuk-font($size: 16, $weight: bold);
    }*/

    &__char-count {
        display: block;
        position: absolute;
        right: 10px;
        top: 14px;
        width: 170px;
        text-align: right;
        @extend %govuk-body-xs;
    }

    &__upload {
        margin: 10px 0;
        padding: 10px;
        border-top: 1px solid #bfc1c3;
        border-bottom: 1px solid #bfc1c3;
    }

    &--complete {

        .#{$module}__contents {

            &:before {
                position: absolute;
                right: 10px;
                // top: 26px;
                top: 44%;
                width: 20px;
                height: 20px;
                content: " ";
                background-image: url('/images/ufs/tick.svg');
                background-size: 38px 28px;

                /*@include touch {
                    display: none;
                }*/
            }

            .#{$module}__status {
                color: govuk-colour("green");
            }
        }
    }

    &--incomplete {

        .#{$module}__contents {

            &:before {
                position: absolute;
                right: 10px;
                top: 40%;
                width: 20px;
                height: 20px;
                content: " ";
                background-image: url('/images/ufs/pencil.svg');
                background-size: 30px 24px;
            }
        }
    }

    &__error-message {
        @include govuk-font($size: 19, $weight: bold);
        color: govuk-colour("red");
        margin-bottom: 10px;
    }

    &--error {
        border-left: 5px solid govuk-colour("red");
        padding-left: 20px;

        .application-item__contents {
            border: 4px solid govuk-colour("red");
        }
    }

    &--skinny {
        border-top: 1px solid govuk-colour("mid-grey");
        margin-bottom: 0;

        .#{$module}__contents {
            background-color: govuk-colour("white");
            padding: 15px 30px 15px 0;

            &:before {
                right: 0;
            }
        }
    }

   /* &__mega-meta {
        @include govuk-clearfix;
        display: table-cell;
        padding-top:15px;
        min-height: 80px;
    }*/

    /*&__mega-item {
        display: inline-block;
        border-bottom: 4px solid govuk-colour("blue");
        min-width: 100px;
        max-width: 100px;
        vertical-align: bottom;
        margin-right: 20px;
        text-align: right;
        padding-top: 6px;
        padding-bottom: 6px;
    }*/

    /*&__mega-meta-flex {
        display: flex;
        margin-top: 10px;

        &__item {
            display: flex;
            flex-direction: column;
            border-bottom: 4px solid govuk-colour("blue");
            width: 100px;
            // min-height: 80px;
            margin-right: 20px;
            text-align: right;
            padding-top: 6px;
            padding-bottom: 6px;
            margin-top: auto;

            @at-root {
                a#{&} {
                    &:hover {
                        background-color: govuk-colour("white");
                    }
                }
            }
        }

        &__link {
            display: block;
            vertical-align: baseline;
            height: 100px;

            &:hover {
                background-color: govuk-colour("white");
            }
        }
    }*/

   /* &__mega-meta-fix {
        margin-top: 10px;
        @include govuk-clearfix;

        &__item {
            display: block;
            position: relative;
            border-bottom: 4px solid govuk-colour("blue");
            width: 100px;
            // min-height: 80px;
            margin-right: 20px;
            text-align: right;
            padding-top: 6px;
            padding-bottom: 6px;
            margin-top: auto;

            @at-root {
                a#{&} {
                    &:hover {
                        background-color: govuk-colour("white");
                    }
                }
            }
        }

        &__link {
            display: block;
            vertical-align: baseline;
            height: 100px;

            &:hover {
                background-color: govuk-colour("white");
            }
        }

        &__text {
            display: block;
            vertical-align: baseline;
            height: 100px;

        }
    }*/

   /* &__mega-link {
        display: block;
        width: 100px;
        min-height: 80px;
        vertical-align: bottom;

        &:hover {
            background-color: govuk-colour("white");
        }
    }*/

    /*&__mega-stat {
        display: block;
        margin-top: auto;
        @include govuk-font($size: 16, $weight: bold);
    }*/

    /*&__mega-thing {
        display: block;
        @include govuk-font($size: 16, $weight: normal);
    }*/

    &__data {
        // display: flex;
        /*align-items: center;
        justify-content: center;*/
    }

    &__data-item {
        // align-self: flex-end;
        position: relative;
        width: 100px;
        height: 80px;
        float: left;
        padding: 6px;
        margin-right: 12px;
        border-bottom: 4px solid govuk-colour("blue");
        margin-top: 10px;

        @at-root {
            a#{&} {
                &:hover {
                    background-color: govuk-colour("white");
                }
            }
        }
    }

    &__data-link {
        /*position: relative;
        display: block;
        width: 100px;
        height: 80px;
        padding: 20px 6px 10px;

        margin-right: 10px;*/


    }

    /*&__data-stat {
        @include govuk-font($size: 16, $weight: bold);
        display: block;
        text-align: right;

    }*/


    &__data-text {
        @include govuk-font($size: 16);
        position: absolute;
        display: block;
        text-align: right;
        bottom: 6px;
        right: 0;

    }

   /* &__data-thing {
        @include govuk-font($size: 16);
        display: block;
        text-align: right;
    }*/
}

.application-items .application-item--skinny:last-of-type,
.application-items .application-item--skinny-last {
    border-bottom: 1px solid govuk-colour("mid-grey");
}

.application-item--skinny.application-item--error {

    .application-item__contents {
        border: none!important;
    }

    .application-item__error-message {
        margin-top: 5px;
    }
}
.application-item--skinny.application-item--error > .application-item--skinny {
    border-bottom: 0!important;
}
