.govuk-related-items {

  margin-top: 30px;
  border-top: 10px solid #005ea5;
  padding-top: 5px;

  .heading-medium {
    margin-top: .3em;
    margin-bottom: .5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }

  &--flush {
    margin-top: 0;
  }

  &--keylined {
    border: 1px solid #bfc1c3;
    border-top: 10px solid #005ea5;
    padding-left: 8px;
    padding-right: 8px;
  }
}


