.new-header {
  position: relative;
  z-index: 100;

  &__top {
    min-height: 95px;
    position: relative;
  }

  &__admin {

  }

  &__brand {
    display: block;
    float: left;
    width: 208px;
    height: 81px;
    padding: 10px 0 0 0;
  }

  &__bar {
    height: 39px;
    background-position: 30% 0;
    background-size: 540px;
    background-repeat: no-repeat;

    @include touch {
      background-position: 160% 0;
    }

    @include mobile {
      background-image: none!important;
    }


    .column {
      position: relative;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__service {
    // @include govuk-font($size: 24);
    display:block;
    /*float: left;*/
    position: absolute;
    left: 10px;
    top: 0;
    width: 220px;
    font-size: 24px;
    padding-top: 1px;

  }

  &--external {

    .new-header__bar {
      // background-color: ufs-colour("dark-purple");
      background-color: #622378;
      background-image: url('/images/ufs/external_graphic.svg');
    }

    .new-header__service {
      color: ufs-colour("lime");
    }
  }

  &--admin {

    .new-header__bar {
      background-color: ufs-colour("sand");
      background-image: url('/images/ufs/admin_graphic.svg');
    }

    .new-header__service {
      color: ufs-colour("ukri-blue");
    }
  }

  &__nav {
    // <nav>
    height: 40px;
    float: right;
    /*margin-left: 80px;*/
    margin-top: 22px;

    &--touch-hide {

      @at-root {
        .js-enabled #{&} {

          @include touch {
            display: none !important;
          }
        }
      }

      @include touch {
        // display:none!important;
      }
    }

    @include touch {
      display: block;
      float: none;
      clear:both;
      width: 100%;
      height: auto;
      margin: 0;
      margin-top: 15px;

    }
  }

  &__nav-list {
    // <ul>
    height: 40px;
    float: right;
    text-align: left;



    @include touch {
      width: 100%;
      height: auto;
      float: none;
      clear: both;
    }
  }

  &__nav-item {
    // <li>
    display: inline-block;

    @include touch {
      display: block;
      width: 100%;
      border-top: 1px solid govuk-colour("mid-grey");
    }
  }

  &__nav-link {
    // <a>
    display: inline-block;
    border: 2px solid white;
    padding: 0px 4px;
    font-size: 19px;
    font-weight: bold;
    color: ufs-colour("ukri-blue");

    &:hover {
      border: 2px solid orange;
    }

    @include touch {
      border: none;
      display: block;
      padding: 6px 0;

      &:hover {
        border: none!important;

      }
    }
  }

  &--external {
    .new-header__nav-link {
      &:hover {
        color: #622378;
        border: 2px solid #622378;
      }
    }
  }

  &--admin {
    .new-header__nav-link {
      &:hover {
        color: ufs-colour("sand");
        border: 2px solid ufs-colour("sand");
      }
    }
  }
}

.hamburger {
  display: none;
}

.js-enabled {

  .hamburger {

    display: none;

    @include touch {
      position: absolute;
      right: 10px;
      top: 34px;
      display: block;
      background-color: govuk-colour("white");
      border: 0;
      width: 50px;
      height: 42px;
      cursor: pointer;

      span {
        display: block;
        width: 35px;
        height: 5px;
        background-color: ufs-colour("ukri-blue");;
        margin: 6px 0;
      }
    }

    &:focus,
    &:hover {
      background-color: govuk-colour("yellow");
    }
  }
}

.user-header {
  right: 20px;

  @include touch {
    right: 0;
  }
}
