.ufs-phase-banner {
  .govuk-phase-banner {
    border-bottom: none;
    border-top: 1px solid $govuk-border-colour;
  }
}

.govuk-template__body--wide {

  .ufs-header__main,
  .govuk-width-container,
  .top-links__nav {
    max-width: 1380px;
  }
}

.govuk-table__cell--action {
  text-align: right;

  a {
    display: inline-block;
    margin-top: 10px;
  }
}

.govuk-related-items {
  border-top-width: 5px;
}

.govuk-form-group--inline-right {

  @include govuk-media-query($from: tablet) {
    text-align: right;

    .govuk-label {
      display: inline-block;
    }

    .govuk-input {
      display: inline-block;
    }
  }
}

.govuk-form-group--inline-left{

  @include govuk-media-query($from: tablet) {

    .govuk-label {
      display: inline-block;
      float: left;
      margin-right: 10px;
      line-height: 40px;
    }
  }
}

.govuk-checkboxes__label::before {
  background: govuk-colour("white");
}

.govuk-checkboxes__label::after {
  top: 10px;
  left: 9px;
  width: 24px;
  height: 15px;
}

.govuk-error-summary__list {
  a {
    text-decoration: underline;
  }
}

.govuk-link {
  text-decoration-color: govuk-colour("blue");
  text-decoration-line:underline;
  text-decoration-style:solid;
}

.section {
  padding-top: 0;

  @include touch {
    padding-left: 0;
    padding-right: 0;
  }
}

.column > .section {
  padding-left: 0;
  padding-right: 0;
}

.select-iterator {

  .govuk-button {
    margin-bottom: 0;

    @include touch {
      width: auto;
    }
  }
}
