.ufs-phase-banner {
  .govuk-phase-banner {
    border-bottom: none;
    border-top: 1px solid $govuk-border-colour;
  }
}

.govuk-template__body--wide {

  .ufs-header__main,
  .govuk-width-container,
  .top-links__nav {
    max-width: 1380px;
  }
}

.govuk-table__cell--action {
  text-align: right;

  a {
    display: inline-block;
    margin-top: 10px;
  }
}
