$module: 'pager';
$pager-link-dimensions: 24px;

.#{$module} {
  /*margin-top: em(5, 16);
  margin-bottom: em(20, 16);*/
  margin: 30px 0;
  @include govuk-font($size: 16);
  @include govuk-clearfix;

  &__summary {
    position: relative;
    width: 40%;
    max-width: 280px;
    float: left;

    @include touch {
      width: 100%;
      max-width: none;
      float: left;
      clear: both;
    }
  }

  &__controls {
    position: relative;
    width: 60%;
    max-width: 500px;
    float: right;

    @include touch {
      width: 100%;
      max-width: none;
      float: left;
      clear: both;
      margin-top: 10px;
    }
  }

  &__list {
    position: relative;
    float: right;
    display: block;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 100%;

    @include touch {
      float: left;
      clear: both;
      text-align: left;
    }
  }

  &__list-item {
    display: inline-block;
  }
  &__list-link {
    display: block;
    min-width: $pager-link-dimensions;
    height: $pager-link-dimensions;
    padding: 0 4px;
    text-align: center;

    &:hover {
      text-decoration: underline;
    }
  }

  &__list-not-link {
    display: block;
    width: $pager-link-dimensions;
    height: $pager-link-dimensions;
    text-align: center;
  }
  &__list-ellipses {
    display: block;
    width: 14px;
    height: $pager-link-dimensions;
    text-align: center;
  }

  &__next,
  &__prev {
    display: block;
    position: relative;
    min-width: 40px;
    text-align: center;
    height: $pager-link-dimensions;

    &:hover {
      text-decoration: underline;
    }
  }

  &__next {
    &:after {
      content: "\203A";
      position: absolute;
      font-size: 24px;
      right: -12px;
      top: -7px;
      height: 32px;
      width: 18px;

    }
  }

  &__prev {
    &:before {
      content: "\2039";
      position: absolute;
      font-size: 24px;
      left: -12px;
      top: -7px;
      height: 32px;
      width: 18px;
    }
  }
}
