.password-toggle {

  position: relative;

  &__link {
    display: none;
  }

  @at-root {
    .js-enabled #{&} {

      &__link {
        display: block;
        position: absolute;
        left: 270px;
        top:8px;
      }

      .govuk-input {
        padding-right: 60px;
        width: 320px;
      }
    }

    &.govuk-form-group--error {

    }
  }

}

.password-toggle.govuk-form-group--error {
  .password-toggle__link {
    left: 286px;
    top: 49px;
  }
}
