.progress {
  width: 100%;
  height: 24px;
  position: relative;
  background-color: govuk-colour("light-grey");
}

.progress__text {
  font-size: 14px;
  position: absolute;
  height: 24px;
  left: 0;
  top: 0;
  line-height: 24px;
}

.progress__text--back {
  text-align: center;
  color: govuk-colour("black");
  width: 100%;
  z-index:1;
}

.progress__text--front {
  text-align: center;
  color: govuk-colour("white");
  background-color: govuk-colour("green");
  width: 100%;
}

.progress__clipper {
  position: absolute;
  left: 0;
  top: 0;
  height: 24px;
  width: 100%;
  clip-path: inset(0% 100% 0% 0%);
  z-index:2;
}
