.speaker-notes {

  border: 10px solid #dee0e2;
  padding: 10px;

  ol, ul {

    li {
      margin-left: 20px;
    }

  }

  ol, ol li {
    list-style-type: decimal;
  }

  ul, ul li {
    list-style-type: disc;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }


}
