.rel-box {

  margin-top: 20px;
  padding: 20px;
  color: govuk-colour("white");

  * {
    color: govuk-colour("white");
  }

  .govuk-link {
    color: govuk-colour("white");

    &:focus {
      color: govuk-colour("black");
    }

    &:hover {
      text-decoration: none;
    }
  }

  .govuk-list {
    margin-bottom: 0;
  }

  &--external {
    background-color: ufs-colour("dark-purple");
  }

}
