.responsive-table {
  @include touch {

    // background-color: lime;
    width: 100%;
    overflow-x:auto;
  }

  &__table {
    min-width: 600px;
  }

}

$column-fixed-width: 180px;
$column-fixed-width-right: 120px;
.scrolly {
  // wrapper div
  // width: calc(100% - $column-fixed-width-right);
  width: calc(100% - 120px);
  overflow: auto;

  &__table {
    width: 100%;
    font-size: 16px;
    margin-left: $column-fixed-width;
    border-bottom: 1px solid darkgrey;
  }

  th, td {
    white-space: nowrap;
    padding: 10px 10px;
    border-top: 1px solid darkgrey;
    border-right: 1px solid darkgrey;
  }

  &__locked-td--left,
  &__locked-th--left {
    border-left: 2px solid darkgrey;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 2px solid darkgrey;
    position: absolute;
    width: $column-fixed-width;
    left: 0;
    top: auto;
    background-color: #FFF;
  }
}

.scrolly__totals-row td,
.scrolly__totals-row .scrolly__locked-td {
  background-color: lightgrey;
  border-top: 1px solid #333;
  border-bottom: 1px solid darkgrey;
}

.scrolly td.scrolly__td {
  text-align: right;
}

td.scrolly__locked-td--right,
th.scrolly__locked-th--right {
  border-left: 2px solid darkgrey;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 2px solid darkgrey;
  position: absolute;
  width: $column-fixed-width-right;
  right: 0;
  top: auto;
  background-color: #FFF;
  text-align: right!important;
}

.mega-table {
  @include govuk-font($size: 16);

  tr {
    td:first-of-type {
      padding-left: 4px;
    }
    td:last-of-type {
      padding-right: 4px;
    }
  }

  &_row {

    &-status {

      &--ready{
        background-color: #e8f0f8;
        // background-color: lighten(ufs-colour("ukri-blue"), 70%);
        border-left:4px solid ufs-colour("ukri-blue");

        .mega-table_item-status {
          color: ufs-colour("other-blue");
          // 1D70B8
        }
      }

      &--change {
        background-color: #fbf1e5;
        // background-color: lighten(ufs-colour("sand"), 65%);
        border-left:4px solid ufs-colour("sand");

        .mega-table_item-status {
          color: ufs-colour("sand")
        }
      }

      &--complete {
        background-color: #e5f0eb;
        // background-color: lighten(govuk-colour("green"), 75%);
        border-left:4px solid govuk-colour("green");

        .mega-table_item-status {
          color: govuk-colour("green")
        }
      }

      &--overdue {
        // background-color: lighten(govuk-colour("red"), 50%);
        background-color: #fbeae7;
        border-left:4px solid govuk-colour("red");

        .mega-table_item-status {
          color: govuk-colour("red")
        }
      }
    }

  }

  &__cell--fixed {
    max-width: 280px;
  }

  &_item-status {

    @include govuk-font($size: 16, $weight: bold);

    /*&--black,
    &--orange,
    &--blue,
    &--green {

    }

    &--orange {
      color: #D77900;
    }

    &--blue {
      color: #1D70B8;
    }

    &--green {
      color: #00703C;
    }*/
  }

  &_item-meta {
    display: block;
    @include govuk-font($size: 14);
    color: #6F777B;
  }

}
