.password-toggle {
  position: relative;

  &__link {
    display: none;
  }

  @at-root {
    .js-enabled #{&} {

      &__link {
        display: block;
        position: absolute;
        left: 270px;
        top:8px;
      }

      .govuk-input {
        padding-right: 60px;
        width: 320px;
      }
    }
  }
}

.password-toggle.govuk-form-group--error {
  .password-toggle__link {
    left: 286px;
    top: 49px;
  }
}

.signin-form {

  .govuk-input {
    width: 320px;
  }

  .password-toggle__link {
    top: 38px;
  }

  .govuk-form-group--error {
    .password-toggle__link {
      top: 39px;
    }
  }
}

.create-password {

  &--error {
    padding-left: 20px;
    border-left: 5px solid govuk-colour("red");

    .password-toggle__link {
      top: 48px;
    }
  }

  &__criteria-item {
    position: relative;

    &--error {
      color: govuk-colour("red");
      list-style: none;
      padding-left: 4px;

      &:before {
        content: "";
        position: absolute;
        left: -19px;
        top: 8px;
        width: 20px;
        height: 20px;
        background-image: url(/images/ufs/cross.svg);
        background-size: 14px 14px;
        background-repeat: no-repeat;
      }
    }

    &--success {
      color: govuk-colour("green");
      list-style: none;
      padding-left: 4px;

       &:before {
         content: "";
         position: absolute;
         left: -19px;
         top: 6px;
         width: 20px;
         height: 20px;
         background-image: url(/images/ufs/tick.svg);
         background-size: 38px 28px;
         background-repeat: no-repeat
       }
    }
  }
}
