$task-grey: #f3f2f1;
$max-width: 544px;

.task-menu {
  // margin-top:-40px;
  position:relative;
  width: 100%;
  // clear: both;

  @at-root {
    .js-enabled #{&} {
      width: 66.66667%;

      @include mobile {
        width: 100%;
      }
    }
  }


  &__pseudo-link {
    color: govuk-colour("blue");
    text-decoration: underline;

    &:hover {
      color: govuk-colour("dark-blue");
    }
  }

  &__toggle {
    display:block;
    float: right;
    border-radius: 0;
    width: 100%;
    max-width: $max-width;
    height: 40px;
    background-color: $task-grey;
    @include govuk-font($size: 16);
    text-align: left;
    padding: 4px 10px;
    cursor: pointer;

    &:focus {
      /*background-color: #ffdd00;
      -webkit-box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
      box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;*/
      outline: 4px solid #ffdd00;

    }
  }

  &__wrapper {
    min-height: 40px;
    position:relative;
    width: 100%;
    max-width: $max-width;
    background-color: $task-grey;
    z-index: 100;
    float: right;
  }

  &__contents {
    box-sizing: border-box;
    margin-top: 44px;
    background-color: $task-grey;
    width: 100%;
    max-width: $max-width;
    padding: 10px;
    z-index: 101;
    border-color: govuk-colour("mid-grey");
    -webkit-box-shadow: 4px 4px 4px 0px rgba(192,192,192,0.75);
    -moz-box-shadow: 4px 4px 4px 0px rgba(192,192,192,0.75);
    box-shadow: 4px 4px 4px 0px rgba(192,192,192,0.75);

    @at-root {
      .js-enabled #{&} {
        position:absolute;
      }
    }
  }

  &__inner {
    overflow: auto;
    max-height: 790px;
    background-color: govuk-colour("white");
  }



  &__bottom {
    height: 40px;
    margin-top:10px;
  }

  .govuk-button--secondary {
    background-color: #dbdad9;
  }

  .column {
    padding-top: 0;
    padding-bottom:0;
    z-index: 99;
  }

  &__label {
    display:block;
    float: right;
    width: 100%;
    height: 40px;
    background-color: $task-grey;
    @include govuk-font($size: 19);
    text-align: left;
    padding: 8px 10px;
    cursor: pointer;

    &--new {
      @include govuk-font($size: 19, $weight: bold);
    }
  }

  &__check {
    position: relative;
    display: none;

    :after {
      content:"test";
      position: absolute;
      display: block;
    }

    &:checked {

      &~.task-menu__contents {
        display: block;
      }
    }
  }

  &__box {
    padding: 6px;

    .govuk-heading-s {
      margin:2px 0 6px 0;
    }

    &--ass {
      border-top: 8px solid ufs-colour("sand");
    }

    &--mess {
      border-top: 8px solid govuk-colour("blue");
      margin-top: 20px;
    }
  }

  &__box-list {
    margin-bottom: 0;
  }

  &__box-toggle {
    display: block;
    padding: 4px 0;
    margin-bottom: 4px;
    color: govuk-colour("blue");
    text-decoration: underline;
    @include govuk-font($size: 19, $weight: bold);
    cursor: pointer;

    &:hover {
      color: govuk-colour("dark-blue");
    }
  }

  &__box-check {
    display: none;

    &:checked ~ .task-menu__box-list {
      display: block;
    }
  }

  &__box-item {
    background-color: $task-grey;
    min-height: 40px;
    @include govuk-clearfix;
    padding: 8px 4px 6px;
    border-top: 1px solid govuk-colour("mid-grey");
    margin-bottom: 0!important;
    @include govuk-font($size: 16);

    &--last {
      border-top: 1px solid govuk-colour("mid-grey");
      text-align: right;
      min-height: 10px;
      background-color: govuk-colour("white");
    }

    &--unread {
      background-color: govuk-colour("white");

      @at-root {
        .js-enabled #{&} {
          @include mobile {
            // display: none !important;
          }
        }
      }
    }
  }

  &__item-left {
    width:50%;
    float:left;
    text-align: left;

    .govuk-button {
      margin-bottom: 0;
    }
  }

    &__item-link {
      display: block;
      // width: 250px;
      width: 100%;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      padding-bottom: 4px;
    }

    &__item-id {
      display: block;
    }

    &__item-subject {
      display: block;
      padding-bottom: 4px;
    }

    &__item-by {
      display: block;
    }

  &__item-right {
    text-align: right;
  }

    &__item-meta {
      display: block;
      color: govuk-colour("dark-grey");
      padding-bottom: 4px;
    }

    &__item-thing {
      display: block;

      &--success {
        color: govuk-colour("green");
      }
    }

  &__is-chill {
    border-left: 8px solid govuk-colour("blue");
  }

  &__is-aglow {
    border-left: 8px solid ufs-colour("sand");
  }

  &__is-hectic {
    border-left: 8px solid govuk-colour("red");
  }

}
