// typography overrides

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700&display=swap');

$new-font-stack : 'Roboto', sans-serif;

body.ufs * {
  font-family: $new-font-stack;
}
body.ufs {

  color: govuk-colour("black");

  h1, h2, h3, h4, h5, h6, .govuk-heading, .heading {
    font-family: 'Roboto', sans-serif;
  }

  code[class*="language-"], pre[class*="language-"], code, pre, code[class*="language-"] *, pre[class*="language-"] *, code *, pre * {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
  }

  .serif, .serif .govuk-body, .serif *, h1.serif, h2.serif, h3.serif, h4.serif {
    font-family: Merriweather, serif!important;

    .govuk-body {
      @include govuk-font($size: 16);
      line-height: 24px!important;
    }
  }
}

.govuk-link {
  text-decoration: underline;
}

.govuk-link:visited {
  color: $govuk-link-colour;
}
.govuk-link:visited:hover {
  color: $govuk-link-hover-colour;
}

h1.govuk-heading-xl {
  color: ufs-colour("ukri-blue");
}

.govuk-body--s {
  @include govuk-font($size: 14);
}

.govuk-heading-xs {
  @include govuk-font($size: 16, $weight: bold);
}

#global-header #logo {
  background-image: none;
  margin-left: 0;
}

.ufs-body-wrapper {

  .form-label {
    font-weight: 700;
  }
}

.sub-button {
  display: block;
  @include govuk-font($size: 16);
}

.govuk-heading--link {
  position: relative;
}
.govuk-heading_additional-link {
  @include govuk-font($size: 19);
  position: relative;
  display: block;
  margin: 4px 0 0 0;

  @include govuk-media-query($from: tablet) {
    position: absolute;
    right: 0;
    top: 4px;
  }
}

.item-successful, .item-successful strong {
  color: govuk-colour("green")!important;
}

.heading-contrast {
  background-color: ufs-colour("ukri-blue");
  color: govuk-colour("white")!important;
  padding:4px 8px;
}

body.ufs .govuk-heading_additional-link a,
body.ufs .govuk-heading_additional-link a span {
    font-family: 'Roboto', sans-serif!important;
}

.meta {
  color: govuk-colour("dark-grey");
}

.error-text {
  color: govuk-colour("red");
  @include govuk-font($size:19, $weight: bold);
}
