// @import url(../bulma-scss-0.8.0/utilities/_all.scss);

.header {
  background-color: ufs-colour("jade");
  background-image: url("/images/ufs/contours.png");
  background-repeat: no-repeat;
  background-size: contain;

  @include desktop {
    background-size: cover;
  }

  /*@include widescreen-only {
    background-size: cover;
  }*/

  /*@include from($tablet) {
    background-size: contain;
  }*/

  /*@include from($tablet) until($widescreen) {
    border: 1px solid yellow;
  }*/
}
