.header {
  background-color: ufs-colour("jade");
  background-image: url("/images/ufs/green-contours.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;

  @include desktop {
    background-size: contain; // lower corner only
  }

  @include touch {
    padding-right: 8px;
  }

  &--admin {
    background-color: ufs-colour("sand");
    background-image: url("/images/ufs/orange-contours.svg");
  }
}
