// GOVUK new GDS stuff, in ordered folders
// @import '../govuk-ordered/all';

// GOVUK new GDS stuff, as it comes
// with grid
// @import '../govuk/all';









// without grid
@import '../govuk/all-no-grid';


// overrides
// without Bulma
// @import 'custom/custom';

// With Bulma
body {
  margin: 0;
}
// @media only screen and (max-width: 768px)  {
@media only screen and (max-width: 1024px)  {
  .columns {
    padding-left:8px;
    padding-right:8px;
  }
}
@import 'custom/custom-with-bulma';

