{# Import macros for global use in all views #}
{% set components = {} %}
{% for component in macroFilePaths %}
  {% import component as temp %}{% set macro = _.assign(components, temp) %}
{% endfor %}
{# end #}

<!DOCTYPE html>
<!--[if lte IE 8 ]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="ie9" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="" lang="en"><!--<![endif]-->
  <head>

    {% include './partials/head.njk' %}
    {% block header %}{% endblock %}

  </head>
  <body class="ufs {{ bodyClass }}">

    {% include './partials/no-js-fallback.njk' %}
    {% include './partials/skip-link.njk' %}
    {% include './partials/cookie-message.njk' %}

    {% if newHeader %}
        {% include './partials/bulma-ufs-new-header.njk' %}
    {% else %}
        {#{% include './partials/bulma-ufs-header.njk' %}#}
        {% include './partials/bulma-ufs-new-header.njk' %}
    {% endif %}

    {#<div class="" data-block>#}
        {% block bodyContentWrapper %}{% endblock %}
    {#</div>#}

    {% include './partials/bulma-ufs-footer.njk' %}
    {% include './partials/ufs-body-scripts.njk' %}

    {% block bodyScripts %}{% endblock %}

      <script>
        Zepto(function($){
          if (!document.cookie.match('cookieBannerDismissed')) {
            $('#global-cookie-message').removeClass('cookie-hidden');
          }
          let date = new Date();
          let daysValidFor = 30;
          date.setTime(date.getTime() + (daysValidFor*24*60*60*1000));
          let expires = 'expires='+ date.toUTCString();
          $('#dismissCookieBanner').on('click', function(event) {
            $('#global-cookie-message').hide().addClass('cookie-hidden');
            document.cookie = 'cookieBannerDismissed=true;' + expires + '; path=/';
          });
        })
      </script>

  </body>
</html>
