{% extends './base.layout.njk' %}
{% set mainContainerClass = 'new-gds' %}

{% block bodyContentWrapper %}

{% include './partials/phase-banner.njk' %}
{% include './partials/breadcrumbs.njk' %}
<main id="content" class="govuk-main-wrapper govuk-main-wrapper--auto-spacing {{ mainContainerClass if mainContainerClass }} ">

  {#{% filter prismFullpage %}#}
    {% block content %}{% endblock %}
  {#{% endfilter %}#}
</main>
{% endblock %}
