{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set pageTitle = 'APP1740 info' + GLOBAL_TAG_TITLE_SUFFIX %}
{#{% set showSmoothScrollscripts = true %}#}
{% set showStickyNavscripts = true %}

{% set projectName = projectName if projectName %}

{% set listItems = [
    { text: '1. Details', url: '#details' },
    { text: '2. Eligibility - applicant', url: '#applicant' },
    { text: '3. Eligibility - research area', url: '#area' },
    { text: '4. Current research activity', url: '#current' },
    { text: '5. Research history', url: '#history' },
    { text: '6. Review', url: '#review' }
] %}
}

{% set detailsInput = detailsInput if detailsInput %}
{% set eligibilityInput = eligibilityInput if eligibilityInput %}
{% set programmeTopic = programmeTopic if programmeTopic %}
{% set widerEffect = widerEffect if widerEffect %}
{% set researchExperience = researchExperience if researchExperience %}
{% set writeReview = writeReview if writeReview %}
{% set readOnly = readOnly if readOnly %}

{% set isAdminUser = true %}
{% set navType = 'admin' %}

{% set actionText = 'View this section' if readOnly else 'Edit this section'%}


{% set backLinkContents =  [{url:'/prototypes/application-v2/', text:'Back to application'}] %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='APP1740', caption='OPP546: Strength in places fund, round 3') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-full') %}
            <div class="govuk-tabs" data-module="govuk-tabs">
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#">Application info</a>
                    </li>
                    <li class="govuk-tabs__list-item ">
                        <a class="govuk-tabs__tab" href="/prototypes/application-v2/admin-view">Read application</a>
                    </li>
                </ul>
            </div>
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow(extraClass='u-space-b30') %}

        {% call components.bulmaColumnAny(size='is-8', customID='main-content') %}
            <div class="application-data">
                <dl class="application-data__list">
                    <dt class="application-data__key">Application reference:</dt>
                    <dd class="application-data__value">APP1740</dd>
                    <dt class="application-data__key">Application title:</dt>
                    <dd class="application-data__value">Bio-detoxification of Ricin in castor bean</dd>
                    <dt class="application-data__key">Applicant:</dt>
                    <dd class="application-data__value">Prof. Jane Doe</dd>
                    <dt class="application-data__key">Email:</dt>
                    <dd class="application-data__value">jane.doe@cardiffuniversity.ac.uk</dd>
                    <dt class="application-data__key">Organisation:</dt>
                    <dd class="application-data__value">Cardiff Univeristy</dd>
                </dl>
            </div>

        {%- endcall %}

        {% call components.bulmaColumnAny(size='is-4 if-offset-1') %}

            <div class="govuk-related-items govuk-related-items--flush">
                <div class="application-data">
                    <dl class="application-data__list">
                        <dt class="application-data__key">Status:</dt>
                        <dd class="application-data__value">Submitted 3:30pm 12 August 2020</dd>
                    </dl>
                </div>
                <ul class="govuk-list u-space-t10">
                    <li><a href="#" class="govuk-link sub-button ">Re-open application</a></li>
                </ul>
            </div>

        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow(extraClass='u-space-b30') %}

        {% call components.bulmaColumnAny(size='is-8', customID='main-content') %}

            <details class="govuk-details u-space-t20" data-module="govuk-details" role="group">
                <summary class="govuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
                    <span class="govuk-details__summary-text">Mark this application as ineligible</span>
                </summary>
                <div class="govuk-details__text" id="details-content-0" aria-hidden="true">
                    <p class="govuk-body">Aenean gravida viverra leo quis blandit. Integer nunc nunc, dignissim a nibh et, lacinia ornare metus. Pellentesque elementum metus sed mauris cursus ornare. Ut venenatis massa nec risus cursus blandit. In imperdiet nisi eget diam semper, sit amet venenatis turpis faucibus. Vestibulum finibus lobortis vulputate. Nam hendrerit sapien eget pellentesque ultrices. Curabitur urna ante, tempor nec bibendum quis, rutrum sed arcu. Etiam nec aliquet lacus. Aenean gravida viverra leo quis blandit. Integer nunc nunc, dignissim a nibh et, lacinia ornare metus. Pellentesque elementum metus sed mauris cursus ornare. Ut venenatis massa nec risus cursus blandit. In imperdiet nisi eget diam semper, sit amet venenatis turpis faucibus. Vestibulum finibus lobortis vulputate.</p>
                </div>
            </details>

        {%- endcall %}
    {%- endcall %}

{% endblock %}
{% block bodyScripts %}
    <script type="text/javascript">
      /* smooth-scroll.js v1.3.1 */
      /*
      n=0,
      r=500,
      i=15,
      */
      (function(e,t){
        "use strict";
        var n=0,
          r=250,
          i=15,
          s=document.getElementsByTagName("a"),
          o;
        for(var u=0;u<s.length;u++){o=s[u].attributes.href===t?null:s[u].attributes.href.nodeValue.toString();if(o!==null&&o.length>1&&o.indexOf("#")!=-1){s[u].onclick=function(){var n,s=this.attributes.href.nodeValue.toString(),o=s.substr(0,s.indexOf("#")),u=s.substr(s.indexOf("#")+1);if(n=document.getElementById(u)){var l=(r-r%i)/i,c=f(),h=(a(n)-c)/l;if(e.history&&typeof e.history.pushState=="function")e.history.pushState({},t,o+"#"+u);for(var p=1;p<=l;p++){(function(){var t=h*p;setTimeout(function(){e.scrollTo(0,t+c)},i*p)})()}return false}}}}var a=function(e){var r=n*-1;while(e.offsetParent!=t&&e.offsetParent!=null){r+=e.offsetTop+(e.clientTop!=null?e.clientTop:0);e=e.offsetParent}return r};var f=function(){return e.pageYOffset!==t?e.pageYOffset:document.documentElement.scrollTop!==t?document.documentElement.scrollTop:document.body.scrollTop}})(window)
    </script>


    <script>
      Zepto(function($){
        $(window).on('load', function() {
          console.log('window loaded');
          $('.govuk-tabs__tab').attr('tabindex', '');
        });
      });
    </script>

{% endblock %}




