{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set pageTitle = APPLICATION_TEAM_TITLE_TAG + GLOBAL_TAG_TITLE_SUFFIX %}
{% set projectName = projectName if projectName %}
{% set allApplicationTeam = allApplicationTeam if allApplicationTeam %}
{% set backLinkContents =  [{url:'/prototypes/application-v2/', text:'Back to application'}] %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text=APPLICATION_TEAM_TITLE, caption=projectName) }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-full') %}

            {#{{ components.paragraph(text='For this Opportunity, only one applicant is required who must be the person whose login details are shown below. Mark as complete to continue with the application.', size='')}}#}

            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">Guidance on adding and managing applicants</span>
                </summary>
                <div class="govuk-details__text">Content required</div>
            </details>

            <p class="">
                <a class="govuk-button govuk-button--secondary" href="/prototypes/application-v2/add-applicant" role="button" data-module="govuk-button">Add applicant</a>
            </p>

        {%- endcall %}

    {%- endcall %}

    {% call components.form(action='/prototypes/application-v2/application-team', method='POST',name='formApplicationTeam') %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-full') %}

                <table class="govuk-table">
                    <caption class="govuk-table__caption">Cardiff University</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Name</th>
                            <th scope="col" class="govuk-table__header">Email</th>
                            <th scope="col" class="govuk-table__header">Role</th>
                            <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Actions</span></th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Dr. Jane Doe</td>
                            <td class="govuk-table__cell">{{ components.link(text='jane.doe@cardiffuniversity.ac.uk', url='#') }}</td>
                            <td class="govuk-table__cell">Lead applicant</td>
                            <td class="govuk-table__cell">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-full') %}

                {% call components.formGroup() %}
                    <div class="application-item">
                        <div class="application-item__contents">
                            <fieldset class="govuk-fieldset" aria-describedby="markAsComplete">
                                <legend class="govuk-fieldset__legend govuk-visually-hidden">
                                    <h3 class="govuk-fieldset__heading" id="">Mark as complete</h3>
                                </legend>
                                <div class="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="markAsComplete" name="isComplete" type="checkbox" {% if allApplicationTeam.isComplete == 'on' %} checked{% endif %}>
                                        <label class="govuk-label govuk-checkboxes__label" for="markAsComplete">Mark as complete</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                {%- endcall %}

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-full') %}

                <div class="application-controls govuk-clearfix">
                    {{ components.button(text='Save and return', extraClass="application-controls__submit")}}

                    {#<span class="sub-button">
                        {{ components.link(text='Cancel', url='/prototypes/application-v2/')}}
                    </span>#}
                </div>

            {%- endcall %}

        {%- endcall %}


    {%- endcall %}

{% endblock %}

{% block bodyScripts %}
   {# <script>
      Zepto(function($){
        $('#showInviteRow').on('click', function(event) {
          $('#hiddenInviteRow').removeClass('govuk-visually-hidden');
          $('#hiddenPendingRow').addClass('govuk-visually-hidden');
          event.preventDefault();
        });
        $('#sendInvite').on('click', function(event) {
          // pendingFullName, pendingEmail
          $('#hiddenInviteRow').addClass('govuk-visually-hidden');
          $('#pendingFullName').html($('#teamFullName').val());
          $('#pendingEmail').html('<a href="#">'+ $('#teamEmail').val() + "</a>");
          $('#hiddenPendingRow').removeClass('govuk-visually-hidden');
          $('#teamFullName').val('');
          $('#teamEmail').val('');
          event.preventDefault();
        });
        $('#cancelInvite').on('click', function(event) {
          $('#hiddenInviteRow').removeClass('govuk-visually-hidden');
          $('#hiddenPendingRow').addClass('govuk-visually-hidden');
          $('#teamFullName').val('');
          $('#teamEmail').val('');
          event.preventDefault();
        });
      })
    </script>#}
{% endblock %}


