{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set pageTitle = 'Details and summary' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set projectName = projectName if projectName %}
{#{% set showSimpleTinyMCEScripts = true %}#}
{% set detailsInput = detailsInput if detailsInput %}
{% set backLinkContents =  [{url:'/prototypes/application-v2/', text:'Back to application'}] %}
{% set projectDetailsIsComplete = projectDetailsIsComplete if projectDetailsIsComplete%}
{% set readOnly = readOnly if readOnly %}

{% block content %}
    <style>
        .tox-statusbar__wordcount, .tox-statusbar__branding { display: none!important}
    </style>
    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Details and summary', caption=projectName) }}
        {%- endcall %}
    {%- endcall %}

    {% if readOnly %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-full') %}

                {{ components.alerts(text='You are in read-only view and nothing can be edited', type='info')}}

            {%- endcall %}

        {%- endcall %}

    {% endif %}

    {% call components.form(action='/prototypes/application-v2/details', method='POST',name='formProjectTeam') %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-full') %}

                {% call components.formGroup() %}

                    {#{{ components.field(label='Project name', hint='Enter the full name of your proposed project', labelBold=true, id='projectName', value=projectName) }}#}

                    <div class="govuk-form-group ">
                        <label class="govuk-label govuk-label--s  govuk-!-font-weight-bold " for="projectName">Application name
                            <span class="govuk-hint">This should be the title of the programme you would like to make for BBC Radio 3</span>
                        </label>
                        <input class="govuk-input " id="projectName" type="text" name="projectName" value="" {% if readOnly %} disabled {% endif %}>
                    </div>

                {%- endcall %}

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-full') %}

                <div class="govuk-form-group ">
                    <label class="govuk-label govuk-label--s  govuk-!-font-weight-bold " for="projectSummary">Summary
                        <span class="govuk-hint">Provide a brief pitch for an engaging Radio 3 programme of up to 45 minutes</span>
                    </label>
                    <details class="govuk-details" data-module="govuk-details" role="group">
                        <summary class="govuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
                            <span class="govuk-details__summary-text">Guidance for writing a summary</span>
                        </summary>
                        <div class="govuk-details__text" id="details-content-0" aria-hidden="true">
                            <p class="govuk-body">Focusing on one aspect of your research, give a clear outline of your idea including the format your programme would take.
                            <br><br>Keep in mind this will be for a non-academic audience. The assessors are looking for ideas that:
                            <br><br> &bull; are based on a strong and innovative programme concept
                            <br><br> &bull; will engage and excite the public
                            <br><br> &bull; explain the relevance of your research and what the findings mean in an accessible way
                            <br><br> &bull; demonstrate creative and original thinking with personality and flair
                            </p>
                        </div>
                    </details>
                    <textarea class="govuk-textarea govuk-js-character-count" name="projectSummary" id="projectSummary" rows="18" {% if readOnly %} disabled {% endif %}>{{ detailsInput }}</textarea>
                    <p><span id="wordCount" class="govuk-hint govuk-character-count__message" aria-live="polite">You have 250 words remaining</span></p>
                </div>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-full') %}

                {% call components.formGroup() %}
                    <div class="application-item">
                        <div class="application-item__contents">
                            <fieldset class="govuk-fieldset" aria-describedby="markAsComplete">
                                <legend class="govuk-fieldset__legend govuk-visually-hidden">
                                    <h3 class="govuk-fieldset__heading" id="">Mark as complete</h3>
                                </legend>
                                <div class="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="markAsComplete" name="isComplete" type="checkbox" {% if projectDetailsIsComplete %} checked{% endif %} {% if readOnly %} disabled {% endif %}>
                                        <label class="govuk-label govuk-checkboxes__label" for="markAsComplete">Mark as complete</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                {%- endcall %}

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-full') %}

                {% call components.formGroup() %}
                    <div class="application-controls govuk-clearfix">
                        {% if readOnly %}
                            <a href="http://localhost:3002/prototypes/application-v2/" class="govuk-link">Return to application</a>
                        {% else %}
                                {{ components.button(text='Save and return', extraClass="application-controls__submit")}}
                        {% endif %}
                    </div>
                {%- endcall %}

            {%- endcall %}

        {%- endcall %}

    {%- endcall %}

{% endblock %}
{% block bodyScripts %}
    <script>
      ;(function(){
        let wordcounter = document.getElementById('projectSummary');
        let counteroutputFoot = document.getElementById('wordCount');
        let words;
        const limit = 400;

        function countemwords(){
          words = (wordcounter.value == '')? 0 : wordcounter.value.split(' ').length;
          let remainder = limit - words;
          if (words < limit) {
            wordcounter.classList.remove('govuk-textarea--error');
            counteroutputFoot.innerHTML = 'You have ' + remainder + ' words remaining';
          } else {
            let overCount = words - limit;
            wordcounter.classList.add('govuk-textarea--error');
            counteroutputFoot.innerHTML = '<span style="font-weight:700;color:red">You have ' +  overCount + ' words too many</span>';
          }
        }
        wordcounter.addEventListener('input', function(e){
          countemwords()
        }, false);
        document.addEventListener("DOMContentLoaded", function(event) {
          countemwords()
        }, false);
        window.addEventListener("load", function(event) {
          countemwords();
        }, false)
      })();
    </script>
{% endblock %}
