{% extends 'layouts/bulma-ufs.layout.njk' %}

{#{% set bodyClass = 'new-gds' %}#}
{% set pageTitle = APPLICATION_OVERVIEW_TITLE_TAG + GLOBAL_TAG_TITLE_SUFFIX %}
{#{% set showTinyMCEScripts = true %}#}
{% set storedSpeakerNotes = storedSpeakerNotes if storedSpeakerNotes %}
{% set projectName = projectName if projectName %}
{% set projectDetails = projectDetails if projectDetails %}
{% set hasBeenUpdated = hasBeenUpdated if hasBeenUpdated %}
{#{% set teamHasBeenUpdated = teamHasBeenUpdated if teamHasBeenUpdated %}
{% set caseHasBeenUpdated = caseHasBeenUpdated if caseHasBeenUpdated %}
{% set capabilityHasBeenUpdated = capabilityHasBeenUpdated if capabilityHasBeenUpdated %}
{% set ethicalHasBeenUpdated = ethicalHasBeenUpdated if ethicalHasBeenUpdated %}
{% set resourcesHasBeenUpdated = resourcesHasBeenUpdated if resourcesHasBeenUpdated %}#}

{% set projectDetailsIsComplete = projectDetailsIsComplete if projectDetailsIsComplete %}
{% set applicantIsComplete = applicantIsComplete if applicantIsComplete %}

{% set progressPercentage = progressPercentage if progressPercentage %}
{% set reverseProgressPercentage = reverseProgressPercentage if reverseProgressPercentage %}


{% set backLinkContents =  [{url:'/prototypes/application-v2/opportunity', text:'Back to Opportunity'}] %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text=APPLICATION_OVERVIEW_TITLE_TAG, caption=projectName) }}
        {%- endcall %}
    {%- endcall %}

    {% if hasBeenUpdated %}
        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-full') %}

                {{ components.alerts(text='You have successfully updated your application', type='success')}}

            {%- endcall %}

        {%- endcall %}
    {% endif %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-full') %}
            <div class="govuk-tabs" data-module="govuk-tabs">
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#">Write application</a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="/prototypes/application-v2/view">Read application</a>
                    </li>
                </ul>
            </div>
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

         {% call components.bulmaColumnAny(size='is-7', extraClass='u-space-t20') %}

             <div class="application-item {% if projectDetailsIsComplete %}application-item--complete{% else %}application-item--incomplete{% endif %} application-item--skinny application-item--skinny-last">
                 <div class="application-item__contents govuk-clearfix">
                     <div class="application-item__left">{{ components.link(text='1. Details', url='/prototypes/application-v2/details')}}</div>
                     <div class="application-item__right">
                         {% if projectDetailsIsComplete %}
                             <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Complete</span>
                         {% else %}
                             <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Incomplete</span>
                         {% endif %}
                     </div>
                 </div>
             </div>

             <div class="application-item {% if applicantIsComplete %}application-item--complete{% else %}application-item--incomplete{% endif %} application-item--skinny application-item--skinny-last">
                 <div class="application-item__contents govuk-clearfix">
                     <div class="application-item__left">{{ components.link(text='2. Eligibility - applicant', url='/prototypes/application-v2/eligibility-applicant')}}</div>
                     <div class="application-item__right">
                         {% if applicantIsComplete %}
                             <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Complete</span>
                         {% else %}
                             <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Incomplete</span>
                         {% endif %}
                     </div>
                 </div>
             </div>

             <div class="application-item {% if researchIsComplete %}application-item--complete{% else %}application-item--incomplete{% endif %} application-item--skinny application-item--skinny-last">
                 <div class="application-item__contents govuk-clearfix">
                     <div class="application-item__left">{{ components.link(text='3. Eligibility - research area', url='/prototypes/application-v2/eligibility-research-area')}}</div>
                     <div class="application-item__right">
                         {% if researchIsComplete %}
                             <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Complete</span>
                         {% else %}
                             <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Incomplete</span>
                         {% endif %}
                     </div>
                 </div>
             </div>

             <div class="application-item {% if activityIsComplete %}application-item--complete{% else %}application-item--incomplete{% endif %} application-item--skinny application-item--skinny-last">
                 <div class="application-item__contents govuk-clearfix">
                     <div class="application-item__left">{{ components.link(text='4. Current research activity', url='/prototypes/application-v2/current-research-activity')}}</div>
                     <div class="application-item__right">
                         {% if activityIsComplete %}
                             <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Complete</span>
                         {% else %}
                             <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Incomplete</span>
                         {% endif %}
                     </div>
                 </div>
             </div>

             <div class="application-item {% if historyIsComplete %}application-item--complete{% else %}application-item--incomplete{% endif %} application-item--skinny application-item--skinny-last">
                 <div class="application-item__contents govuk-clearfix">
                     <div class="application-item__left">{{ components.link(text='5. Research history', url='/prototypes/application-v2/research-history')}}</div>
                     <div class="application-item__right">
                         {% if historyIsComplete %}
                             <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Complete</span>
                         {% else %}
                             <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Incomplete</span>
                         {% endif %}
                     </div>
                 </div>
             </div>

             <div class="application-item {% if reviewIsComplete %}application-item--complete{% else %}application-item--incomplete{% endif %} application-item--skinny application-item--skinny-last">
                 <div class="application-item__contents govuk-clearfix">
                     <div class="application-item__left">{{ components.link(text='6. Review', url='/prototypes/application-v2/review')}}</div>
                     <div class="application-item__right">{##}
                         {% if reviewIsComplete %}
                             <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Complete</span>
                         {% else %}
                             <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Incomplete</span>
                         {% endif %}
                     </div>
                 </div>
             </div>

            <div class="application-controls govuk-clearfix">

                {% if progressPercentage == 100 %}

                    <p class="govuk-body">Submitting will send your application to UKRI. You will not be able to make changes to your application or resubmit after this point.</p>

                    {{ components.button(text='Submit', extraClass="application-controls__submit")}}
               {# {%  else %}#}
                    {#{{ components.button(text='Submit application for approval', extraClass="application-controls__submit", disabled=true)}}#}
                {% endif %}

                {#{{ components.link(text='Cancel/withdraw application', url='#', extraClass="application-controls__cancel", disabled=true)}}#}
            </div>

        {%- endcall %}

        {% call components.bulmaColumnAny(size='is-4 is-offset-1') %}

            <div class="progress-meter">
                <div class="progress-meter__text progress-meter__text--back" role="progress-bar" aria-valuenow="27%"><span class="govuk-visually-hidden">Your application is</span> {{ progressPercentage }}% complete</div>
                <div class="progress-meter__clipper" aria-hidden="true" style="clip-path: inset(0% {{ reverseProgressPercentage }}% 0% 0%); -webkit-clip-path: inset(0% {{ reverseProgressPercentage }}% 0% 0%)">
                    <div class="progress-meter__text progress-meter__text--front">{{ progressPercentage }}% complete</div>
                </div>
            </div>

            <div class="application-data">
                <dl class="application-data__list">
                    <dt class="application-data__key">Funding opportunity:</dt>
                    <dd class="application-data__value">OPP334: New Generation Thinkers 2020</dd>

                    <dt class="application-data__key">Application reference:</dt>
                    <dd class="application-data__value">APP00171</dd>

                    <dt class="application-data__key">Application deadline</dt>
                    <dd class="application-data__value">Tuesday 8 October 2020, 4:00pm</dd>

                    <dt class="application-data__key">Funder</dt>
                    <dd class="application-data__value">AHRC</dd>
                </dl>
            </div>

        {%- endcall %}

    {%- endcall %}

{% endblock %}
