{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set pageTitle = 'AHRC New Generation Thinkers scheme ' + GLOBAL_TAG_TITLE_SUFFIX %}

{% set backLinkContents =  [{url:'/prototypes/application-v2/project-listings', text:'Back to all Opportunities'}] %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='AHRC New Generation Thinkers scheme') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-8', extraClass='u-space-t20') %}

            <ul class="opportunity-meta govuk-list">
                <li class="opportunity-meta__item">
                    <span class="opportunity-meta__title">Opportunity status:</span>
                    <span class="opportunity-meta__details">Open</span>
                </li>
                <li class="opportunity-meta__item">
                    <span class="opportunity-meta__title">Funder:</span>
                    <span class="opportunity-meta__details"><a href="#" class="govuk-link">Arts and Humanities Research Council (AHRC)</a></span>
                </li>
                <li class="opportunity-meta__item">
                    <span class="opportunity-meta__title">Funding type:</span>
                    <span class="opportunity-meta__details">Outline Application</span>
                </li>
                <li class="opportunity-meta__item">
                    <span class="opportunity-meta__title">Publication date:</span>
                    <span class="opportunity-meta__details">Wednesday 29 July 2020</span>
                </li>
                <li class="opportunity-meta__item">
                    <span class="opportunity-meta__title">Opening date:</span>
                    <span class="opportunity-meta__details">Wednesday 29 July 2020</span>
                </li>
                <li class="opportunity-meta__item">
                    <span class="opportunity-meta__title">Closing date:</span>
                    <span class="opportunity-meta__details">Open</span>
                </li>
            </ul>

            <p class="govuk-body">Last updated:  3 August 2020</p>

            <p class="govuk-body"><a href="/prototypes/application-v2/" class="govuk-button govuk-button--start">Start an application</a> </p>

            <h2 class="govuk-heading-s">Summary</h2>

            <p class="govuk-body">The Arts and Humanities Research Council, BBC Radio 3 New Generation Thinkers scheme gives 60 applicants the chance to workshop programme ideas with experienced BBC producers. Of these, up to 10 will become an Arts and Humanities Research Council, BBC Radio 3 New Generation Thinker. They will benefit from a unique opportunity to make programmes for Radio 3 and other outlets, as well as contributing to wider media through the AHRC. In addition, the scheme partners with BBC Four, where some of the selected researchers will be given the opportunity to present a programme for TV.</p>

            <p class="govuk-body">Previous New Generation Thinkers have presented at the Hay Festival and the Being Human Festival, and have been interviewed for flagship BBC programmes as well as by other media and broadcasters. The scheme is vital in developing their talents and abilities to deliver knowledge to a wider audience. Previous New Generation Thinkers have written and read episodes of The Essay for BBC Radio 3.You can read interviews with <a href="#" class="govuk-link">previous participants on the AHRC website</a> and listen to their performances on the <a href="#" class="govuk-link">BBC website</a>.</p>

            <p class="govuk-body">For successful applicants it can be a career-changing experience: the training and mentoring opportunities (which are provided free of charge and right from the start of the process) are envied in many circles.</p>

            <h2 class="govuk-heading-s">Aim of scheme</h2>

            <p class="govuk-body">The New Generation Thinkers scheme is a development opportunity for early career researchers cultivating their skills to communicate their research findings to those outside the academic community.

            <p class="govuk-body">While the principal aim of the AHRC is to fund research of the highest quality across a diverse range of disciplines, it also has a duty to enhance the public’s understanding of the arts and humanities and communicate that research to people who can make use of it. One of the most effective ways of reaching a public audience, changing public opinion and influencing policy and practice is to work with the media.</p>

            <p class="govuk-body">The BBC also wants to find a new generation of academics who can bring the best of the latest university research and scholarly ideas to a broad audience. This is part of Radio 3’s dedication to commissioning and developing emerging talent in music and the arts.</p>

                <p class="govuk-body">Applications need to be able to propose an engaging and stimulating programme idea as well as show an ability to talk and write about other areas within the arts and humanities in an accessible and interesting manner, with an awareness of a wider listening audience.</p>

            <h2 class="govuk-heading-s">Eligibility</h2>

            <p class="govuk-body">To apply for the New Generation Thinkers scheme, you must be:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>a UK resident, and</li>
                <li>Over the age of 18, and</li>
                <li>Currently working or studying at a UK research organisation that is eligible to receive funding from UK Research and Innovation, and</li>
            </ul>
            <p class="govuk-body">You must also be either:</p>
            <ol class="govuk-list govuk-list--alpha">
                <li>A current PhD student who has made considerable progress on your research, for example within one year of submission, or</li>

                <li>Within eight years of the award of your PhD, excluding any period of career break such as parental leave, caring responsibilities or health reasons, or</li>

                <li>Within six years of your first academic appointment, excluding any period of career break such as parental leave, caring responsibilities or health reasons. This must be a paid contract of employment, either full-time or part-time, which lists research and/or teaching as the primary function, including research assistantships.</li>

            </ol>




        {%- endcall %}

        {% call components.bulmaColumnAny(size='is-4 _is-offset-1') %}

            <h2 class="govuk-heading-m">Timeline</h2>
            <div class="timeline">
                <ul class="timeline__list">
                    <li class="timeline__item">
                        <span class="timeline__title">8 October 2020 4pm</span>
                        <span class="timeline__meta">Application deadline</span>
                    </li>
                    <li class="timeline__item">
                        <span class="timeline__title">22 November 2020</span>
                        <span class="timeline__meta">Assessment meeting</span>
                    </li>
                    <li class="timeline__item">
                        <span class="timeline__title">9 December 2020</span>
                        <span class="timeline__meta">Applicants informed of decisions</span>
                    </li>
                    <li class="timeline__item">
                        <span class="timeline__title">15 January 2021</span>
                        <span class="timeline__meta">Workshop 1 (Salford)</span>
                    </li>
                    <li class="timeline__item">
                        <span class="timeline__title">20 January 2021</span>
                        <span class="timeline__meta">Workshop 2 (London)</span>
                    </li>
                    <li class="timeline__item">
                        <span class="timeline__title">22 January 2021</span>
                        <span class="timeline__meta">Workshop 3 (London)</span>
                    </li>
                    <li class="timeline__item">
                        <span class="timeline__title">30 January 2021</span>
                        <span class="timeline__meta">Final ten advised</span>
                    </li>
                    <li class="timeline__item">
                        <span class="timeline__title">18-19 February 2021</span>
                        <span class="timeline__meta">Media training, photography and event</span>
                    </li>
                    <li class="timeline__item">
                        <span class="timeline__title">25  March 2021</span>
                        <span class="timeline__meta">Finalist record Radio 3 programme</span>
                    </li>
                </ul>

            </div>

        {%- endcall %}

    {%- endcall %}

{% endblock %}
