{% set showExternalFurniture = true %}
{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set pageTitle = 'AHRC New Generation Thinkers scheme ' + GLOBAL_TAG_TITLE_SUFFIX %}

{% set backLinkContents =  [{url:'/prototypes/application-v2/project-listings', text:'Back to all Opportunities'}] %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='AHRC New Generation Thinkers scheme') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-8', extraClass='u-space-t20') %}

            <ul class="opportunity-meta govuk-list">
                <li class="opportunity-meta__item">
                    <span class="opportunity-meta__title">Opportunity status:</span>
                    <span class="opportunity-meta__details">Open</span>
                </li>
                <li class="opportunity-meta__item">
                    <span class="opportunity-meta__title">Funder:</span>
                    <span class="opportunity-meta__details"><a href="#" class="govuk-link">Arts and Humanities Research Council (AHRC)</a></span>
                </li>
                <li class="opportunity-meta__item">
                    <span class="opportunity-meta__title">Co-funder:</span>
                    <span class="opportunity-meta__details">BBC</span>
                </li>
                <li class="opportunity-meta__item">
                    <span class="opportunity-meta__title">Funding type:</span>
                    <span class="opportunity-meta__details">Public engagement</span>
                </li>
                <li class="opportunity-meta__item">
                    <span class="opportunity-meta__title">Publication date:</span>
                    <span class="opportunity-meta__details">Wednesday 29 June 2020</span>
                </li>
                <li class="opportunity-meta__item">
                    <span class="opportunity-meta__title">Opening date:</span>
                    <span class="opportunity-meta__details">Wednesday 20 August 2020</span>
                </li>
                <li class="opportunity-meta__item">
                    <span class="opportunity-meta__title">Closing date:</span>
                    <span class="opportunity-meta__details">1 October 2020 4:00pm</span>
                </li>
            </ul>

            <p class="govuk-body">Last updated: 3 August 2020</p>

            <p class="govuk-body"><a href="/prototypes/register-v1/start" class="govuk-button govuk-button--start">Start an application</a> </p>

            {#<div class="alerts ">
                <h2 class="govuk-heading-s">This Opportunity is not available through the Je-S platform</h2>
                You will need to create an account with the new UKRI Funding Service, which allows you to save your work as you go along.
            </div>#}

            <p class="govuk-body">With this Opportunity, AHRC and the BBC combine to help a new generation of academics bring fresh university research and thinking to a broad audience. </p>

            <p class="govuk-body">This Opportunity gives 60, early-career researchers the chance to workshop radio programme ideas with experienced BBC producers. The 10 best will be selected as New Generation Thinkers, going on to experience a year of focused activity and development from the BBC and AHRC. This culminates in making programmes for Radio 3 and other outlets, and contributing to wider media through the AHRC. Some of the selected researchers will also get the opportunity to work with BBC Four to present a TV programme.</p>

            <p class="govuk-body">Previous New Generation Thinkers have presented at the Hay Festival and the Being Human Festival, and have been interviewed by flagship BBC programmes and other media and broadcasters. </p>

            <p class="govuk-body">To get a good idea of what we’re looking for, we recommend you <a href="#" class="govuk-link">listen to work by previous New Generation Thinkers</a> on the BBC website before you apply. You can also find more examples and other information about the scheme on AHRC's <a href="#" class="govuk-link">New Generation Thinkers webpage</a>.</p>


            <div class="govuk-accordion ukri-accordion" data-module="govuk-accordion" id="accordion-default"><div class="govuk-accordion__controls"></div>

                <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading ukri-accordion__section-heading">
                            <button type="button" id="accordion-default-heading-1" aria-controls="accordion-default-content-1" class="govuk-accordion__section-button" aria-expanded="false">
                                Who can apply
                            </button><span class="govuk-accordion__icon" aria-hidden="true"></span></h2>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                        <p class="govuk-body">To apply for the New Generation Thinkers scheme, you must be: </p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>a UK resident</li>
                            <li>over the age of 18</li>
                            <li>studying a relevant area of research (see ‘Your research’, below).</li>
                            <li>currently working or studying at a UK research organisation that is eligible to receive funding from UK Research and Innovation, and</li>
                        </ul>

                        <p class="govuk-body">You must also fit one of these categories:</p>
                        <ol class="govuk-list govuk-list--alpha">
                            <li>a current PhD student who has made considerable progress on your research, for example within one year of submission, or</li>
                            <li>within eight years of the award of your PhD, excluding any period of career break such as parental leave, caring responsibilities or health reasons, or</li>
                            <li>within six years of your first academic appointment, excluding any period of career break such as parental leave, caring responsibilities or health reasons. This must be a paid contract of employment, either full-time or part-time, which lists research and/or teaching as the primary function, including research assistantships.</li>
                        </ol>

                        <p class="govuk-body">You do not need to have a permanent contract of employment to be eligible, as long as you meet the conditions above.</p>

                        <p class="govuk-body">You can apply if you have applied to the scheme before, as long as you weren’t selected as a final New Generation Thinker.</p>

                        <p class="govuk-body">You cannot apply if you work for the BBC, the AHRC or UKRI.</p>

                        <h3 class="govuk-heading-s">Eligibility of your organisation</h3>
                        <p class="govuk-body">Your organisation must either be:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>a UK higher education institution that receives grant funding from a UK funding body, such as Research England, the Higher Education Funding Council for Wales, the Scottish Funding Council or the Department for Employment and Learning Northern Ireland, or</li>
                            <li>a <a href="#" class="govuk-link">research institute</a> that UKRI has an established, long-term involvement with as a major funder, or</li>
                            <li>an independent research organisation (IRO) which has been <a href="#" class="govuk-link">awarded IRO status by UKRI</a>.</li>
                        </ul>

                        <p class="govuk-body">You can find out more about organisation eligibility in the <a href="#" class="govuk-link">AHRC Research Funding Guide</a>.</p>

                        <h3 class="govuk-heading-s">Eligibility of your current research</h3>

                        <p class="govuk-body">Your research could involve bringing together arts and humanities research with other non-AHRC funded disciplines. We welcome interdisciplinary research but your main focus must be a subject discipline listed on the <a href="#" class="govuk-link">AHRC disciplines page</a> - if it is not listed, it is ineligible.</p>

                        <p class="govuk-body">We don’t favour applications from any particular research area. All applications are assessed on their own merits against the application criteria.</p>


                    </div>
                </div>

                <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading ukri-accordion__section-heading">

                            <button type="button" id="accordion-default-heading-2" aria-controls="accordion-default-content-2" class="govuk-accordion__section-button" aria-expanded="false">
                                What we're looking for
                            </button><span class="govuk-accordion__icon" aria-hidden="true"></span></h2>
                    </div>
                    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

                        <p class="govuk-body">The applicants who will go forward to the next round will demonstrate:</p>

                        <ul class="govuk-list govuk-list--bullet">
                            <li>how one area of their research could make a strong, clearly expressed and engaging programme for Radio 3 of up to 45 minutes</li>
                            <li>how this new research could have the potential to either change public opinion, influence policy or make a difference to people’s lives</li>
                            <li>creativity, originality and the potential to talk and write about other areas within the arts and humanities, in an accessible and interesting manner, particularly to a wider listening audience</li>
                            <li>that you are comfortable talking and writing about ideas from beyond your own research area, in an accessible and interesting way</li>
                            <li>a wide range of interests through their review and description of their current research</li>
                            <li>high standards of scholarship – clearly explained in interesting, well-written, jargon-free language, that’s editorially and stylistically suitable for a BBC audience.</li>
                        </ul>
                    </div>
                </div>

                <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading ukri-accordion__section-heading">

                            <button type="button" id="accordion-default-heading-3" aria-controls="accordion-default-content-3" class="govuk-accordion__section-button" aria-expanded="false">
                                How to apply
                            </button><span class="govuk-accordion__icon" aria-hidden="true"></span></h2>
                    </div>
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                        <p class="govuk-body govuk-!-font-weight-bold">You cannot apply for this Opportunity on the Je-S system.</p>


                        <p class="govuk-body">Select the ‘Start an application’ button toward the top of this page.</p>
                        <p class="govuk-body">This will take you to a screen to create an account with the new UKRI Funding Service. This is a two-minute process that requires you to verify your email address and create a password.</p>
                        <p class="govuk-body">You can then start answering the questions detailed below. By starting an application, you are not committed to submitting it. Equally, you can save changes as you go along and come back to it later. Your answers must be entered directly into the text fields provided – documents cannot be uploaded.</p>
                       <p class="govuk-body"> Make sure you gain any required approval from your organisation and ensure you submit before the deadline. Your application will not be sent to your Research Office – it will go directly to the assessors.</p>

                    </div>
                </div>

               <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading ukri-accordion__section-heading">

                            <button type="button" id="accordion-default-heading-4" aria-controls="accordion-default-content-4" class="govuk-accordion__section-button" aria-expanded="false">
                                Assessment and next steps
                            </button><span class="govuk-accordion__icon" aria-hidden="true"></span></h2>
                    </div>
                    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                        <p class="govuk-body">Following eligibility checking, the AHRC and the BBC will assess all remaining applications, assigning an initial grade (1 to 6) where 1 is unsatisfactory and 6 is exceptional. Each body will shortlist 60 applications to go forward for further scrutiny. A joint panel then discusses the applications and agrees the final 60 candidates to attend the workshops.</p>
                        <p class="govuk-body">Applicants will be notified of the decision. If you are unsuccessful at this stage, we are not able to provide individual feedback due to the volume of applications.</p>

                        <h3 class="govuk-heading-s">Stage two – workshops</h3>

                        <p class="govuk-body">At your workshop event, you will:</p>

                        <ul class="govuk-list govuk-list--bullet">
                            <li>learn from BBC staff how they commission, produce and present radio and television programmes</li>
                            <li>workshop programme ideas with the help of other candidates and producers</li>
                            <li>take part in interactive practice sessions, to showcase programme ideas and demonstrate your ability to communicate with the listening audience</li>
                            <li>have the chance to speak to AHRC staff about the scheme and the wider involvement of UKRI</li>
                            <li>meet fellow researchers.</li>
                        </ul>
                        <p class="govuk-body">You won’t be competing with other candidates. We assess each applicant on their performance as a whole, including their application.</p>
                        <p class="govuk-body">We’re not able to pay travel expenses to a workshop. Or compensation for time off in lieu of work for attending. You should approach your organisation, however, to see if they can provide any assistance. If you don’t attend the workshops or our later media training, you’ll be disqualified from the scheme and any subsequent expenses we may pay. </p>
                        <p class="govuk-body">We will provide guidance on how to obtain individual feedback on your performance, if you are unsuccessful at the workshop stage.</p>


                        <h3 class="govuk-heading-s">Stage three – final panel</h3>

                        <p class="govuk-body">The workshops and the selection process will be observed by representatives of the AHRC and the final decisions will be made in consultation with the AHRC.</p>
                        <p class="govuk-body">The Radio 3 team will monitor progress of the workshop attendees and form a panel to decide who will become one of the 10 Arts and Humanities Research Council, Radio 3 New Generation Thinker for 2021.</p>
                        <p class="govuk-body">The panel will use the same criteria for judging as at the application stage, as well as assessing verbal communications skills.</p>
                        <p class="govuk-body">We expect that this to happen within ten working days of the workshops.</p>

                        <h3 class="govuk-heading-s">Final applicants</h3>
                        <p class="govuk-body">The 10 successful applicants will:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>work with BBC producers to develop their own programme ideas for Radio 3 and receive input from BBC Arts</li>
                            <li>be invited to showcase their research and trial their programme idea at the BBC and AHRC events</li>
                            <li>appear regularly on air in Radio 3’s Free Thinking programme - available as a BBC Arts & Ideas podcast</li>
                            <li>write and present an edition of The Essay for Radio 3</li>
                            <li>have the chance to appear at AHRC events, including the Being Human Festival</li>
                            <li>work with the AHRC on appearances in the wider media</li>
                            <li>write articles for the AHRC blog and the AHRC website</li>
                            <li>attend a two-day session run by the AHRC on 16-17 February 2021 (TBC) at a central UK location. This will include a media training course, a photograph and filming session and an evening dinner on the first day. You must attend to continue being part of the scheme.</li>
                        </ul>
                        <p class="govuk-body">We will refund travel expenses for the final 10 New Generation Thinkers.</p>



                        <h3 class="govuk-heading-s">The judging process</h3>
                        <p class="govuk-body">The chair will ensure that all stated processes are adhered to and that all applications are treated in a consistent manner. The chair is also responsible for facilitating the panel discussions. The judges’ decision is final. We won’t enter into any correspondence regarding the judges’ decision.</p>
                        <p class="govuk-body">The BBC and the AHRC reserve the right to change any of the judges if necessary.</p>
                        <p class="govuk-body">The BBC and AHRC reserve the right to disqualify applicants at any stage, if we find that:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>you are ineligible</li>
                            <li>you misrepresented yourself in your application</li>
                            <li>any part of your research background is fraudulent (e.g. due to plagiarism)</li>
                            <li>you bring the scheme, the AHRC or the BBC into disrepute.</li>
                        </ul>
                        <p class="govuk-body">This is not an exhaustive list.</p>

                    </div>
                </div>

                <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading ukri-accordion__section-heading">
                            <button type="button" id="accordion-default-heading-1" aria-controls="accordion-default-content-1" class="govuk-accordion__section-button" aria-expanded="false">
                                Terms and conditions
                            </button><span class="govuk-accordion__icon" aria-hidden="true"></span></h2>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                        <p class="govuk-body">Terms and conditions in full</p>
                    </div>
                </div>

            </div>

        {%- endcall %}

        {% call components.bulmaColumnAny(size='is-4 _is-offset-1') %}

            <h2 class="govuk-heading-m">Timeline</h2>
            <div class="timeline">
                <ul class="timeline__list">
                    <li class="timeline__item">
                        <span class="timeline__title">29 June 2020</span>
                        <span class="timeline__meta">Opening date</span>
                    </li>
                    <li class="timeline__item">
                        <span class="timeline__title">16 June 2020 2pm</span>
                        <span class="timeline__meta">AHRC New Generation Thinkers webinar</span>
                    </li>
                    <li class="timeline__item">
                        <span class="timeline__title">22 June 2020 11am</span>
                        <span class="timeline__meta">AHRC New Generation Thinkers webinar</span>
                    </li>
                    <li class="timeline__item">
                        <span class="timeline__title">20 August 2020</span>
                        <span class="timeline__meta">Application form available in TFS</span>
                    </li>

                    <li class="timeline__item">
                        <span class="timeline__title">26 August 2020 1:00pm</span>
                        <span class="timeline__meta">AHRC New Generation Thinkers ‘How to Apply’ Webinar</span>
                    </li>
                    <li class="timeline__item">
                        <span class="timeline__title">10 September 2020 2:00pm</span>
                        <span class="timeline__meta">AHRC New Generation Thinkers ‘How to Apply’ Webinar</span>
                    </li>
                    <li class="timeline__item">
                        <span class="timeline__title">1 October 2020 4:pm</span>
                        <span class="timeline__meta">Closing date</span>
                    </li>
                    <li class="timeline__item">
                        <span class="timeline__title">November 2020</span>
                        <span class="timeline__meta">AHRC and BBC assessment meeting</span>
                    </li>
                    <li class="timeline__item">
                        <span class="timeline__title">7 November to 11 December 2020</span>
                        <span class="timeline__meta">Applicants informed of decisions</span>
                    </li>
                </ul>
            </div>

            <p class="govuk-body">The following dates are subject to change:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li><strong> 13 January 2021</strong>: Workshop 1</li>
                <li><strong> 18 January 2021</strong>: Workshop 2</li>
                <li><strong> 20 January 2021</strong>: Workshop 3</li>
                <li><strong> January 2021</strong>:Final 10 advised</li>
                <li><strong> 16-17 February 2021</strong>: Media training, photography and evening event</li>
                <li><strong> March 202</strong>1: Finalists record first </strong>Radio 3 programme</li>
            </ul>


            <div class="rel-box rel-box--external">
                <h2 class="govuk-heading-s">Eligibility</h2>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="#" class="govuk-link">AHRC international scheme workshop for applicants</a> </li>
                    <li><a href="#" class="govuk-link">Training and support for researchers</a> </li>
                </ul>
            </div>

            <div class="rel-box rel-box--external">
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="#" class="govuk-link">Print this page</a> </li>
                    <li><a href="#" class="govuk-link">Download as PDF</a> </li>
                </ul>
            </div>

        {%- endcall %}

    {%- endcall %}

{% endblock %}
