{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set pageTitle = 'Write a review' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set projectName = projectName if projectName %}
{% set allProjectDetails = allProjectDetails if allProjectDetails %}
{% set writeReviewIsComplete = writeReviewIsComplete if writeReviewIsComplete %}
{% set backLinkContents =  [{url:'/prototypes/application-v2/', text:'Back to application'}] %}
{% set readOnly = readOnly if readOnly %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Write a review', caption=projectName) }}
        {%- endcall %}
    {%- endcall %}

    {% if readOnly %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-full') %}

                {{ components.alerts(text='You are in read-only view and nothing can be edited', type='info')}}

            {%- endcall %}

        {%- endcall %}

    {% endif %}

    {% call components.form(action='/prototypes/application-v2/review', method='POST',name='formWriteReview') %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-full') %}

                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
                    <div class="govuk-form-group ">
                        <label class="govuk-label govuk-label--s govuk-!-font-weight-bold" for="writeReview">Review a book, film, play, poetry, current exhibition or cultural event.</label>
                        <details class="govuk-details u-space-t20" data-module="govuk-details" role="group">
                            <summary class="govuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
                                <span class="govuk-details__summary-text">What you should include in your answer</span>
                            </summary>
                            <div class="govuk-details__text" id="details-content-0" aria-hidden="true">
                                <p class="govuk-body">
                                    Review a new film, play, novel, book of poetry, exhibition or any other cultural event of which you have personal and recent experience. This should be of interest to and written for a non-academic audience, and must be on a topic and discipline separate from your research. Write the review as if you were going to read it on air as a short essay for BBC Radio 3 – you can listen to examples online. Remember that Free Thinking makes a link between arts and ideas, so your review will need to explore ideas within or prompted by the work and not simply discuss its apparent quality.<br><br>
                                    The assessors are particularly looking for:
                                    <br><br>&bull; links between arts and ideas, where you explore ideas within or prompted by the work
                                    <br><br>&bull; comfort with communicating ideas outside of your research area in an interesting, well written and engaging manner
                                    <br><br>&bull; editorial and stylistic suitability for a Radio 3 audience.

                                </p>
                            </div>
                        </details>
                        <textarea class="govuk-textarea govuk-js-character-count" name="writeReview" id="writeReview" rows="18" {% if readOnly %} disabled {% endif %}>{{ writeReview }}</textarea>
                        <p><span id="wordCount" class="govuk-hint govuk-character-count__message" aria-live="polite">You have 250 words remaining</span></p>
                    </div>
                </div>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-full') %}

                {% call components.formGroup() %}
                    <div class="application-item">
                        <div class="application-item__contents">
                            <fieldset class="govuk-fieldset" aria-describedby="markAsComplete">
                                <legend class="govuk-fieldset__legend govuk-visually-hidden">
                                    <h3 class="govuk-fieldset__heading" id="">Mark as complete</h3>
                                </legend>
                                <div class="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="markAsComplete" name="isComplete" type="checkbox" {% if readOnly %} disabled {% endif %} {% if writeReviewIsComplete %} checked{% endif %}>
                                        <label class="govuk-label govuk-checkboxes__label" for="markAsComplete">Mark as complete</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                {%- endcall %}

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-full') %}

                {% call components.formGroup() %}

                    <div class="application-controls govuk-clearfix">
                        {% if readOnly %}
                            <a href="http://localhost:3002/prototypes/application-v2/" class="govuk-link">Return to application</a>
                        {% else %}
                            {{ components.button(text='Save and return', extraClass="application-controls__submit")}}
                        {% endif %}
                    </div>

                {%- endcall %}

            {%- endcall %}

        {%- endcall %}

    {%- endcall %}

{% endblock %}
{% block bodyScripts %}
    <script>
      ;(function(){
        let wordcounter = document.getElementById('writeReview');
        let counteroutputFoot = document.getElementById('wordCount');
        let words;
        const limit = 250;

        function countemwords(){
          words = (wordcounter.value == '')? 0 : wordcounter.value.split(' ').length;
          let remainder = limit - words;
          if (words < limit) {
            wordcounter.classList.remove('govuk-textarea--error');
            counteroutputFoot.innerHTML = 'You have ' + remainder + ' words remaining';
          } else {
            let overCount = words - limit;
            wordcounter.classList.add('govuk-textarea--error');
            counteroutputFoot.innerHTML = '<span style="font-weight:700;color:red">You have ' +  overCount + ' words too many</span>';
          }
        }
        wordcounter.addEventListener('input', function(e){
          countemwords()
        }, false);
        document.addEventListener("DOMContentLoaded", function(event) {
          countemwords()
        }, false);
        window.addEventListener("load", function(event) {
          countemwords();
        }, false)
      })();
    </script>
{% endblock %}
