{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set pageTitle = '171 - Development of a Novel Inhibitor of Ricin' %}
{% set showSpreadsheetscripts = true %}
{% set speakerNotes = speakerNotes if speakerNotes %}

{% block content %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.captionHeading(text='Financial data', caption='171 - Development of a Novel Inhibitor of Ricin')}}

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow(extraClass='u-space-b30') %}

        {% call components.columnTwoThirds() %}

            {{ components.paragraph(text='Enter your financial data into the spreadsheet below. You can cut and paste directly from an Excel spreadsheet', size='l')}}

            <p class="govuk-body">
                {{ components.link(text='Download example spreadhseet', url='/files/example_spreadsheeet.xls')}}
            </p>

            {{ components.paragraph(text='Paste contents into the "spreadsheet" below, then click the <strong>Save and preview</strong> button. contents will be displayed in a JavaScript alert dialogue or open the console (Right click > inspect) to view the captured data as a big array. This data is very easy to send off to a the server as JSON or a CSV.')}}

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {% call components.form(action='/prototypes/application-v2/spreadsheet', method='POST',name='formSpreadsheet') %}

                {#{{ components.textarea(options=selectOptions, label='Enter your financial data', labelBold=true, id='formSpreadsheet', hint='', group=true, size='', value=storedSpeakerNotes, extraClass='', visuallyHidden=true) }}#}

                <div id="financialData"></div>

                <div class="application-controls govuk-clearfix">

                    {{ components.button(text='Save and preview', customID="saveTableData", extraClass="application-controls__submit")}}

                    {{ components.link(text='Back to application overview', url='/prototypes/application-v2/', extraClass="application-controls__cancel")}}

                </div>

            {%- endcall %}

        {%- endcall %}

    {%- endcall %}

{% endblock %}


