{% extends 'layouts/bulma-ufs.layout.njk' %}

{#{% set bodyClass = 'new-gds' %}#}
{% set pageTitle = APPLICATION_OVERVIEW_TITLE_TAG + GLOBAL_TAG_TITLE_SUFFIX %}

{% set backLinkContents =  [{url:'/prototypes/application-v2/opportunity', text:'Back to applications'}] %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text=APPLICATION_OVERVIEW_TITLE_TAG, caption='APP171: New thinkers test project name') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-full') %}

            {{ components.alerts(text='Application submitted on Monday 5 July 2020, 1:53pm', type='success')}}

        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-full') %}
            <div class="govuk-tabs" data-module="govuk-tabs">
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#">Submission details</a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="/prototypes/application-v2/view">Read</a>
                    </li>
                </ul>
            </div>
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

         {% call components.bulmaColumnAny(size='is-7', extraClass='') %}

             <h2 class="govuk-heading-s">What happens next?</h2>

             <p class="govuk-body">Your application has been received and, if eligible, will be sent for assessment by the BBC and AHRC. Both will create shortlists for consideration at a joint panel meeting in November, after which 60 candidates will be invited to attend workshops with the BBC.</p>
             <p class="govuk-body">From these, 10 people will become Arts and Humanities Research Council, Radio 3 New Generation Thinkers for 2021.</p>
             <p class="govuk-body">All applicants will be informed if they have, or have not been selected for the workshop stage by email between 7-11 December 2020. For more information about the process, refer back to the <a href="https://ahrc.ukri.org/funding/apply-for-funding/current-opportunities/new-generation-thinkers-2021/" class="govuk-link">New Generation Thinkers listing on the AHRC website</a>.</p>

             <h2 class="govuk-heading-s">Notification</h2>

             <p class="govuk-body">We will inform you of our decision by email.</p>

        {%- endcall %}

        {% call components.bulmaColumnAny(size='is-4 is-offset-1') %}

            <div class="application-data">
                <dl class="application-data__list">
                    <dt class="application-data__key">Opportunity:</dt>
                    <dd class="application-data__value">OPP334: New Generation Thinkers 2020</dd>

                    <dt class="application-data__key">Application reference:</dt>
                    <dd class="application-data__value">APP00171</dd>

                    <dt class="application-data__key">Application deadline:</dt>
                    <dd class="application-data__value">Monday 12 October 2020, 4:00pm</dd>

                    <dt class="application-data__key">Funder:</dt>
                    <dd class="application-data__value">AHRC</dd>
                </dl>
            </div>

        {%- endcall %}

    {%- endcall %}

{% endblock %}
