{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set navType = 'admin' %}

{% set pageTitle = 'Applicants' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set opportunityName = opportunityName %}
{% set opportunityID = opportunityID %}
{% set allApplicantTypes = allApplicantTypes %}
{% set rolesList = rolesList if rolesList %}
{% set applicantsError = applicantsError if applicantsError %}
{% set applicantsErrorMessage = applicantsErrorMessage if applicantsErrorMessage %}
{% set applicantsIsComplete = applicantsIsComplete if applicantsIsComplete %}
{% set backLinkContents =  [{url:'/prototypes/opportunity-v3/workflow-application', text:'Back to application'}] %}

{% set isAdminUser = true %}

{% block content %}

    {% if applicantsError %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-full') %}

                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <a href="#applicantsError">{{ applicantsErrorMessage }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

            {%- endcall %}

        {%- endcall %}

    {% endif %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}
            {{ components.captionHeading(text='Applicants', caption=opportunityID + ': ' + opportunityName) }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='column is-8', customID='main-content') %}

            {% call components.form(action='/prototypes/opportunity-v3/applicants', method='POST',name='manageApplicants') %}

                <section class="class" id="applicantRoles">

                    {% call components.bulmaRow() %}

                        {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

                            <div class="govuk-form-group {% if applicantsError %} govuk-form-group--error {% endif %}">
                                <fieldset class="govuk-fieldset" aria-describedby="applicants-hint">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                        <h2 class="govuk-fieldset__heading" {% if applicantsError %}id="applicantsError" {% endif %}>Roles</h2>
                                    </legend>
                                    <span id="applicants-hint" class="govuk-hint">Select the roles that can be nominated as part of the application.</span>

                                    {% if applicantsError %}
                                        <span class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>Select one or more roles for this opportunity
                        </span>
                                    {% endif %}
                                    <div class="govuk-checkboxes">

                                        {% for item in allApplicantTypes %}

                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="roles_{{ item.index }}" name="applicantRoles" type="checkbox" value="{{ item.index }}"
                                                        {% for match in rolesList %}
                                                            {% if (match == item.index) %}
                                                                checked
                                                            {% endif %}
                                                        {% endfor %}
                                                >
                                                <label class="govuk-label govuk-checkboxes__label" for="roles_{{ item.index }}">{{ item.name }}</label>
                                            </div>

                                        {% endfor %}

                                    </div>
                                </fieldset>
                            </div>

                        {%- endcall %}

                    {%- endcall %}

                </section>

                <section class="" id="completeAndSubmit">

                {% call components.bulmaRow() %}

                    {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

                        {% call components.formGroup() %}
                            <div class="application-item">
                                <div class="application-item__contents">
                                    <fieldset class="govuk-fieldset" aria-describedby="markAsComplete">
                                        <legend class="govuk-fieldset__legend govuk-visually-hidden">
                                            <h3 class="govuk-fieldset__heading" id="">Mark as complete</h3>
                                        </legend>
                                        <div class="govuk-checkboxes">
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="markAsComplete" name="isComplete" type="checkbox" {% if applicantsIsComplete %} checked{% endif %}>
                                                <label class="govuk-label govuk-checkboxes__label" for="markAsComplete">Mark as complete</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        {%- endcall %}

                    {%- endcall %}

                {%- endcall %}

                {% call components.bulmaRow() %}

                    {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

                        {% call components.formGroup() %}
                            {{ components.button(text=GENERIC_SAVE_AND_RETURN_CTA, extraClass="application-controls__submit")}}
                        {%- endcall %}

                    {%- endcall %}

                {%- endcall %}

            {%- endcall %}

            </section>

        {%- endcall %}

        {% call components.bulmaColumnAny(size='column is-3 is-offset-1') %}
            <div class="govuk-related-items govuk-related-items--flush">
                <h2 class="govuk-heading-xs u-space-y5">{{ opportunityID }}</h2>
                <p class="govuk-body-s u-space-b5">{{opportunityName}}</p>
                <ul class="govuk-list u-space-t10">
                    <li><a href="/prototypes/opportunity-v3/create?mode=edit" class="govuk-link sub-button ">Edit Opportunity name</a></li>
                </ul>

                <h2 class="govuk-heading-xs u-space-y5">Preview application</h2>
                <p class="govuk-body-s u-space-b5">You can preview the applicant’s view. You can continue to make changes before publishing. </p>
                <ul class="govuk-list u-space-t10">
                    <li><a href="#" class="govuk-link sub-button ">Applicant view (opens in a new window)</a></li>
                </ul>
            </div>
        {% endcall %}

    {%- endcall %}


{% endblock %}




