{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set navType = 'admin' %}
{% set pageTitle = 'Details and summary' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set opportunityName = opportunityName %}
{% set opportunityID = opportunityID %}
{% set detailsIsComplete = detailsIsComplete if detailsIsComplete %}
{% set isAdminUser = true %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.backLink(text='Back to application', url='/prototypes/opportunity-v3/workflow-application') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}
            {{ components.captionHeading(text='Details and summary', caption=opportunityID + ': ' + opportunityName) }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='column is-8', customID='main-content') %}

            <p class="govuk-body-l">Users will be asked to enter a name for their application. They will then be asked to provide a summary, for which you can create guidance. Example text is provided below, which you can overwrite to fit your specific requirements.</p>

            {% call components.form(action='/prototypes/opportunity-v3/details', method='POST',name='manageDetails') %}

                <section class="section" id="resourcesContent">
                    {% call components.bulmaRow() %}
                        {% call components.bulmaColumnAny(size='column is-full') %}

                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-visually-hidden">Application summary guidance text</legend>
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-label--s" for="summaryGuidanceText">Summary guidance text</label>
                                    <textarea class="govuk-textarea" id="summaryGuidanceText" name="summaryGuidanceText" rows="8">Tailor your summary for peer reviewers and other experts in your field. Use simple language so a lay person could also understand your proposed project’s strengths. Write a clear overview of the scope, including your vision; objectives; areas of focus; why it’s important and why it will succeed.</textarea>
                                </div>
                            </fieldset>
                        {%- endcall %}
                    {%- endcall %}
                </section>

                <section class="section" id="wordcount">
                    {% call components.bulmaRow() %}
                        {% call components.bulmaColumnAny(size='column is-full') %}
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Word count limit</legend>
                                <details class="govuk-details u-space-b10" data-module="govuk-details">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">Guidance for setting word count limits</span>
                                    </summary>
                                    <div class="govuk-details__text">
                                        Potential reviewers base their decision to assess projects on reading the application summary, which they will see in an email. Space is therefore at a premium, so setting a word count limit of no more than 400 words is recommended.
                                    </div>
                                </details>
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-label--s govuk-visually-hidden" for="wordcount">Wordcount</label>
                                    <input class="govuk-input govuk-input--width-4" id="wordcount" name="wordcount" type="text" value="400">
                                </div>
                            </fieldset>
                        {%- endcall %}
                    {%- endcall %}
                </section>

                <section class="section" id="dateRequirement">
                    {% call components.bulmaRow() %}
                        {% call components.bulmaColumnAny(size='column is-full') %}
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset" aria-describedby="isDateRequired">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                        <h2 class="govuk-fieldset__heading">Is the applicant required to set a start date and duration?</h2>
                                    </legend>
                                    <div class="govuk-radios govuk-radios--inline">
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="requiredYes" name="dateRequired" type="radio" value="yes">
                                            <label class="govuk-label govuk-radios__label" for="requiredYes">Yes</label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="requiredNo" name="dateRequired" type="radio" value="no">
                                            <label class="govuk-label govuk-radios__label" for="requiredNo">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        {%- endcall %}
                    {%- endcall %}
                </section>

                <section class="section" id="submitSection">
                    {% call components.bulmaRow() %}
                        {% call components.bulmaColumnAny(size='column is-full') %}
                            {% call components.formGroup() %}
                                <div class="application-item">
                                    <div class="application-item__contents">
                                        <fieldset class="govuk-fieldset" aria-describedby="markAsComplete">
                                            <legend class="govuk-fieldset__legend govuk-visually-hidden">
                                                <h3 class="govuk-fieldset__heading" id="">Mark as complete</h3>
                                            </legend>
                                            <div class="govuk-checkboxes">
                                                <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" id="markAsComplete" name="markAsComplete" type="checkbox" {% if detailsIsComplete %} checked {% endif %}>
                                                    <label class="govuk-label govuk-checkboxes__label" for="markAsComplete">Mark as complete</label>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            {%- endcall %}

                        {%- endcall %}

                    {%- endcall %}

                    {% call components.bulmaRow() %}
                        {% call components.bulmaColumnAny(size='column is-full') %}
                            {% call components.formGroup() %}
                                {{ components.button(text=GENERIC_SAVE_AND_RETURN_CTA, extraClass="application-controls__submit")}}
                            {%- endcall %}
                        {%- endcall %}
                    {%- endcall %}
                </section>

            {%- endcall %} {# end form #}

        {% endcall %}

        {% call components.bulmaColumnAny(size='column is-3 is-offset-1') %}
            <div class="govuk-related-items govuk-related-items--flush">
                <h2 class="govuk-heading-xs u-space-y5">{{ opportunityID }}</h2>
                <p class="govuk-body-s u-space-b5">{{opportunityName}}</p>
                <ul class="govuk-list u-space-t10">
                    <li><a href="/prototypes/opportunity-v3/create?mode=edit" class="govuk-link sub-button ">Edit Opportunity name</a></li>
                </ul>

                <h2 class="govuk-heading-xs u-space-y5">Preview application</h2>
                <p class="govuk-body-s u-space-b5">You can preview the applicant’s view. You can continue to make changes before publishing. </p>
                <ul class="govuk-list u-space-t10">
                    <li><a href="#" class="govuk-link sub-button ">Applicant view (opens in a new window)</a></li>
                </ul>
            </div>
        {% endcall %}

    {% endcall %}

{% endblock %}
