{% macro errorSummary(heading='', headingId='heading', description=false, items=false) %}

  <div class="govuk-error-summary" role="alert" aria-labelledby="{{ headingId }}" tabindex="-1" data-module="govuk-error-summary">

    <h2 class="govuk-error-summary__title" id="{{ headingId }}">
      {{ heading }}
    </h2>

    <div class="govuk-error-summary__body">

      {% if description %}
        <p>
            {{ description }}
        </p>
      {% endif %}

      {% if items %}
        <ul class="govuk-list govuk-error-summary__list">
            {% for item in items %}
              <li>
                  {% if item.link %}
                    <a href="{{ item.link }}">
                        {{ item.text }}
                    </a>
                  {% else %}
                      {{ item.text }}
                  {% endif %}
              </li>
            {% endfor %}
        </ul>
      {% endif %}
    </div>

  </div>
{% endmacro %}
