{% from "macros/elements/label.njk" import formLabel %}

{% macro field(label='',
    labelVisuallyHidden=false,
    labelBold=false,
    id='',
    type='text',
    name='',
    value='',
    hint=false,
    group=false,
    groupCompound=false,
    error=false)
%}

  {% if label %}
    {% if group or error %}
      <div class="govuk-form-group {{ 'form-group-compound' if groupCompound }} {{ 'form-group-error' if error }}">
    {% endif %}
    {{ formLabel(label=label, visuallyHidden=labelVisuallyHidden, id=id, bold=labelBold, hint=hint, error=error) }}
    <input
    {{ 'class="govuk-input' + ( ' form-control-error' if error ) + '"' if type !== 'file' }}
    {{ 'id="' + id + '"' if id }}
    type="{{ type }}"
    name="{{ name if name else id }}"
    value="{{ value }}"
    >
    {% if group or error %}
      </div>
    {% endif %}
  {% endif %}
{% endmacro %}
