{% macro formLabel(label='', visuallyHidden=false, id=false, bold=false, hint=false, error=false) %}
  {% if label %}
    <label class="govuk-label  {{ 'govuk-!-font-weight-bold' if bold }} {{ 'visuallyHidden' if visuallyHidden }}" {{ 'for="' + id + '"' if id }}>
      {{ label }}
      {% if hint %}
        <span class="govuk-hint">{{ hint }}</span>
      {% endif %}
      {% if error %}
        <span class="error-message">{{ error }}</span>
      {% endif %}
    </label>
  {% endif %}
{% endmacro %}
