{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set pageTitle = APPLICATION_TEAM_TITLE_TAG + GLOBAL_TAG_TITLE_SUFFIX %}
{% set projectName = projectName if projectName %}
{% set allApplicationTeam = allApplicationTeam if allApplicationTeam %}
{% set backLinkContents =  [{url:'/prototypes/example-journey/application/', text:'Back to application'}] %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text=APPLICATION_TEAM_TITLE, caption=projectName) }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-full') %}

            {{ components.paragraph(text='Invite people to contribute to this application. This gives them access to edit all sections of this application. You are not required to nominate your proposed project team in this section.', size='')}}

        {%- endcall %}

    {%- endcall %}

    {% call components.form(action='/prototypes/example-journey/application/application-team', method='POST',name='formApplicationTeam') %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-full') %}

                <table class="govuk-table">
                    <caption class="govuk-table__caption">Application team</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Full name</th>
                            <th scope="col" class="govuk-table__header">Email</th>
                            <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Actions</span></th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Dr. Jane Doe</td>
                            <td class="govuk-table__cell">{{ components.link(text='jane.doe@cardiffuniversity.ac.uk', url='#') }}</td>
                            <td class="govuk-table__cell">&nbsp;</td>
                        </tr>
                        <tr class="govuk-table__row govuk-visually-hidden" id="hiddenInviteRow">
                            <td class="govuk-table__cell">
                                {{ components.field(label='Full name', labelVisuallyHidden=true, id='teamFullName', inputWidthClass='govuk-input--width-20') }}
                            </td>
                            <td class="govuk-table__cell">
                                {{ components.field(label='Email', labelVisuallyHidden=true, id='teamEmail', inputWidthClass='govuk-input--width-20') }}                             </td>
                            <td class="govuk-table__cell govuk-table__cell--action">
                                {{ components.link(text='Send invite', type='secondary', url='#', id='sendInvite') }}
                            </td>
                        </tr>
                        <tr class="govuk-table__row govuk-visually-hidden" id="hiddenPendingRow">
                            <td class="govuk-table__cell">
                                <span id="pendingFullName"></span>
                            </td>
                            <td class="govuk-table__cell">
                                <span id="pendingEmail"></span>
                            </td>
                            <td class="govuk-table__cell _govuk-table__cell--action u-align-right">
                                {{ components.link(text='Cancel invite', type='secondary', url='#', id='cancelInvite') }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="govuk-body u-space-t5 u-space-b30">
                    {{ components.link(text='Add another contributor', url='#', id='showInviteRow') }}
                </p>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-full') %}

                {% call components.formGroup() %}
                    <div class="application-item">
                        <div class="application-item__contents">
                            <fieldset class="govuk-fieldset" aria-describedby="markAsComplete">
                                <legend class="govuk-fieldset__legend govuk-visually-hidden">
                                    <h3 class="govuk-fieldset__heading" id="">Mark as complete</h3>
                                </legend>
                                <div class="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="markAsComplete" name="isComplete" type="checkbox" {% if allApplicationTeam.isComplete == 'on' %} checked{% endif %}>
                                        <label class="govuk-label govuk-checkboxes__label" for="markAsComplete">Mark as complete</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                {%- endcall %}

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-full') %}

                <div class="application-controls govuk-clearfix">
                    {{ components.button(text='Save and return', extraClass="application-controls__submit")}}

                    {#<span class="sub-button">
                        {{ components.link(text='Cancel', url='/prototypes/example-journey/application/')}}
                    </span>#}
                </div>

            {%- endcall %}

        {%- endcall %}


    {%- endcall %}

{% endblock %}

{% block bodyScripts %}
    <script>
      Zepto(function($){
        $('#showInviteRow').on('click', function(event) {
          $('#hiddenInviteRow').removeClass('govuk-visually-hidden');
          $('#hiddenPendingRow').addClass('govuk-visually-hidden');
          event.preventDefault();
        });
        $('#sendInvite').on('click', function(event) {
          // pendingFullName, pendingEmail
          $('#hiddenInviteRow').addClass('govuk-visually-hidden');
          $('#pendingFullName').html($('#teamFullName').val());
          $('#pendingEmail').html('<a href="#">'+ $('#teamEmail').val() + "</a>");
          $('#hiddenPendingRow').removeClass('govuk-visually-hidden');
          $('#teamFullName').val('');
          $('#teamEmail').val('');
          event.preventDefault();
        });
        $('#cancelInvite').on('click', function(event) {
          $('#hiddenInviteRow').removeClass('govuk-visually-hidden');
          $('#hiddenPendingRow').addClass('govuk-visually-hidden');
          $('#teamFullName').val('');
          $('#teamEmail').val('');
          event.preventDefault();
        });
      })
    </script>
{% endblock %}


