{% extends 'layouts/ufs.layout.njk' %}
{% set pageTitle = APPLICATION_TEAM_TITLE_TAG + GLOBAL_TAG_TITLE_SUFFIX %}
{% set projectName = projectName if projectName %}

{% block content %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.captionHeading(text=APPLICATION_TEAM_TITLE, caption=projectName)}}

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow(extraClass='u-space-b30') %}

        {% call components.columnFull() %}

            {{ components.paragraph(text='Invite people to contribute to this application. This gives them access to edit all sections of this application. You are not required to nominate your proposed project team in this section.', size='')}}

        {%- endcall %}

    {%- endcall %}

    {% call components.form(action='/prototypes/example-journey/application/application-team', method='POST',name='formApplicationTeam') %}

        {% call components.gridRow() %}

            {% call components.columnFull() %}

                <table class="govuk-table">
                    <caption class="govuk-table__caption">Application team</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Full name</th>
                            <th scope="col" class="govuk-table__header">Email</th>
                            <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Actions</span></th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Dr. Jane Doe</td>
                            <td class="govuk-table__cell">{{ components.link(text='jane.doe@cardiffuniversity.ac.uk', url='#') }}</td>
                            <td class="govuk-table__cell">&nbsp;</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                {{ components.field(label='Full name', labelVisuallyHidden=true, id='teamFullName', inputWidthClass='govuk-input--width-20') }}
                            </td>
                            <td class="govuk-table__cell">
                                {{ components.field(label='Email', labelVisuallyHidden=true, id='teamEmail', inputWidthClass='govuk-input--width-20') }}                             </td>
                            <td class="govuk-table__cell govuk-table__cell--action">
                                {{ components.link(text='Send invite', type='secondary', url='#') }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="govuk-body u-space-t5 u-space-b30">
                    {{ components.link(text='Add another contributor', url='#') }}
                </p>

            {%- endcall %}

        {%- endcall %}

        {% call components.gridRow() %}

            {% call components.columnFull() %}

                <div class="application-controls govuk-clearfix">
                    {{ components.button(text='Save and return', extraClass="application-controls__submit")}}
                    {{ components.link(text='Back to application overview', url='/prototypes/example-journey/application/', extraClass="application-controls__cancel")}}
                </div>

            {%- endcall %}

        {%- endcall %}


    {%- endcall %}

{% endblock %}


