{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set pageTitle = APPLICATION_ETHICAL_TITLE_TAG + GLOBAL_TAG_TITLE_SUFFIX %}
{% set projectName = projectName if projectName %}
{% set ethicalReasons = ethicalReasons if ethicalReasons %}
{% set allEthicalAndSocietal = allEthicalAndSocietal if allEthicalAndSocietal %}
{#{% set showSimpleTinyMCEScripts = true %}#}
{% set backLinkContents =  [{url:'/prototypes/example-journey/application/', text:'Back to application'}] %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text=APPLICATION_ETHICAL_TITLE, caption=projectName) }}
        {%- endcall %}
    {%- endcall %}

    {% call components.form(action='/prototypes/example-journey/application/ethical-and-societal-issues', method='POST',name='formProjectTeam') %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-full') %}

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="ethical-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h2 class="govuk-fieldset__heading">{{ ADD_ETHICAL_LABEL }}</h2>
                        </legend>
                        <span id="waste-hint" class="govuk-hint govuk-visually-hidden">{{ ADD_ETHICAL_HINT }}</span>
                        <div class="govuk-checkboxes">

                            {% for item in ethicalReasons %}
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="ethicalReason_{{ item.index }}" name="ethicalReasons" type="checkbox" value="{{ item.name }}"
                                        {% for reasons in allEthicalAndSocietal.ethicalReasons %}
                                            {% if reasons == item.name %}
                                                checked
                                            {% endif %}
                                        {% endfor %}
                                    >
                                    <label class="govuk-label govuk-checkboxes__label" for="ethicalReason_{{ item.index }}">
                                        {{ item.name }}
                                    </label>
                                </div>
                            {% endfor %}

                        </div>
                    </fieldset>
                </div>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-full') %}

                {% call components.hiddenText(summary='What should I include in this section?') %}
                    <p>This section should outline any ethical and societal issues that are involved with your project. Outline the details, provide impact assessments and mitigations where appropriate. These will be assessed independently from the rest of your application to ensure they confirm to their relevant regulations.</p>

                {%- endcall %}

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow(extraClass='u-space-b30') %}

            {% call components.bulmaColumnAny(size='is-full') %}

                {{ components.textarea(options=selectOptions, label='How will the selected issues be managed?', labelBold=true, id='ethicalNotes',  group=false, size='', value=allEthicalAndSocietal.ethicalNotes, extraClass='', rows='18') }}

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-full') %}

                {% call components.formGroup() %}
                    <div class="application-item">
                        <div class="application-item__contents">
                            <fieldset class="govuk-fieldset" aria-describedby="markAsComplete">
                                <legend class="govuk-fieldset__legend govuk-visually-hidden">
                                    <h3 class="govuk-fieldset__heading" id="">Mark as complete</h3>
                                </legend>
                                <div class="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="markAsComplete" name="isComplete" type="checkbox" {% if allEthicalAndSocietal.isComplete == 'on' %} checked{% endif %}>
                                        <label class="govuk-label govuk-checkboxes__label" for="markAsComplete">Mark as complete</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                {%- endcall %}

            {%- endcall %}

        {%- endcall %}


        {% call components.bulmaRow() %}
            {% call components.bulmaColumnAny(size='is-full') %}
                <div class="application-controls govuk-clearfix">
                    {{ components.button(text='Save and return', extraClass="application-controls__submit")}}
                    {#<span class="sub-button">
                        {{ components.link(text='Cancel', url='/prototypes/example-journey/application/')}}
                    </span>#}
                </div>
            {%- endcall %}
        {%- endcall %}

    {%- endcall %}

{% endblock %}
