{% extends 'layouts/ufs.layout.njk' %}
{% set pageTitle = APPLICATION_ETHICAL_TITLE_TAG + GLOBAL_TAG_TITLE_SUFFIX %}
{% set projectName = projectName if projectName %}
{% set ethicalReasons = ethicalReasons if ethicalReasons %}
{% set showSimpleTinyMCEScripts = true %}
{% set backLinkContents =  [{url:'/prototypes/example-journey/application/', text:'Back to application overview'}] %}

{% block content %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.captionHeading(text=APPLICATION_ETHICAL_TITLE, caption=projectName)}}

        {%- endcall %}

    {%- endcall %}

    {% call components.form(action='/prototypes/example-journey/application/ethical-and-societal-issues', method='POST',name='formProjectTeam') %}

        {% call components.gridRow() %}

            {% call components.columnFull() %}

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="ethical-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h2 class="govuk-fieldset__heading">{{ ADD_ETHICAL_LABEL }}</h2>
                        </legend>
                        <span id="waste-hint" class="govuk-hint govuk-visually-hidden">{{ ADD_ETHICAL_HINT }}</span>
                        <div class="govuk-checkboxes">

                            {% for item in ethicalReasons %}
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="ethicalReason_{{ item.index }}" name="ethicalReasons" type="checkbox" value="{{ item.name }}">
                                    <label class="govuk-label govuk-checkboxes__label" for="ethicalReason_{{ item.index }}">
                                        {{ item.name }}
                                    </label>
                                </div>
                            {% endfor %}

                        </div>
                    </fieldset>
                </div>

            {%- endcall %}

        {%- endcall %}

        {% call components.gridRow(extraClass='u-space-b30') %}

            {% call components.columnFull() %}

                {% call components.hiddenText(summary='What should I include in this section?') %}
                    <p>This section should outline any ethical and societal issues that are involved with your project. Outline the details, provide impact assessments and mitigations where appropriate. These will be assessed independently from the rest of your application to ensure they confirm to their relevant regulations.</p>

                {%- endcall %}

            {%- endcall %}

        {%- endcall %}

        {% call components.gridRow() %}

            {% call components.columnFull() %}

                {{ components.textarea(options=selectOptions, label='How will the selected issues be managed?', labelBold=true, id='ethicalNotes',  group=false, size='', value='', extraClass='') }}

            {%- endcall %}

        {%- endcall %}

        {% call components.gridRow() %}
            {% call components.columnFull() %}
                <div class="application-controls govuk-clearfix">
                    {{ components.button(text='Save and preview', extraClass="application-controls__submit")}}
                    {{ components.link(text='Back to application overview', url='/prototypes/example-journey/application/', extraClass="application-controls__cancel")}}
                </div>
            {%- endcall %}
        {%- endcall %}

    {%- endcall %}

{% endblock %}
