{% extends 'layouts/bulma-ufs.layout.njk' %}

{#{% set bodyClass = 'new-gds' %}#}
{% set pageTitle = APPLICATION_OVERVIEW_TITLE_TAG + GLOBAL_TAG_TITLE_SUFFIX %}
{% set showTinyMCEScripts = true %}
{% set storedSpeakerNotes = storedSpeakerNotes if storedSpeakerNotes %}
{% set projectName = projectName if projectName %}
{% set projectDetails = projectDetails if projectDetails %}
{% set hasBeenUpdated = hasBeenUpdated if hasBeenUpdated %}
{% set teamHasBeenUpdated = teamHasBeenUpdated if teamHasBeenUpdated %}
{% set caseHasBeenUpdated = caseHasBeenUpdated if caseHasBeenUpdated %}
{% set capabilityHasBeenUpdated = capabilityHasBeenUpdated if capabilityHasBeenUpdated %}
{% set ethicalHasBeenUpdated = ethicalHasBeenUpdated if ethicalHasBeenUpdated %}
{% set resourcesHasBeenUpdated = resourcesHasBeenUpdated if resourcesHasBeenUpdated %}

{% set projectDetailsIsComplete = projectDetailsIsComplete if projectDetailsIsComplete %}
{% set applicationDetailsIsComplete = applicationDetailsIsComplete if applicationDetailsIsComplete %}
{% set caseForSupportIsComplete = caseForSupportIsComplete if caseForSupportIsComplete %}
{% set resourcesAndCostsIsComplete = resourcesAndCostsIsComplete if resourcesAndCostsIsComplete %}
{% set ethicalIsComplete = ethicalIsComplete if ethicalIsComplete %}
{% set progressPercentage = progressPercentage if progressPercentage %}
{% set reverseProgressPercentage = reverseProgressPercentage if reverseProgressPercentage %}
{% set resourcesAndCostsIsComplete = resourcesAndCostsIsComplete if resourcesAndCostsIsComplete %}
{% set ethicalAndSocietalIsComplete = ethicalAndSocietalIsComplete if ethicalAndSocietalIsComplete %}
{% set capabilityToDeliverIsComplete = capabilityToDeliverIsComplete if capabilityToDeliverIsComplete %}

{% set backLinkContents =  [{url:'/prototypes/example-journey/application/project-listings', text:'Back to all Opportunities'}] %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text=APPLICATION_OVERVIEW_TITLE_TAG, caption=projectName) }}
        {%- endcall %}
    {%- endcall %}

    {% if hasBeenUpdated %}
        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-full') %}

                {{ components.alerts(text='You have successfully updated your application', type='success')}}

            {%- endcall %}

        {%- endcall %}
    {% endif %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-full') %}
            <div class="govuk-tabs" data-module="govuk-tabs">
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#">Write application</a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="/prototypes/example-journey/application/view">Read application</a>
                    </li>
                </ul>
            </div>
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

         {% call components.bulmaColumnAny(size='is-7', extraClass='u-space-t20') %}

          <ul class="application-tasks">
            <li class="application-tasks__item">
                {{ components.link(text='Project details', url='/prototypes/example-journey/application/project-details', extraClass="application-tasks__link govuk-link")}}

                {#{% if projectName != 'Untitled project' %}#}
                {% if projectDetailsIsComplete %}
                    <span class="application-tasks__status application-tasks__status--complete">complete</span>
                {% else %}
                    <span class="application-tasks__status application-tasks__status--incomplete">incomplete</span>
                {% endif %}
            </li>
            <li class="application-tasks__item">
                {{ components.link(text='Application team', url='/prototypes/example-journey/application/application-team', extraClass="application-tasks__link govuk-link")}}

                {#{% if teamHasBeenUpdated %}#}
                {% if applicationDetailsIsComplete %}
                    <span class="application-tasks__status application-tasks__status--complete">complete</span>
                {% else %}
                    <span class="application-tasks__status application-tasks__status--incomplete">incomplete</span>
                {% endif %}

            </li>
          </ul>

            <h2 class="govuk-heading-s">Assessed questions</h2>
            <ul class="application-tasks">
                <li class="application-tasks__item">
                    {{ components.link(text='1. Case for support ', url='/prototypes/example-journey/application/case-for-support', extraClass="application-tasks__link govuk-link")}}

                    {% if caseForSupportIsComplete %}
                        <span class="application-tasks__status application-tasks__status--complete">complete</span>
                    {% else %}
                        <span class="application-tasks__status application-tasks__status--incomplete">incomplete</span>
                    {% endif %}

                </li>
                <li class="application-tasks__item">
                    {{ components.link(text='2. Capability to deliver', url='/prototypes/example-journey/application/capability-to-deliver', extraClass="application-tasks__link govuk-link")}}
                    {% if capabilityToDeliverIsComplete      %}
                        <span class="application-tasks__status application-tasks__status--complete">complete</span>
                    {% else %}
                        <span class="application-tasks__status application-tasks__status--incomplete">incomplete</span>
                    {% endif %}
                </li>
                <li class="application-tasks__item">
                    {{ components.link(text='3. Resources and cost', url='/prototypes/example-journey/application/resources-and-cost', extraClass="application-tasks__link govuk-link")}}
                    {% if resourcesAndCostsIsComplete %}
                        <span class="application-tasks__status application-tasks__status--complete">complete</span>
                    {% else %}
                        <span class="application-tasks__status application-tasks__status--incomplete">incomplete</span>
                    {% endif %}
                </li>
                <li class="application-tasks__item">
                    {{ components.link(text='4. Ethical and societal issues', url='/prototypes/example-journey/application/ethical-and-societal-issues', extraClass="application-tasks__link govuk-link")}}
                    {% if ethicalAndSocietalIsComplete %}
                        <span class="application-tasks__status application-tasks__status--complete">complete</span>
                    {% else %}
                        <span class="application-tasks__status application-tasks__status--incomplete">incomplete</span>
                    {% endif %}
                </li>
            </ul>

            <div class="application-controls govuk-clearfix">

                {% if progressPercentage == 100 %}
                    {{ components.button(text='Submit application for approval', extraClass="application-controls__submit")}}
                {%  else %}
                    {{ components.button(text='Submit application for approval', extraClass="application-controls__submit", disabled=true)}}
                {% endif %}

                {{ components.link(text='Cancel/withdraw application', url='#', extraClass="application-controls__cancel", disabled=true)}}
            </div>

        {%- endcall %}

        {% call components.bulmaColumnAny(size='is-4 is-offset-1') %}

            <div class="progress-meter">
                <div class="progress-meter__text progress-meter__text--back" role="progress-bar" aria-valuenow="27%"><span class="govuk-visually-hidden">Your application is</span> {{ progressPercentage }}% complete</div>
                <div class="progress-meter__clipper" aria-hidden="true" style="clip-path: inset(0% {{ reverseProgressPercentage }}% 0% 0%); -webkit-clip-path: inset(0% {{ reverseProgressPercentage }}% 0% 0%)">
                    <div class="progress-meter__text progress-meter__text--front">{{ progressPercentage }}% complete</div>
                </div>
            </div>

            <div class="application-data">
                <dl class="application-data__list">
                    <dt class="application-data__key">Application reference:</dt>
                    <dd class="application-data__value">AP00171</dd>

                    <dt class="application-data__key">Application deadline:</dt>
                    <dd class="application-data__value">12:00pm Tuesday 30 March 2020</dd>

                    <dt class="application-data__key">Funding opportunity:</dt>
                    <dd class="application-data__value">Biosensors for ribosome inactivating protiens</dd>

                    <dt class="application-data__key">Funder:</dt>
                    <dd class="application-data__value">BBSRC</dd>
                </dl>
            </div>

        {%- endcall %}

    {%- endcall %}

{% endblock %}
