{% extends 'layouts/ufs.layout.njk' %}

{#{% set bodyClass = 'new-gds' %}#}
{% set pageTitle = APPLICATION_OVERVIEW_TITLE_TAG + GLOBAL_TAG_TITLE_SUFFIX %}
{% set showTinyMCEScripts = true %}
{% set storedSpeakerNotes = storedSpeakerNotes if storedSpeakerNotes %}
{% set projectName = projectName if projectName %}
{% set projectDetails = projectDetails if projectDetails %}
{% set hasBeenUpdated = hasBeenUpdated if hasBeenUpdated %}
{% set teamHasBeenUpdated = teamHasBeenUpdated if teamHasBeenUpdated %}
{% set caseHasBeenUpdated = caseHasBeenUpdated if caseHasBeenUpdated %}
{% set capabilityHasBeenUpdated = capabilityHasBeenUpdated if capabilityHasBeenUpdated %}
{% set ethicalHasBeenUpdated = ethicalHasBeenUpdated if ethicalHasBeenUpdated %}
{% set resourcesHasBeenUpdated = resourcesHasBeenUpdated if resourcesHasBeenUpdated %}

{% set projectDetailsIsComplete = projectDetailsIsComplete if projectDetailsIsComplete %}
{% set applicationDetailsIsComplete = applicationDetailsIsComplete if applicationDetailsIsComplete %}
{% set caseForSupportIsComplete = caseForSupportIsComplete if caseForSupportIsComplete %}
{% set resourcesAndCostsIsComplete = resourcesAndCostsIsComplete if resourcesAndCostsIsComplete %}
{% set ethicalIsComplete = ethicalIsComplete if ethicalIsComplete %}
{% set progressPercentage = progressPercentage if progressPercentage %}
{% set reverseProgressPercentage = reverseProgressPercentage if reverseProgressPercentage %}
{% set resourcesAndCostsIsComplete = resourcesAndCostsIsComplete if resourcesAndCostsIsComplete %}
{% set ethicalAndSocietalIsComplete = ethicalAndSocietalIsComplete if ethicalAndSocietalIsComplete %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

        {{ components.captionHeading(text=APPLICATION_OVERVIEW_TITLE_TAG, caption=projectName)}}

    {%- endcall %}

  {%- endcall %}

    {% if hasBeenUpdated %}
        {% call components.gridRow() %}

            {% call components.columnFull() %}

                {{ components.alerts(text='You have successfully updated your application', type='success')}}

            {%- endcall %}

        {%- endcall %}
    {% endif %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

        <div class="tabs-alt govuk-clearfix">
            <ul class="tabs-alt__list">
                <li class="tabs-alt__item">
                    <a class="tabs-alt__link tabs-alt__link--active" href="#" >Write application</a>
                </li>
                <li class="tabs-alt__item">
                    <a class="tabs-alt__link" href="/prototypes/example-journey/application/view" >Read application</a>
                </li>
            </ul>
        </div>

    {%- endcall %}

  {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnTwoThirds() %}

          <ul class="application-tasks">
            <li class="application-tasks__item">
                {{ components.link(text='Project details', url='/prototypes/example-journey/application/project-details', extraClass="application-tasks__link govuk-link")}}

                {#{% if projectName != 'Untitled project' %}#}
                {% if projectDetailsIsComplete %}
                    <span class="application-tasks__status application-tasks__status--complete">complete</span>
                {% else %}
                    <span class="application-tasks__status application-tasks__status--incomplete">incomplete</span>
                {% endif %}
            </li>
            <li class="application-tasks__item">
                {{ components.link(text='Application team', url='/prototypes/example-journey/application/application-team', extraClass="application-tasks__link govuk-link")}}

                {#{% if teamHasBeenUpdated %}#}
                {% if applicationDetailsIsComplete %}
                    <span class="application-tasks__status application-tasks__status--complete">complete</span>
                {% else %}
                    <span class="application-tasks__status application-tasks__status--incomplete">incomplete</span>
                {% endif %}

            </li>
          </ul>

            <h2 class="govuk-heading-s">Assessed questions</h2>
            <ul class="application-tasks">
                <li class="application-tasks__item">
                    {{ components.link(text='1. Case for support ', url='/prototypes/example-journey/application/case-for-support', extraClass="application-tasks__link govuk-link")}}

                    {% if caseForSupportIsComplete %}
                        <span class="application-tasks__status application-tasks__status--complete">complete</span>
                    {% else %}
                        <span class="application-tasks__status application-tasks__status--incomplete">incomplete</span>
                    {% endif %}

                </li>
                <li class="application-tasks__item">
                    {{ components.link(text='2. Capability to deliver', url='/prototypes/example-journey/application/capability-to-deliver', extraClass="application-tasks__link govuk-link")}}
                    {% if capabilityHasBeenUpdated %}
                        <span class="application-tasks__status application-tasks__status--complete">complete</span>
                    {% else %}
                        <span class="application-tasks__status application-tasks__status--incomplete">incomplete</span>
                    {% endif %}
                </li>
                <li class="application-tasks__item">
                    {{ components.link(text='3. Resources and cost', url='/prototypes/example-journey/application/resources-and-cost', extraClass="application-tasks__link govuk-link")}}
                    {% if resourcesAndCostsIsComplete %}
                        <span class="application-tasks__status application-tasks__status--complete">complete</span>
                    {% else %}
                        <span class="application-tasks__status application-tasks__status--incomplete">incomplete</span>
                    {% endif %}
                </li>
                <li class="application-tasks__item">
                    {{ components.link(text='4. Ethical and societal issues', url='/prototypes/example-journey/application/ethical-and-societal-issues', extraClass="application-tasks__link govuk-link")}}
                    {% if ethicalAndSocietalIsComplete %}
                        <span class="application-tasks__status application-tasks__status--complete">complete</span>
                    {% else %}
                        <span class="application-tasks__status application-tasks__status--incomplete">incomplete</span>
                    {% endif %}
                </li>
            </ul>

            <div class="application-controls govuk-clearfix">

                {% if progressPercentage == 100 %}
                    {{ components.button(text='Submit application for approval', extraClass="application-controls__submit")}}
                {%  else %}
                    {{ components.button(text='Submit application for approval', extraClass="application-controls__submit", disabled=true)}}
                {% endif %}

                {{ components.link(text='Cancel/withdraw application', url='#', extraClass="application-controls__cancel", disabled=true)}}
            </div>

        {%- endcall %}

        {% call components.columnOneThird(extraClass="padding-left-desktop-30") %}

           <div class="progress u-space-t15">
                <div class="progress__text progress__text--back">{{ progressPercentage }}% complete</div>
                <div class="progress__clipper" style="clip-path: inset(0% {{ reverseProgressPercentage }}% 0% 0%);">
                    <div class="progress__text progress__text--front">{{ progressPercentage }}% complete</div>
                </div>
            </div>

            <div class="application-data">
                <dl class="application-data__list">
                    <dt class="application-data__key">Application reference:</dt>
                    <dd class="application-data__value">AP00171</dd>

                    <dt class="application-data__key">Application deadline</dt>
                    <dd class="application-data__value">12:00pm Tuesday 30 March 2020</dd>

                    <dt class="application-data__key">Funding opportunity:</dt>
                    <dd class="application-data__value">Biosensors for ribosome inactivating protiens</dd>

                    <dt class="application-data__key">Funder</dt>
                    <dd class="application-data__value">BBSRC</dd>
                </dl>
            </div>

        {%- endcall %}

    {%- endcall %}

{% endblock %}
