{% extends 'layouts/ufs.layout.njk' %}
{% set pageTitle = PROJECT_LISTING_TITLE_TAG + GLOBAL_TAG_TITLE_SUFFIX %}


{% block content %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.captionHeading(text=PROJECT_LISTING_TITLE)}}

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnTwoThirds() %}

            <div class="project-listing">
                {{ components.captionHeading(text='Biosensors for ribosome inactivating protiens', tag='h2', size='m')}}
                <p class="govuk-body">Ut lobortis congue magna. Vivamus gravida ut lacus tincidunt aliquam. Cras iaculis, eros at imperdiet mattis.</p>
                <p>{{ components.button(text='Apply for this oportunity', url='/prototypes/example-journey/application/') }}</p>
            </div>

        {%- endcall %}

    {%- endcall %}

{% endblock %}
