{% extends 'layouts/ufs.layout.njk' %}
{% set pageTitle = APPLICATION_PROJECT_DETAILS_TITLE_TAG + GLOBAL_TAG_TITLE_SUFFIX %}
{% set projectName = projectName if projectName %}
{% set showSimpleTinyMCEScripts = true %}

{% block content %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.captionHeading(text=APPLICATION_PROJECT_DETAILS_TITLE, caption=projectName)}}

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {% call components.form(action='/prototypes/example-journey/application/project-team', method='POST',name='formProjectTeam') %}

                {% call components.formGroup() %}

                    {{ components.field(label='Project name', hint='Enter the full title of your proposed project', labelBold=true, id='projectName') }}

                {%- endcall %}

                {% call components.formGroup() %}

                    {{ components.textarea(options=selectOptions, label='Project summary', labelBold=true, id='projectSummary', hint='Peer reviewers will be selected to assess your application based on this summary.', group=false, size='', value='', extraClass='') }}

                {%- endcall %}

                {{ components.newFormDate(legendText='Start date',showDay=false, hint='For example, 04 2020') }}

                {% call components.formGroup() %}
                    <div class="application-controls govuk-clearfix">
                        {{ components.button(text='Save and return', extraClass="application-controls__submit")}}
                        {{ components.link(text='Back to application overview', url='/prototypes/example-journey/application/', extraClass="application-controls__cancel")}}
                    </div>
                {%- endcall %}

            {%- endcall %}

        {%- endcall %}

    {%- endcall %}

{% endblock %}
