{% extends 'layouts/ufs.layout.njk' %}
{% set pageTitle = APPLICATION_RESOURCES_COST_TITLE_TAG + GLOBAL_TAG_TITLE_SUFFIX %}
{% set projectName = projectName if projectName %}
{% set showSimpleTinyMCEScripts = true %}
{% set backLinkContents =  [{url:'/prototypes/example-journey/application/', text:'Back to application overview'}] %}

{% block content %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.captionHeading(text=APPLICATION_RESOURCES_COST_TITLE, caption=projectName)}}

        {%- endcall %}

    {%- endcall %}

    {% call components.form(action='/prototypes/example-journey/application/resources-and-cost', method='POST',name='formResourcesTeam') %}

        {% call components.gridRow(extraClass='u-space-b30') %}

            {% call components.columnFull() %}

                {{ components.paragraph(text='What is your proposed project and how does it represent excellent research?', size='l')}}

                {% call components.hiddenText(summary='What should I include in this section?') %}
                    <p>This section should contain a full breakdown of the top-level costs involved with your project.</p>
                    <p>It is not necessary to breakdown costs further than the items below although you must submit full details after initial review.</p>
                {%- endcall %}

            {%- endcall %}

        {%- endcall %}

        {% call components.gridRow() %}

            {% call components.columnTwoThirds() %}

                {% call components.formGroup() %}

                    <table class="govuk-table">
                        <caption class="govuk-table__caption">Costs outline</caption>
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Item</th>
                                <th scope="col" class="govuk-table__header u-align-right">Cost £</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Staffing</td>
                                <td class="govuk-table__cell  govuk-table__cell--numeric">
                                    {{ components.field(label='Staff costs', labelVisuallyHidden=true, id='costsStaff', inputWidthClass='govuk-input--width-10') }}
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Overheads</td>
                                <td class="govuk-table__cell  govuk-table__cell--numeric">
                                    {{ components.field(label='Overheads', labelVisuallyHidden=true, id='costsOverheads', inputWidthClass='govuk-input--width-10') }}
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Materials</td>
                                <td class="govuk-table__cell  govuk-table__cell--numeric">
                                    {{ components.field(label='Material costs', labelVisuallyHidden=true, id='costsMaterials', inputWidthClass='govuk-input--width-10') }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                {%- endcall %}

            {%- endcall %}

        {%- endcall %}

        {% call components.gridRow() %}

            {% call components.columnFull() %}

                {% call components.formGroup() %}

                    {{ components.textarea(options=selectOptions, label='Project costs', labelBold=true, id='projectCosts', group=false, size='', value='', extraClass='', hint='Provide reasons and justifictions for the above costs') }}

                {%- endcall %}

            {%- endcall %}

        {%- endcall %}

        {% call components.gridRow() %}
            {% call components.columnFull() %}
                <div class="application-controls govuk-clearfix">
                    {{ components.button(text='Save and preview', extraClass="application-controls__submit")}}
                    <span class="sub-button">
                        {{ components.link(text='Cancel', url='/prototypes/example-journey/application/')}}
                    </span>
                </div>
            {%- endcall %}
        {%- endcall %}

    {%- endcall %}

{% endblock %}
