{% extends 'layouts/ufs.layout.njk' %}

{% set showMathJAXscripts = true %}
{% set showSmoothScrollscripts = true %}
{% set showStickyNavscripts = true %}

{% set projectName = projectName if projectName %}

{% set listItems = [
    { text: 'Top of page', url: '#main-content' },
    { text: 'Case for support', url: '#marker_Case' },
    { text: 'Capability to deliver', url: '#marker_Capability' },
    { text: 'Resources and costs', url: '#marker_Resources' },
    { text: 'Ethical and societal issues', url: '#marker_Ethical' }
] %}

{% set notesCaseForSupport = notesCaseForSupport if notesCaseForSupport %}
{% set notesCapability = notesCapability if notesCapability %}
{% set notesResources = notesResources if notesResources %}
{% set notesEthical = notesEthical if notesEthical %}
{% set notesCosts = notesCosts if notesCosts %}
{% set costsOverheads = costsOverheads if costsOverheads %}
{% set costsMaterials = costsMaterials if costsMaterials %}
{% set costsStaff = costsStaff if costsStaff %}
{% set ethicalReasons = ethicalReasons if ethicalReasons %}


{% block content %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            {{ components.captionHeading(text='Application preview', caption=proejctName)}}

        {%- endcall %}

    {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnFull() %}

            <div class="tabs-alt govuk-clearfix">
                <ul class="tabs-alt__list">
                    <li class="tabs-alt__item">
                        <a class="tabs-alt__link" href="/prototypes/example-journey/application/" >Write application</a>
                    </li>
                    <li class="tabs-alt__item">
                        <a class="tabs-alt__link tabs-alt__link--active" href="#" >Read application</a>
                    </li>
                </ul>
            </div>

        {%- endcall %}

    {%- endcall %}


    {% call components.gridRow(extraClass='u-space-b30') %}

        {% call components.columnOneQuarter() %}

            {{ components.captionHeading(text='Contents', tag='h2', size='s')}}

            <nav class="sticky-nav">

                {{ components.list(items=listItems, parentClass='sticky-nav')}}

            </nav>

        {%- endcall %}

        {% call components.columnThreeQuarters() %}

            {{ components.alerts(text='This is how reviewers will see your proposal.')}}

            <h2 class="heading heading-medium" id="marker_Case">Case for support</h2>
            {% if notesCaseForSupport %}
                {{ notesCaseForSupport }}
            {% else %}
                <div>No content has been added for this section yet.</div>
            {% endif %}

            {{ components.divider() }}

            <h2 class="heading heading-medium" id="marker_Capability">Capability to deliver</h2>
            {% if notesCapability %}
                {{ notesCapability }}
            {% else %}
                <div>No content has been added for this section yet.</div>
            {% endif %}

            {{ components.divider() }}

            <h2 class="heading heading-medium" id="marker_Resources">Resources and costs</h2>

              <table class="govuk-table">
                <caption class="govuk-table__caption">Costs outline</caption>
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Item</th>
                    <th scope="col" class="govuk-table__header u-align-right">Cost £</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Staffing</td>
                    <td class="govuk-table__cell  govuk-table__cell--numeric">
                        {% if costsStaff %}
                            {{ costsStaff }}
                        {% else %}
                            <span>No value has been entered for this item</span>
                        {% endif %}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Overheads</td>
                    <td class="govuk-table__cell  govuk-table__cell--numeric">
                        {% if costsOverheads %}
                            {{ costsOverheads }}
                        {% else %}
                            <span>No value has been entered for this item</span>
                        {% endif %}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Materials</td>
                    <td class="govuk-table__cell  govuk-table__cell--numeric">
                        {% if costsMaterials %}
                            {{ costsMaterials }}
                        {% else %}
                            <span>No value has been entered for this item</span>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>

            {% if notesCosts %}
                {{ notesCosts }}
            {% else %}
                <div>No content has been added for this section yet.</div>
            {% endif %}

            {{ components.divider() }}

            <h2 class="heading heading-medium" id="marker_Ethical">Ethical and societal issues</h2>
            {% if ethicalReasons %}
                <h3 class="heading heading-small">Ethical and societal issue areas</h3>
                <ul class="govuk-list--bullet">
                    {% for item in ethicalReasons %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>

            {% endif %}

            {% if notesEthical %}
                {{ notesEthical }}
            {% else %}
                <div>No content has been added for this section yet.</div>
            {% endif %}

        {%- endcall %}

    {%- endcall %}

{% endblock %}


