{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set pageTitle = '171 - Development of a Novel Inhibitor of Ricin' %}
{% set showMathJAXscripts = true %}
{% set showSmoothScrollscripts = true %}
{% set showStickyNavscripts = true %}

{% set speakerNotes = speakerNotes if speakerNotes %}
{% set caseForSupport = caseForSupport if caseForSupport %}

{% set listItems = [
    { text: 'Top of page', url: '#main-content' },
    { text: 'Case for support', url: '#marker_Case' },
    { text: 'Capability to deliver', url: '#marker_Capability' },
    { text: 'Finances', url: '#marker_Finances' },
    { text: 'Ethical and societal issues', url: '#marker_Ethical' }
] %}

{% set backLinkContents =  [{url:'/prototypes/example-journey/application/', text:'Back to application'}] %}

{% block content %}


    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Case for support preview', caption='171 - Development of a Novel Inhibitor of Ricin') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-full') %}
            <div class="govuk-tabs" data-module="govuk-tabs">
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item ">
                        <a class="govuk-tabs__tab" href="/prototypes/example-journey/application/">Write application</a>
                    </li>
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#">Read application</a>
                    </li>
                </ul>
            </div>
        {%- endcall %}
    {%- endcall %}


    {% call components.bulmaRow(extraClass='u-space-b30') %}

        {% call components.bulmaColumnAny(size='is-3') %}

            {{ components.captionHeading(text='Contents', tag='h2', size='s')}}

            <nav class="sticky-nav">

                {{ components.list(items=listItems, parentClass='sticky-nav')}}

            </nav>

        {%- endcall %}

        {% call components.bulmaColumnAny(size='is-9') %}

            {#<h2 class="heading heading-medium">Case for support</h2>#}

            {#{{ components.paragraph(text='This is how reviewers will see your proposal.', size='l') }}#}

            {#{{ components.sectionBreak(size='l') }}#}

            {% if caseForSupport %}

                {{ caseForSupport }}

            {% else %}

                <div>No content has been added yet.</div>

            {% endif %}

            {{ components.sectionBreak(size='l') }}

            <div class="application-controls govuk-clearfix">

                {{ components.button(text='Save and return to application overview', url='/prototypes/example-journey/application/', extraClass="")}}

                {{ components.link(text='Edit your case for support', url='/prototypes/example-journey/application/start', extraClass="application-controls__cancel")}}

            </div>

        {%- endcall %}

    {%- endcall %}

{% endblock %}


