{% macro gridRow() %}

  <div class="govuk-grid-row">
    {{ caller() }}
  </div>

{% endmacro %}

{% macro columnFull() %}

  <div class="govuk-grid-column-full">
    {{ caller() }}
  </div>

{% endmacro %}

{% macro columnHalf() %}

  <div class="govuk-grid-column-one-half">
    {{ caller() }}
  </div>

{% endmacro %}

{% macro columnOneThird() %}

  <div class="govuk-grid-column-one-third">
    {{ caller() }}
  </div>

{% endmacro %}

{% macro columnTwoThirds() %}

  <div class="govuk-grid-column-two-thirds">
    {{ caller() }}
  </div>

{% endmacro %}

{% macro columnOneQuarter() %}

  <div class="govuk-grid-column-one-quarter">
    {{ caller() }}
  </div>

{% endmacro %}

{% macro columnThreeQuarters() %}

  <div class="govuk-grid-column-three-quarters">
      {{ caller() }}
  </div>

{% endmacro %}
