{% macro gridRow(extraClass)%}

  <div class="govuk-grid-row">
    {{ caller() }}
  </div>

{% endmacro %}

{% macro columnFull(extraClass) %}

  <div class="govuk-grid-column-full {{ extraClass }}">
    {{ caller() }}
  </div>

{% endmacro %}

{% macro columnHalf(extraClass)%}

  <div class="govuk-grid-column-one-half {{ extraClass }}">
    {{ caller() }}
  </div>

{% endmacro %}

{% macro columnOneThird(extraClass)%}

  <div class="govuk-grid-column-one-third {{ extraClass }}">
    {{ caller() }}
  </div>

{% endmacro %}

{% macro columnTwoThirds(extraClass)%}

  <div class="govuk-grid-column-two-thirds {{ extraClass }}">
    {{ caller() }}
  </div>

{% endmacro %}

{% macro columnOneQuarter(extraClass)%}

  <div class="govuk-grid-column-one-quarter {{ extraClass }}">
    {{ caller() }}
  </div>

{% endmacro %}

{% macro columnThreeQuarters(extraClass)%}

  <div class="govuk-grid-column-three-quarters {{ extraClass }}">
      {{ caller() }}
  </div>

{% endmacro %}

{% macro column1of12(extraClass)%}

  <div class="govuk-grid-column-one-of-twelve {{ extraClass }}">
      {{ caller() }}
  </div>

{% endmacro %}

{% macro column2of12(extraClass)%}

  <div class="govuk-grid-column-two-of-twelve {{ extraClass }}">
      {{ caller() }}
  </div>

{% endmacro %}
