{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set navType = 'NOTadmin' %}
{% set pageTitle = 'Applicants' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/molecules', text:'Back to [previous_page]'}] %}
{% set isAdminUser = false %}

{% block content %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

            {{ components.captionHeading(text='On whose behalf are you applying for this Opportunity?', caption='Text for title caption') }}

        {%- endcall %}

    {%- endcall %}

    {% call components.form(action='#', method='POST', name='submitApplication') %}

    <section class="section" id="main-content">

        {% call components.bulmaRow() %}
            {% call components.bulmaColumnAny(size='is-8') %}

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <h2 class="govuk-fieldset__legend govuk-fieldset__legend--s">Organisation</h2>
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="org1" name="orgs" type="radio" value="org1">
                                <label class="govuk-label govuk-radios__label" for="org1">University of Fulchester</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="org2" name="orgs" type="radio" value="org2">
                                <label class="govuk-label govuk-radios__label" for="org2">Ambridge Polytechnic</label>
                            </div>
                        </div>
                    </fieldset>
                </div>

            {%- endcall %}
        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-12') %}

                <a href="#" class="govuk-link">Apply with a different organisation</a>

            {%- endcall %}

        {%- endcall %}

    </section>

    <section class="section" id="finalForm">


            {% call components.bulmaRow() %}

                {% call components.bulmaColumnAny(size='is-two-thirds') %}

                    {{ components.button(text='Confirm', extraClass="application-controls__submit", name='saveAndComplete')}}

                {%- endcall %}

            {%- endcall %}

    </section>

    {%- endcall %}

   {# {% include '../../layouts/partials/user-contact.njk' %}#}

{% endblock %}

{% block bodyScripts %}
    {#<script>
    </script>#}
{% endblock %}
