{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set navType = 'admin' %}
{% set pageTitle = 'Application items' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/molecules', text:'Back to molecules'}] %}
{% set isAdminUser = true %}

{% block content %}

    <section class="section" id="sections">

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

            {{ components.captionHeading(text='Remove link as button', tag='h2', size='m') }}

        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

            <div class="application-items u-space-b30">

                <div class="application-item application-item--incomplete">
                    <div class="application-item__contents govuk-clearfix">

                        <div class="application-item__left">
                            {{ components.link(text="Application with link", url='#') }}
                        </div>
                        <div class="application-item__right">
                            <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Incomplete</span>
                            <span class="application-item__control">{{ components.link(text='Remove<span class="govuk-visually-hidden"> this workflow item</span>', url='#?action=remove&id=1234234534534') }} </span>
                        </div>
                    </div>
                </div>

                <div class="application-item application-item--incomplete">
                    <div class="application-item__contents govuk-clearfix">
                        <div class="application-item__left">
                            {{ components.link(text="Application with button", url='#') }}
                        </div>
                        <form name="" action="#">
                            <div class="application-item__right">
                                <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Incomplete</span>
                                <span class="application-item__control">
                                    <button class="govuk-button--link">Remove<span class="govuk-visually-hidden"> this workflow item</span></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        {%- endcall %}

        </section>

    {%- endcall %}

{% endblock %}

{% block bodyScripts %}
    <script>
      Zepto(function($){
       $('#togglePostIts').on('click', function() {
         $('.guidelines').toggleClass('govuk-visually-hidden');
       });
      });
    </script>
{% endblock %}

