{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set navType = 'admin' %}
{% set pageTitle = 'Application' + GLOBAL_TAG_TITLE_SUFFIX %}

{% set isAdminUser = true %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}
            {{ components.backLink(text=BACK_TO_OPPORTUNITY_SETUP_LINK, url='/prototypes/opportunity-v2/setup') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a href="#datesSectionLink">You must complete the dates section</a>
                        </li>
                        <li>
                            <a href="#detailSectionLink">You must complete the details section</a>
                        </li>
                        <li>
                            <a href="#openCloseDates">You must complete the open and close dates</a>
                        </li>
                    </ul>
                </div>
            </div>

        {%- endcall %}
    {%- endcall %}

  {% call components.bulmaRow() %}

      {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

        {{ components.captionHeading(text='Application items variants') }}

      {%- endcall %}

    {%- endcall %}

    <section class="section" id="sections">


    <div class="container">

        <div class="columns">
            <div class="column">
                <div class="dates-header">
                    <div class="columns">
                        <div class="column is-4 ">
                            <h2 class="govuk-heading-m ">Application opens</h2>
                            <p>No opening date added</p>
                        </div>
                        <div class="column is-4 ">
                            <h2 class="govuk-heading-m ">Application closes</h2>
                            <p>No closing date added</p>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-4 ">
                            <a href="/prototypes/opportunity-v2/application-dates" class="govuk-link">Edit application dates</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="dates-header dates-header--error">
                    <span class="dates-header__error-message" id="datesSectionLink">You must select 'Edit application dates'</span>
                    <div class="columns">
                        <div class="column is-4 ">
                            <h2 class="govuk-heading-m ">Application opens</h2>
                            <p>No opening date added</p>
                        </div>
                        <div class="column is-4 ">
                            <h2 class="govuk-heading-m ">Application closes</h2>
                            <p>No closing date added</p>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <a href="/prototypes/opportunity-v2/application-dates" class="govuk-link">Edit application dates</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

            {{ components.captionHeading(text='Sections in two-thirds row', tag='h2', size='m') }}

        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

            <div class="application-items u-space-b30">

                <div class="application-item application-item--incomplete application-item--error">
                    <div class="application-item__error-message" id="detailSectionLink">
                        You must select [Custom/chosen section title] to mark this section as complete
                    </div>
                    <div class="application-item__contents govuk-clearfix">
                        <div class="application-item__left">
                            <a href="#" class="govuk-link" id="detailSectionLink">Details</a>
                        </div>
                        <div class="application-item__right">
                            <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Incomplete</span>
                        </div>
                    </div>
                </div>

                <div class="application-item application-item--incomplete">
                    <div class="application-item__contents govuk-clearfix">
                        <div class="application-item__left">
                            {{ components.link(text="Details", url='#') }}
                        </div>
                        <div class="application-item__right">
                            <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Incomplete</span>
                        </div>
                    </div>
                </div>

                <div class="application-item application-item--complete">
                    <div class="application-item__contents govuk-clearfix">
                        <div class="application-item__left">
                            {{ components.link(text="Details", url='#') }}
                        </div>
                        <div class="application-item__right">
                            <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Complete</span>
                        </div>
                    </div>
                </div>

                <div class="application-item">
                    <div class="application-item__contents govuk-clearfix">
                        <div class="application-item__left">
                            {{ components.link(text="Has no icon", url='#') }}
                        </div>
                        <div class="application-item__right">
                            <span class="application-item__meta">No icon required</span>
                        </div>
                    </div>
                </div>

                <div class="application-item application-item--complete">
                    <div class="application-item__contents govuk-clearfix">
                        <div class="application-item__left">
                            {{ components.link(text="Details", url='#') }}
                        </div>
                        <div class="application-item__right">
                            <span class="application-item__meta">
                                <span class="govuk-visually-hidden">The finders for this Opportunity are: </span> EPSRC, NERC, Inovate UK
                            </span>
                        </div>
                    </div>
                </div>

                <div class="application-item application-item--complete">
                    <div class="application-item__contents govuk-clearfix">
                        <div class="application-item__left">
                            {{ components.link(text="Very long title for a custom section that will wrap. ", url='#') }}
                        </div>
                        <div class="application-item__right">
                            <span class="application-item__meta">
                                Excessive amount of meta going into this one, just a tiny bit more so it wraps.
                            </span>
                            <span class="application-item__control">{{ components.link(text='Remove <span class="govuk-visually-hidden">this section</span>', url='#') }} </span>
                        </div>
                    </div>
                </div>

                <div class="application-item application-item--complete">
                    <div class="application-item__contents govuk-clearfix">

                        <div class="application-item__left">
                            {{ components.link(text="Application open and close dates", url='#') }}
                        </div>
                        <div class="application-item__right">
                            <span class="application-item__meta">
                                Opening date:<br>
                                <strong>9 April 2020</strong><br>
                                Closing date:<br>
                                <strong>21 Monthtember 2020</strong><br>
                            </span>
                            <span class="application-item__control">{{ components.link(text='Remove <span class="govuk-visually-hidden">this section</span>', url='#') }} </span>
                        </div>
                    </div>
                </div>

                <div class="application-item application-item--error">
                    <div class="application-item__error-message" id="openCloseDates">
                        You must select [Custom/chosen section title] to mark this section as complete
                    </div>
                    <div class="application-item__contents govuk-clearfix">
                        <div class="application-item__left">
                            {#{{ components.link(text="Application open and close dates", url='#') }}#}
                            <a href="#" class="govuk-link" >Application open and close dates</a>
                        </div>
                        <div class="application-item__right">
                            <span class="application-item__meta">
                                Excessive amount of meta going into this one, just a tiny bit more so it wraps.
                            </span>
                            <span class="application-item__control">{{ components.link(text='Remove <span class="govuk-visually-hidden">this section</span>', url='#') }} </span>
                        </div>
                    </div>
                </div>

                <div class="application-item application-item--error application-item--incomplete">
                    <div class="application-item__error-message">
                        You must select [Custom/chosen section title] to mark this section as complete
                    </div>
                    <div class="application-item__contents govuk-clearfix">
                        <div class="application-item__left">
                            {{ components.link(text="Application open and close dates", url='#') }}
                        </div>
                        <div class="application-item__right">
                            <span class="application-item__meta">
                                Excessive amount of meta going into this one, just a tiny bit more so it wraps.
                            </span>
                            <span class="application-item__control">{{ components.link(text='Remove <span class="govuk-visually-hidden">this section</span>', url='#') }} </span>
                        </div>
                    </div>
                </div>

                <div class="application-item application-item--workflow application-item--incomplete">
                    <div class="application-item__contents govuk-clearfix">
                        <div class="application-item__left">
                            {{ components.link(text="Applicants", url='#') }}
                        </div>
                        <div class="application-item__right">
                            <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Incomplete</span>
                            <span class="application-item__control">{{ components.link(text='Remove <span class="govuk-visually-hidden">this section</span>', url='#') }} </span>
                        </div>
                    </div>
                </div>

                <div class="application-item application-item--workflow application-item--incomplete">
                    <div class="application-item__contents govuk-clearfix">
                        <div class="application-item__left">
                            {{ components.link(text="Resources and costs", url='#') }}
                        </div>
                        <div class="application-item__right">
                            <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Incomplete</span>
                            <span class="application-item__control">{{ components.link(text='Remove <span class="govuk-visually-hidden">this section</span>', url='#') }} </span>
                        </div>
                    </div>
                </div>
                <div class="application-item application-item--incomplete application-item--workflow">
                    <div class="application-item__contents govuk-clearfix">
                        <div class="application-item__left">
                            {{ components.link(text="This item has an unfeasibly long title that is designed to let it wrap around all over the place and go on to the next line", url='#') }}
                        </div>
                        <div class="application-item__right">
                            <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Incomplete</span>
                            <span class="application-item__control">{{ components.link(text='Remove <span class="govuk-visually-hidden">this section</span>', url='#') }} </span>
                        </div>
                    </div>
                </div>

            </div>

        {%- endcall %}

        </section>

        <section class="section" id="altRows">

            {% call components.bulmaRow() %}

                {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

                    {{ components.captionHeading(text='Sections in three-quarters row', size='m') }}

                {%- endcall %}

            {%- endcall %}

            {% call components.bulmaRow() %}
                {% call components.bulmaColumnAny(size='column is-8') %}

                    <div class="application-items u-space-b30">

                        <div class="application-item application-item--incomplete">
                            <div class="application-item__contents govuk-clearfix">
                                <div class="application-item__left">
                                    {{ components.link(text="Details", url='#') }}
                                </div>
                                <div class="application-item__right">
                                    <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Incomplete</span>
                                </div>
                            </div>
                        </div>

                        <div class="application-item application-item--incomplete application-item--workflow">
                            <div class="application-item__contents govuk-clearfix">
                                <div class="application-item__left">
                                    {{ components.link(text="This item has an unfeasibly long title that is designed to let it wrap around all over the place and go on to the next line", url='#') }}
                                </div>
                                <div class="application-item__right">
                                    <span class="application-item__status"><span class="govuk-visually-hidden">This section is </span> Incomplete</span>
                                    <span class="application-item__control">{{ components.link(text="Remove", url='#') }} </span>
                                </div>
                            </div>
                        </div>
                    </div>

                {%- endcall %}

                {% call components.bulmaColumnAny(size='column is-3 is-offset-1') %}
                    <div class="govuk-related-items govuk-related-items--flush">
                        <h2 class="govuk-heading-xs u-space-y5">OPP-47101</h2>
                        <p class="govuk-body-s u-space-b5">Really long title for this exciting new opportunity</p>
                        <ul class="govuk-list u-space-t10">
                            <li><a href="/prototypes/opportunity-v2/create?mode=edit" class="govuk-link govuk-body--s sub-button">Edit Opportunity name</a></li>
                        </ul>
                    </div>
                {%- endcall %}
            {%- endcall %}
        </section>

    {%- endcall %}

{% endblock %}
