{% extends 'layouts/bulma-ufs.layout.njk' %}

{#{% set navType = 'admin' %}#}
{% set createOpportunityError = createOpportunityError if createOpportunityError %}
{% set createOpportunityErrorMessage = createOpportunityErrorMessage if createOpportunityErrorMessage %}
{% set opportunityName = opportunityName if opportunityName %}
{% set createOpportunityErrorMessageInputLevel = createOpportunityErrorMessageInputLevel if createOpportunityErrorMessageInputLevel %}
{#{% set isAdminUser = true %}#}
{%  set loggedOut = false %}


{% set pageTitle = 'External user elements' + GLOBAL_TAG_TITLE_SUFFIX %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.backLink(text='Back to molecules', url='/prototypes/molecules/') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds u-space-t30') %}
            {{ components.captionHeading(text='External user elements') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column column is-full is-9-desktop is-9-widescreen', customID='main-content') %}

           <p class="govuk-body">Page showing furniture/elements for external users</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>User profile/orgs menu, above in right-hand end of nav bar</li>
                <li>Beta banner (scroll down)</li>
                <li>Contact info (scroll down)</li>
            </ul>

        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow(extraClass='') %}

        {% call components.bulmaColumnAny(size='column column is-full is-9-desktop is-9-widescreen') %}
            <div class="service-help u-space-b20 u-space-t30" aria-expanded="false">
                <h2 class="govuk-heading-s service-help__heading">
                    <span class="service-help__plain">Need help with this service?</span>
                    <a href="#" class="govuk-link service-help__link js-only">Contact us</a>
                </h2>

                <div class="service-help__text js-hidden" aria-hidden="true">
                    <p class="govuk-body">You can either email us: <a href="mailto:support@innovateuk.ukri.org " class="govuk-link">support@innovateuk.ukri.org</a></p>
                    <p class="govuk-body">Or phone the Funding Service helpline: <a href="tel:03003214357" class="govuk-link" >0300 321 4357</a></p>
                </div>
            </div>
        {%- endcall %}

    {%- endcall %}

{% endblock %}
{% block bodyScripts %}
    <script>
      Zepto(function($){
        // TODO: ideally, we should be adding these aria attributes with JavaScript as they only apply in a JS-enabled environment
        $('.service-help__link').on('click', function() {
          let everythingWrapper = $('.service-help');
          let targetWrapper = $('.service-help__text');
          $(targetWrapper).toggleClass('js-hidden');
          if ($(targetWrapper).attr('aria-hidden') === 'true') {
            $(everythingWrapper).attr('aria-expanded', 'true');
            $(targetWrapper).attr('aria-hidden', 'false');
          } else {
            $(everythingWrapper).attr('aria-expanded', 'false');
            $(targetWrapper).attr('aria-hidden', 'true');
          }
        });
      });
    </script>
{% endblock %}


