{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set navType = '_admin' %}
{% set pageTitle = 'Two col, 7/4 with nested 50/50 split' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/molecules', text:'Back to molecules'}] %}
{% set isAdminUser = false %}
{%  set loggedOut = false %}


{% block content %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

            {{ components.captionHeading(text='Two col, 7/4 with nested 50/50 split', caption='Example layouts') }}

        {%- endcall %}

    {%- endcall %}

    <section class="section">

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-7', customID='main-content', role='main') %}

                {% call components.bulmaRow() %}

                    {% call components.bulmaColumnAny(size='column is-half') %}

                        {{ components.captionHeading(text='Left col', tag='h2', size='s') }}

                        <p class="govuk-body"><a href="#" class="govuk-link">First target after skiplink</a></p>

                        <p class="govuk-body">
                            Fusce id velit ut tortor pretium. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit. Libero id faucibus nisl tincidunt eget nullam. Duis tristique sollicitudin nibh sit. Eget dolor morbi non arcu risus. Eget sit amet tellus cras adipiscing. Morbi tincidunt augue interdum velit. Tristique senectus et netus et malesuada fames. Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque. Egestas diam in arcu cursus euismod quis viverra nibh cras. Id leo in vitae turpis. Diam sollicitudin tempor id eu nisl nunc. Morbi tempus iaculis urna id volutpat lacus laoreet non curabitur. Magna etiam tempor orci eu. Leo duis ut diam quam nulla porttitor massa id neque. Donec ultrices tincidunt arcu non sodales neque sodales ut etiam. Sit amet aliquam id diam maecenas ultricies mi eget. Sapien et ligula ullamcorper malesuada proin libero nunc consequat interdum.</p>

                    {%- endcall %}

                    {% call components.bulmaColumnAny(size='column is-half') %}

                        {{ components.captionHeading(text='Right col', tag='h2', size='s') }}

                        <p class="govuk-body"> Sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum. At ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget. Sodales ut eu sem integer vitae justo eget. Lorem mollis aliquam ut porttitor leo a diam. Vulputate mi sit amet mauris commodo quis. Nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Nec dui nunc mattis enim ut. Risus in hendrerit gravida rutrum quisque non tellus orci ac. Fermentum odio eu feugiat pretium nibh ipsum. Eget egestas purus viverra accumsan in nisl nisi. Elementum tempus egestas sed sed risus pretium quam vulputate. Lacus suspendisse faucibus interdum posuere lorem ipsum dolor sit. Maecenas volutpat blandit aliquam etiam erat. Nunc sed blandit libero volutpat sed cras ornare arcu.</p>

                        <p class="govuk-body"><a href="#" class="govuk-link">Second target after skiplink</a></p>

                        <p class="govuk-body">Sed viverra ipsum nunc aliquet bibendum enim. Semper risus in hendrerit gravida rutrum. Interdum velit laoreet id donec ultrices tincidunt. Nunc pulvinar sapien et ligula ullamcorper. Condimentum mattis pellentesque id nibh tortor id. Varius quam quisque id diam vel. Tempus iaculis urna id volutpat lacus. Netus et malesuada fames ac turpis egestas sed tempus urna. Mattis rhoncus urna neque viverra justo nec ultrices. Vel risus commodo viverra maecenas. Interdum consectetur libero id faucibus nisl tincidunt eget. Vulputate sapien nec sagittis aliquam malesuada bibendum arcu. Et netus et malesuada fames ac. Ipsum faucibus vitae aliquet nec ullamcorper sit amet. Gravida rutrum quisque non tellus orci. Nisl suscipit adipiscing bibendum est ultricies integer quis auctor. Scelerisque eleifend donec pretium vulputate sapien nec sagittis. Et netus et malesuada fames ac turpis egestas integer eget.
                        </p>

                    {%- endcall %}

                {%- endcall %}

            {%- endcall %}

            {% call components.bulmaColumnAny(size='column is-4 is-offset-1', role='complementary') %}
                <div class="govuk-related-items govuk-related-items--flush u-space-t15">
                    <h2 class="govuk-heading-s ">Some side bar content</h2>
                </div>
            {%- endcall %}

        {%- endcall %}

    </section>

    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}

{% block bodyScripts %}
    {#<script>
    </script>#}
{% endblock %}
