{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set navType = '' %}
{% set pageTitle = 'Overview' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set allCouncils = allCouncils %}
{% set backLinkContents =  [{url:'/prototypes/molecules', text:'Back to molecules'}] %}
{% set isAdminUser = false %}

{% block content %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

            {{ components.captionHeading(text='Overview') }}

        {%- endcall %}

    {%- endcall %}

    <section class="section" id="main-content">

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-full') %}

                <div class="overview-items">
                    <div class="overview-item">
                        <div class="columns">
                            <div class="column is-8">
                                <a href="#" class="govuk-link">Viral pandemic: distributed societal issues and news shaping</a><br>
                                <span class="govuk-!-font-size-16">
                                    <strong>Application number:</strong> 188<br>
                                    <strong>Opportunity:</strong> Public health and positive political messaging
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta overview-item__meta--danger">
                                        <span class="govuk-!-font-size-24">2</span><br> days left<br>
                                    Deadline 19 April
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta overview-item__meta--right overview-item__meta--success u-align-setup-vertical u-align-center">
                                    <span class="u-align-cell">Ready to submit</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="overview-item">
                        <div class="columns">
                            <div class="column is-8">
                                <a href="#" class="govuk-link">Recovery strategies from pollution in freshwater ecosystems</a><br>
                                <span class="govuk-!-font-size-16">
                                    <strong>Application number:</strong> 204<br>
                                    <strong>Opportunity:</strong> Freshwater ecology Part III, Where have all the invertebrates gone?
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta">
                                    <span class="govuk-!-font-size-24">34</span>
                                    <br> days left<br>
                                    Deadline 14 May
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta overview-item__meta--right u-align-setup-vertical u-align-center">
                                    <span class="u-align-cell">50% complete</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="overview-item">
                        <div class="columns">
                            <div class="column is-8">
                                <a href="#" class="govuk-link">Effluent filtering in pre-treated brown water overflows</a><br>
                                <span class="govuk-!-font-size-16">
                                    <strong>Application number:</strong> 219<br>
                                    <strong>Opportunity:</strong> Freshwater ecology Part III, Where have all the invertebrates gone?
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta">
                                    <span class="govuk-!-font-size-24">50</span>
                                    <br> days left<br>
                                    Deadline 28 May
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta overview-item__meta--right u-align-setup-vertical u-align-center">
                                    <span class="u-align-cell">50% complete</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="overview-item">
                        <div class="columns">
                            <div class="column is-8">
                                <a href="#" class="govuk-link">Jet propulsion systems in underwater environments</a><br>
                                <span class="govuk-!-font-size-16">
                                    <strong>Application number:</strong> 176<br>
                                    <strong>Opportunity:</strong> Freshwater ecology Part I, Sub aquatic travel and investigation methods?
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta  u-align-setup-vertical u-align-center">
                                    <span class="u-align-cell">Submitted on <br>
                                    21 March 2020</span>
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta overview-item__meta--right u-align-setup-vertical u-align-center">
                                    <span class="u-align-cell">In review</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="overview-item">
                        <div class="columns">
                            <div class="column is-8">
                                <a href="#" class="govuk-link">Dimensional transmogrification methodology in domesticated urban felines.</a><br>
                                <span class="govuk-!-font-size-16">
                                    <strong>Application number:</strong> 154<br>
                                    <strong>Opportunity:</strong> Preservation of distributed and diverse avian populations in tendered and semi-wild non-rural environments
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta  u-align-setup-vertical u-align-center">
                                    <span class="u-align-cell">Submitted on <br>
                                    14 March 2020</span>
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta overview-item__meta--right u-align-setup-vertical u-align-center">
                                    <span class="u-align-cell">Awaiting decision</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="overview-item">
                        <div class="columns">
                            <div class="column is-10">
                                <a href="#" class="govuk-link">Bucky balls in internal heterogenous fluid environments</a><br>
                                <span class="govuk-!-font-size-16">
                                    <strong>Application number:</strong> 116<br>
                                    <strong>Opportunity:</strong> Surgical advancements, part II
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta overview-item__meta--right overview-item__meta--success u-align-setup-vertical u-align-center">
                                    <span class="u-align-cell">Awarded</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="overview-item">
                        <div class="columns">
                            <div class="column is-8">
                                <a href="#" class="govuk-link">Viral pandemic: distributed societal issues and news shaping</a><br>
                                <span class="govuk-!-font-size-16">
                                    <strong>Application number:</strong> 188<br>
                                    <strong>Opportunity:</strong> Public health and positive political messaging
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta u-align-setup-vertical u-align-center">
                                    <span class="u-align-cell"><a href="#" class="govuk-link">Remove</a></span>
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta overview-item__meta--right u-align-setup-vertical u-align-center overview-item__meta--danger">
                                    <span class="u-align-cell">Not successful</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="overview-item">
                        <div class="columns">
                            <div class="column is-8">
                                <a href="#" class="govuk-link">Quick turnaround manufacturing techniques using lasers and 3D printers</a><br>
                                <span class="govuk-!-font-size-16">
                                    <strong>Application number:</strong> 219<br>
                                    <strong>Opportunity:</strong> Pandemic response strategies: Part I, PPE manufacture
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta u-align-setup-vertical u-align-center">
                                    <span class="u-align-cell"><a href="#" class="govuk-link">Remove</a></span>
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta overview-item__meta--right u-align-setup-vertical u-align-center">
                                    <span class="u-align-cell">Not submitted</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            {%- endcall %}
        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-full') %}

                <div class="overview-items">
                    <div class="columns">
                        <div class="column is-full">
                            {{ components.captionHeading(text='In progress', tag='h2', size='s', extraClass='overview-items__heading') }}
                        </div>
                    </div>
                    <div class="overview-item">
                        <div class="columns">
                            <div class="column is-8">
                                <a href="#" class="govuk-link">Recovery strategies from pollution in freshwater ecosystems</a><br>
                                <span class="govuk-!-font-size-16">
                                    <strong>Application number:</strong> 204<br>
                                    <strong>Opportunity:</strong> Freshwater ecology Part III, Where have all the invertebrates gone?
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta">
                                    <span class="govuk-!-font-size-24">24</span>
                                    <br> days left<br>
                                    Deadline 14 May
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta overview-item__meta--right u-align-setup-vertical u-align-center">
                                    <span class="u-align-cell">50% complete</span>
                                </span>
                            </div>

                        </div>
                    </div>

                    <div class="overview-item">
                        <div class="columns">
                            <div class="column is-8">
                                <a href="#" class="govuk-link">Viral pandemic: distributed societal issues and news shaping</a><br>
                                <span class="govuk-!-font-size-16">
                                    <strong>Application number:</strong> 188<br>
                                    <strong>Opportunity:</strong> Public health and positive political messaging
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta overview-item__meta--danger">
                                        <span class="govuk-!-font-size-24">2</span><br> days left<br>
                                    Deadline 19 April
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta overview-item__meta--right overview-item__meta--success u-align-setup-vertical u-align-center">
                                    <span class="u-align-cell">Ready to submit</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="overview-item">
                        <div class="columns">
                            <div class="column is-8">
                                <a href="#" class="govuk-link">Quick turnaround manufacturing techniques using lasers and 3D printers</a><br>
                                <span class="govuk-!-font-size-16">
                                    <strong>Application number:</strong> 219<br>
                                    <strong>Opportunity:</strong> Pandemic response strategies: Part I, PPE manufacture
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta overview-item__meta--danger">
                                    <span class="govuk-!-font-size-24">6</span><br> days left<br>
                                Deadline 23 April
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta overview-item__meta--right u-align-setup-vertical u-align-center">
                                    <span class="u-align-cell">95% complete</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
           {%- endcall %}
        {%- endcall %}


        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-full') %}

                <div class="overview-items">
                    <div class="columns">
                        <div class="column is-full">
                            {{ components.captionHeading(text='Submitted', tag='h2', size='s', extraClass='overview-items__heading') }}
                        </div>
                    </div>
                    <div class="overview-item">
                        <div class="columns">
                            <div class="column is-10">
                                <a href="#" class="govuk-link">Remote learning strategies for isolated teams</a><br>
                                <span class="govuk-!-font-size-16">
                                    <strong>Application number:</strong> 225<br>
                                    <strong>Opportunity:</strong> New generation thinkers
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta overview-item__meta--right u-align-setup-vertical u-align-center">
                                    <span class="u-align-cell">Awaiting decision</span>
                                </span>
                            </div>

                        </div>
                    </div>

                    <div class="overview-item">
                        <div class="columns">
                            <div class="column is-10">
                                <a href="#" class="govuk-link">Distributed computational systems in unmanned aircraft</a><br>
                                <span class="govuk-!-font-size-16">
                                    <strong>Application number:</strong> 195<br>
                                    <strong>Opportunity:</strong> Unmanned flight Part II: Control systems for swarming
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta overview-item__meta--right overview-item__meta--success u-align-setup-vertical u-align-center">
                                    <span class="u-align-cell">Awarded</span>
                                </span>
                            </div>
                        </div>
                    </div>


                </div>
            {%- endcall %}
        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-full') %}

                <div class="overview-items">
                    <div class="columns">
                        <div class="column is-full">
                            {{ components.captionHeading(text='Minor alternatives', tag='h2', size='s', extraClass='overview-items__heading') }}
                        </div>
                    </div>
                    <div class="overview-item">
                        <div class="columns">
                            <div class="column is-8">
                                <a href="#" class="govuk-link">Another slightly gloomy dystopian project name</a><br>
                                <span class="govuk-!-font-size-16">
                                   <strong>Application number:</strong> 199<br>
                                    <strong><strong>Opportunity:</strong></strong> Science for our age, part II<br>
                                    <strong>Funder:</strong> AHRC<br>
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta u-align-setup-vertical u-align-center"><span class="u-align-cell">Submitted on 21 March 2020</span></span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta overview-item__meta--right u-align-setup-vertical u-align-center">
                                    <span class="u-align-cell">Awaiting decision</span>
                                </span>
                            </div>

                        </div>
                    </div>

                </div>
            {%- endcall %}
        {%- endcall %}
    </section>

{% endblock %}

{% block bodyScripts %}
   {# <script>
      function toggleVisibility(_this, id, className) {
        // event.preventDefault();
        let toggleSwitch = _this;
        let toggleItem = document.getElementById(id);
        if (hasClass(toggleItem, className)) {
          toggleSwitch.classList.add('filter__title--closed');
          toggleItem.classList.remove(className);
          toggleSwitch.setAttribute('aria-expanded', true);
        }
        else  {
          toggleSwitch.classList.remove('filter__title--closed');
          toggleItem.classList.add(className);
          toggleSwitch.setAttribute('aria-expanded', false);
        }
        // return false;
      }
      function hasClass(target, className) {
        return new RegExp('(\\s|^)' + className + '(\\s|$)').test(target.className);
      }
    </script>#}
{% endblock %}
