{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set navType = 'admin' %}
{% set pageTitle = 'Pagination' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/molecules', text:'Back to molecules'}] %}
{% set isAdminUser = true %}

{% block content %}


    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

            {{ components.captionHeading(text='Pagination') }}

        {%- endcall %}

    {%- endcall %}

        <section class="section" id="main-content">

            {% call components.bulmaRow() %}
                {% call components.bulmaColumnAny(size='column is-8') %}

                    <h2 class="govuk-heading-m">Search results (with RH side col)</h2>

                    {#{{ components.pagination(totalresults=46,currentPage=2) }}#}
                    {#{{ components.pagination(totalresults=99,resultsPerPage=10,currentPage=4) }}#}
                    {#{{ components.pagination(totalresults=250,resultsPerPage=20,currentPage=6) }}#}
                    {#{{ components.pagination(totalresults=1456,resultsPerPage=20,currentPage=6) }}#}

                    <h3 class="govuk-heading-s">page 1 of 100</h3>

                     <div class="pager" role="navigation" aria-label="Pagination">
                        <div class="pager__summary">
                            Showing 0 to 20 of 200 results
                        </div>
                        <div class="pager__controls">
                            <ul class="pager__list">
                                {#<li class="pager__list-item">
                                    <a class="pager__list-link pager__prev govuk-link" href="#" aria-label="Previous page">Previous</a>
                                </li>#}
                                <li class="pager__list-item">
                                    <span class="pager__list-not-link" aria-current="true" aria-label="Page X, current page">1</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">2</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">3</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">4</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">5</a>
                                </li>
                                <li class="pager__list-item" aria-hidden="true" role="presentation">
                                    <span class="pager__list-ellipses">...</span>
                                </li>

                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">10</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__next govuk-link" href="#" aria-label="Next page">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <h3 class="govuk-heading-s">page 2 of 10</h3>

                     <div class="pager" role="navigation" aria-label="Pagination">
                        <div class="pager__summary">
                            Showing 21 to 40 of 200 results
                        </div>
                        <div class="pager__controls">
                            <ul class="pager__list">
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__prev govuk-link" href="#" aria-label="Previous page">Previous</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">1</a>
                                </li>
                                <li class="pager__list-item">
                                    <span class="pager__list-not-link" aria-current="true" aria-label="Page X, current page">2</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">3</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">4</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">5</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">6</a>
                                </li>
                                <li class="pager__list-item" aria-hidden="true" role="presentation">
                                    <span class="pager__list-ellipses">...</span>
                                </li>

                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">10</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__next govuk-link" href="#" aria-label="Next page">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <h3 class="govuk-heading-s">page 3 of 10</h3>

                     <div class="pager" role="navigation" aria-label="Pagination">
                        <div class="pager__summary">
                            Showing 41 to 60 of 200 results
                        </div>
                        <div class="pager__controls">
                            <ul class="pager__list">
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__prev govuk-link" href="#" aria-label="Previous page">Previous</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">1</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">2</a>
                                </li>
                                <li class="pager__list-item">
                                    <span class="pager__list-not-link" aria-current="true" aria-label="Page X, current page">3</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">4</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">5</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">6</a>
                                </li>
                                <li class="pager__list-item" aria-hidden="true" role="presentation">
                                    <span class="pager__list-ellipses">...</span>
                                </li>

                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">10</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__next govuk-link" href="#" aria-label="Next page">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <h3 class="govuk-heading-s">page 4 of 10</h3>
                     <div class="pager" role="navigation" aria-label="Pagination">
                        <div class="pager__summary">
                            Showing 61 to 80 of 200 results
                        </div>
                        <div class="pager__controls">
                            <ul class="pager__list">
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__prev govuk-link" href="#" aria-label="Previous page">Previous</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">1</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">2</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">3</a>
                                </li>
                                <li class="pager__list-item">
                                    <span class="pager__list-not-link" aria-current="true" aria-label="Page X, current page">4</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">5</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">6</a>
                                </li>
                                <li class="pager__list-item" aria-hidden="true" role="presentation">
                                    <span class="pager__list-ellipses">...</span>
                                </li>

                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">10</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__next govuk-link" href="#" aria-label="Next page">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <h3 class="govuk-heading-s">page 5 of 10</h3>
                     <div class="pager" role="navigation" aria-label="Pagination">
                        <div class="pager__summary">
                            Showing 81 to 100 of 200 results
                        </div>
                        <div class="pager__controls">
                            <ul class="pager__list">
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__prev govuk-link" href="#" aria-label="Previous page">Previous</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">1</a>
                                </li>
                                <li class="pager__list-item" aria-hidden="true" role="presentation">
                                    <span class="pager__list-ellipses">...</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">3</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">4</a>
                                </li>
                                <li class="pager__list-item">
                                    <span class="pager__list-not-link" aria-current="true" aria-label="Page X, current page">5</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">6</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">7</a>
                                </li>
                                <li class="pager__list-item" aria-hidden="true" role="presentation">
                                    <span class="pager__list-ellipses">...</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">10</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__next govuk-link" href="#" aria-label="Next page">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <h3 class="govuk-heading-s">page 6 of 10</h3>
                     <div class="pager" role="navigation" aria-label="Pagination">
                        <div class="pager__summary">
                            Showing 101 to 120 of 200 results
                        </div>
                        <div class="pager__controls">
                            <ul class="pager__list">
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__prev govuk-link" href="#" aria-label="Previous page">Previous</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">1</a>
                                </li>
                                <li class="pager__list-item" aria-hidden="true" role="presentation">
                                    <span class="pager__list-ellipses">...</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">4</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">5</a>
                                </li>
                                <li class="pager__list-item">
                                    <span class="pager__list-not-link" aria-current="true" aria-label="Page X, current page">6</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">7</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">8</a>
                                </li>
                                <li class="pager__list-item" aria-hidden="true" role="presentation">
                                    <span class="pager__list-ellipses">...</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">10</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__next govuk-link" href="#" aria-label="Next page">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <h3 class="govuk-heading-s">page 7 of 10</h3>
                     <div class="pager" role="navigation" aria-label="Pagination">
                        <div class="pager__summary">
                            Showing 121 to 140 of 200 results
                        </div>
                        <div class="pager__controls">
                            <ul class="pager__list">
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__prev govuk-link" href="#" aria-label="Previous page">Previous</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">1</a>
                                </li>
                                <li class="pager__list-item" aria-hidden="true" role="presentation">
                                    <span class="pager__list-ellipses">...</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">5</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">6</a>
                                </li>
                                <li class="pager__list-item">
                                    <span class="pager__list-not-link" aria-current="true" aria-label="Page X, current page">7</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">8</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">9</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">10</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__next govuk-link" href="#" aria-label="Next page">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <h3 class="govuk-heading-s">page 8 of 10</h3>
                     <div class="pager" role="navigation" aria-label="Pagination">
                        <div class="pager__summary">
                            Showing 141 to 160 of 200 results
                        </div>
                        <div class="pager__controls">
                            <ul class="pager__list">
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__prev govuk-link" href="#" aria-label="Previous page">Previous</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">1</a>
                                </li>
                                <li class="pager__list-item" aria-hidden="true" role="presentation">
                                    <span class="pager__list-ellipses">...</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">5</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">6</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">7</a>
                                </li>
                                <li class="pager__list-item">
                                    <span class="pager__list-not-link" aria-current="true" aria-label="Page X, current page">8</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">9</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">10</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__next govuk-link" href="#" aria-label="Next page">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <h3 class="govuk-heading-s">page 9 of 10</h3>
                     <div class="pager" role="navigation" aria-label="Pagination">
                        <div class="pager__summary">
                            Showing 161 to 180 of 200 results
                        </div>
                        <div class="pager__controls">
                            <ul class="pager__list">
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__prev govuk-link" href="#" aria-label="Previous page">Previous</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">1</a>
                                </li>
                                <li class="pager__list-item" aria-hidden="true" role="presentation">
                                    <span class="pager__list-ellipses">...</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">5</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">6</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">7</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">8</a>
                                </li>
                                <li class="pager__list-item">
                                    <span class="pager__list-not-link" aria-current="true" aria-label="Page X, current page">9</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">10</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__next govuk-link" href="#" aria-label="Next page">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <h3 class="govuk-heading-s">page 10 of 10</h3>
                     <div class="pager" role="navigation" aria-label="Pagination">
                        <div class="pager__summary">
                            Showing 181 to 200 of 200 results
                        </div>
                        <div class="pager__controls">
                            <ul class="pager__list">
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__prev govuk-link" href="#" aria-label="Previous page">Previous</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">1</a>
                                </li>
                                <li class="pager__list-item" aria-hidden="true" role="presentation">
                                    <span class="pager__list-ellipses">...</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">5</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">6</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">7</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">8</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">9</a>
                                </li>
                                <li class="pager__list-item">
                                    <span class="pager__list-not-link" aria-current="true" aria-label="Page X, current page">10</span>
                                </li>
                                {#<li class="pager__list-item">
                                    <a class="pager__list-link pager__next govuk-link" href="#" aria-label="Next page">Next</a>
                                </li>#}
                            </ul>
                        </div>
                    </div>

                    <h3 class="govuk-heading-s">You want more? page 15 of 100</h3>
                     <div class="pager" role="navigation" aria-label="Pagination">
                        <div class="pager__summary">
                            Showing 301 to 320 of 2000 results
                        </div>
                        <div class="pager__controls">
                            <ul class="pager__list">
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__prev govuk-link" href="#" aria-label="Previous page">Previous</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">1</a>
                                </li>
                                <li class="pager__list-item" aria-hidden="true" role="presentation">
                                    <span class="pager__list-ellipses">...</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">13</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">14</a>
                                </li>
                                <li class="pager__list-item">
                                    <span class="pager__list-not-link" aria-current="true" aria-label="Page X, current page">15</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">16</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">17</a>
                                </li>
                                <li class="pager__list-item" aria-hidden="true" role="presentation">
                                    <span class="pager__list-ellipses">...</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">100</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__next govuk-link" href="#" aria-label="Next page">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>





                   {#  <div class="pager" role="navigation" aria-label="Pagination">
                        <div class="pager__summary">
                            Showing 120 to 140 of 200 results
                        </div>
                        <div class="pager__controls">
                            <ul class="pager__list">
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__prev govuk-link" href="#" aria-label="Previous page">Previous</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">1</a>
                                </li>
                                <li class="pager__list-item" aria-hidden="true" role="presentation">
                                    <span class="pager__list-ellipses">...</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">4</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">5</a>
                                </li>
                                <li class="pager__list-item">
                                    <span class="pager__list-not-link" aria-current="true" aria-label="Page X, current page">6</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">7</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">8</a>
                                </li>
                                <li class="pager__list-item" aria-hidden="true" role="presentation">
                                    <span class="pager__list-ellipses">...</span>
                                </li>

                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">10</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__next govuk-link" href="#" aria-label="Next page">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>#}

                  {#   <div class="pager" role="navigation" aria-label="Pagination">
                        <div class="pager__summary">
                            Showing 380 to 400 of 2038 results
                        </div>
                        <div class="pager__controls">
                            <ul class="pager__list">
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__prev govuk-link" href="#" aria-label="Previous page">Previous</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">1</a>
                                </li>
                                <li class="pager__list-item" aria-hidden="true" role="presentation">
                                    <span class="pager__list-ellipses">...</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">17</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">18</a>
                                </li>
                                <li class="pager__list-item">
                                    <span class="pager__list-not-link" aria-current="true" aria-label="Page X, current page">19</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">20</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">21</a>
                                </li>
                                <li class="pager__list-item" aria-hidden="true" role="presentation">
                                    <span class="pager__list-ellipses">...</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">102</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__next govuk-link" href="#" aria-label="Next page">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>#}

                    {#  <div class="pager" role="navigation" aria-label="Pagination">
                         <div class="pager__summary">
                             Showing 51 to 60 of 1456 results
                         </div>
                         <div class="pager__controls">
                             <ul class="pager__list">
                                 <li class="pager__list-item">
                                     <a class="pager__list-link pager__prev govuk-link" href="#">#}{#&lsaquo;#}{# Previous</a>
                                 </li>
                                 <li class="pager__list-item">
                                     <a class="pager__list-link govuk-link" href="#">First</a>
                                 </li>
                                 <li class="pager__list-item" aria-hidden="true" role="presentation">
                                    <span class="pager__list-ellipses">...</span>
                                </li>
                                 <li class="pager__list-item">
                                     <a class="pager__list-link govuk-link" href="#">17</a>
                                 </li>
                                 <li class="pager__list-item">
                                     <a class="pager__list-link govuk-link" href="#">18</a>
                                 </li>
                                 <li class="pager__list-item">
                                     <span class="pager__list-not-link" aria-current="true" aria-label="Page X, current page">19</span>
                                 </li>
                                 <li class="pager__list-item">
                                     <a class="pager__list-link govuk-link" href="#">20</a>
                                 </li>
                                 <li class="pager__list-item">
                                     <a class="pager__list-link govuk-link" href="#">21</a>
                                 </li>
                                 <li class="pager__list-item" aria-hidden="true" role="presentation">
                                    <span class="pager__list-ellipses">...</span>
                                </li>
                                 <li class="pager__list-item">
                                     <a class="pager__list-link govuk-link" href="#">Last</a>
                                 </li>
                                 <li class="pager__list-item">
                                     <a class="pager__list-link pager__next govuk-link" href="#">Next #}{#&rsaquo;#}{#</a>
                                 </li>
                             </ul>
                         </div>
                     </div>#}


                    {# <p class="govuk-body">
                         <i>To do: Needs to fold on more than 10 pages to show only x number of pages either side of selected page to avoid massive lists of numbers.</i>
                     </p>#}

                {%- endcall %}

                {% call components.bulmaColumnAny(size='column is-3 is-offset-1') %}
                    <div class="govuk-related-results govuk-related-results--flush">
                        [side bar stuff in offset-1 col]
                    </div>
                {%- endcall %}
            {%- endcall %}

            {#{% call components.bulmaRow() %}
                {% call components.bulmaColumnAny(size='column is-full') %}

                    <h2 class="govuk-heading-m">Search results (full width)</h2>

                    {{ components.pagination(totalresults=46,currentPage=2) }}

                     <div class="pager" role="navigation" aria-label="Pagination">
                        <div class="pager__summary">
                            Showing 120 to 140 of 200 results
                        </div>
                        <div class="pager__controls">
                            <ul class="pager__list">
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__prev govuk-link" href="#" aria-label="Previous page">Previous</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">1</a>
                                </li>
                                <li class="pager__list-item" aria-hidden="true" role="presentation">
                                    <span class="pager__list-ellipses">...</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">4</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">5</a>
                                </li>
                                <li class="pager__list-item">
                                    <span class="pager__list-not-link" aria-current="true" aria-label="Page X, current page">6</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">7</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">8</a>
                                </li>
                                <li class="pager__list-item" aria-hidden="true" role="presentation">
                                    <span class="pager__list-ellipses">...</span>
                                </li>

                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">10</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__next govuk-link" href="#" aria-label="Next page">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                     <div class="pager" role="navigation" aria-label="Pagination">
                        <div class="pager__summary">
                            Showing 380 to 400 of 2038 results
                        </div>
                        <div class="pager__controls">
                            <ul class="pager__list">
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__prev govuk-link" href="#" aria-label="Previous page">Previous</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">1</a>
                                </li>
                                <li class="pager__list-item" aria-hidden="true" role="presentation">
                                    <span class="pager__list-ellipses">...</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">17</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">18</a>
                                </li>
                                <li class="pager__list-item">
                                    <span class="pager__list-not-link" aria-current="true" aria-label="Page X, current page">19</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">20</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">21</a>
                                </li>
                                <li class="pager__list-item" aria-hidden="true" role="presentation">
                                    <span class="pager__list-ellipses">...</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">102</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__next govuk-link" href="#" aria-label="Next page">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {%- endcall %}

            {%- endcall %}#}

          {#  {% call components.bulmaRow() %}

                {% call components.bulmaColumnAny(size='column is-3') %}
                    <div class="govuk-related-results govuk-related-results--flush">
                        [side bar stuff in flush col]
                    </div>
                {%- endcall %}

                {% call components.bulmaColumnAny(size='column is-9') %}

                    <h2 class="govuk-heading-m">Search results (with LH col)</h2>


                    {{ components.pagination(totalresults=46,currentPage=2) }}

                     <div class="pager" role="navigation" aria-label="Pagination">
                        <div class="pager__summary">
                            Showing 120 to 140 of 200 results
                        </div>
                        <div class="pager__controls">
                            <ul class="pager__list">
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__prev govuk-link" href="#" aria-label="Previous page">Previous</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">1</a>
                                </li>
                                <li class="pager__list-item" aria-hidden="true" role="presentation">
                                    <span class="pager__list-ellipses">...</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">4</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">5</a>
                                </li>
                                <li class="pager__list-item">
                                    <span class="pager__list-not-link" aria-current="true" aria-label="Page X, current page">6</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">7</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">8</a>
                                </li>
                                <li class="pager__list-item" aria-hidden="true" role="presentation">
                                    <span class="pager__list-ellipses">...</span>
                                </li>

                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">10</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__next govuk-link" href="#" aria-label="Next page">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                     <div class="pager" role="navigation" aria-label="Pagination">
                        <div class="pager__summary">
                            Showing 380 to 400 of 2038 results
                        </div>
                        <div class="pager__controls">
                            <ul class="pager__list">
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__prev govuk-link" href="#" aria-label="Previous page">Previous</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">1</a>
                                </li>
                                <li class="pager__list-item" aria-hidden="true" role="presentation">
                                    <span class="pager__list-ellipses">...</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">17</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">18</a>
                                </li>
                                <li class="pager__list-item">
                                    <span class="pager__list-not-link" aria-current="true" aria-label="Page X, current page">19</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">20</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">21</a>
                                </li>
                                <li class="pager__list-item" aria-hidden="true" role="presentation">
                                    <span class="pager__list-ellipses">...</span>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link govuk-link" href="#">102</a>
                                </li>
                                <li class="pager__list-item">
                                    <a class="pager__list-link pager__next govuk-link" href="#" aria-label="Next page">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {%- endcall %}

            {%- endcall %}#}

        </section>

{% endblock %}
