{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set navType = 'admin' %}
{% set pageTitle = 'Pagination' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/molecules', text:'Back to molecules'}] %}
{% set isAdminUser = true %}

{% block content %}


    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

            {{ components.captionHeading(text='Pagination') }}

        {%- endcall %}

    {%- endcall %}

        <section class="section" id="main-content">

            {% call components.bulmaRow() %}
                {% call components.bulmaColumnAny(size='column is-8') %}

                    {{ components.pagination(totalItems=46,currentPage=2) }}
                    {{ components.pagination(totalItems=99,itemsPerPage=10,currentPage=4) }}

                    <p class="govuk-body">
                        <i>To do: Needs to fold on more than 10 pages to show only x number of pages either side of selected page to avoid massive lists of numbers.</i>
                    </p>

                {%- endcall %}

                {% call components.bulmaColumnAny(size='column is-3 is-offset-1') %}
                    <div class="govuk-related-items govuk-related-items--flush">
                    </div>
                {%- endcall %}
            {%- endcall %}
        </section>

{% endblock %}
