{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set navType = 'admin' %}
{% set pageTitle = 'Progress bars' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set backLinkContents =  [{url:'/prototypes/molecules', text:'Back to molecules'}] %}
{% set isAdminUser = true %}

{% block content %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

            {{ components.captionHeading(text='Progress bars') }}

        {%- endcall %}

    {%- endcall %}

        <section class="section" id="altRows">

            {% call components.bulmaRow() %}

                {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

                    {{ components.captionHeading(text='Change the viewport width', size='m') }}

                {%- endcall %}

            {%- endcall %}

            {% call components.bulmaRow() %}
                {% call components.bulmaColumnAny(size='column is-8') %}

                    <div class="application-items u-space-b30">

                        <div class="application-item application-item--incomplete">
                            <div class="application-item__contents govuk-clearfix">
                                <div class="application-item__left">
                                    {{ components.link(text="Details", url='#') }}
                                </div>
                                <div class="application-item__right">
                                    <span class="application-item__status">Incomplete</span>
                                </div>
                            </div>
                        </div>
                    </div>

                {%- endcall %}

                {% call components.bulmaColumnAny(size='column is-3 is-offset-1') %}
                    <div class="govuk-related-items govuk-related-items--flush">

                        <div class="progress-meter">
                            <label class="govuk-visually-hidden" id="progressBar_1">Application Progress</label>
                            <div class="progress-meter__text progress-meter__text--back" role="progress-bar" aria-valuenow="0%" aria-live="polite" aria-valuemin="0" aria-valuemax="100" aria-valuetext="0%" aria-labelledby="progressBar_1"><span class="govuk-visually-hidden">Your application is</span> 0% complete</div>
                            <div class="progress-meter__clipper progress-meter__clipper--width" aria-hidden="true" style="clip-path: inset(0% 100% 0% 0%); -webkit-clip-path: inset(0% 100% 0% 0%)">
                                <div class="progress-meter__text progress-meter__text--front">0% complete</div>
                            </div>
                        </div>

                        <div class="progress-meter">
                            <label class="govuk-visually-hidden" id="progressBar_2">Application Progress</label>
                            <div class="progress-meter__text progress-meter__text--back" role="progress-bar" aria-valuenow="51%" aria-live="polite" aria-valuemin="0" aria-valuemax="100" aria-valuetext="51%" aria-labelledby="progressBar_2"><span class="govuk-visually-hidden">Your application is</span> 51% complete</div>
                            <div class="progress-meter__clipper progress-meter__clipper--width" aria-hidden="true" style="clip-path: inset(0% 49% 0% 0%); -webkit-clip-path: inset(0% 49% 0% 0%)">
                                <div class="progress-meter__text progress-meter__text--front">51% complete</div>
                            </div>
                        </div>

                        <div class="progress-meter">
                            <label class="govuk-visually-hidden" id="progressBar_3">Application Progress</label>
                            <div class="progress-meter__text progress-meter__text--back" role="progress-bar" aria-valuenow="27%" aria-live="polite" aria-valuemin="0" aria-valuemax="100" aria-valuetext="27%" aria-labelledby="progressBar_3"><span class="govuk-visually-hidden">Your application is</span> 27% complete</div>
                            <div class="progress-meter__clipper" aria-hidden="true" style="clip-path: inset(0% 73% 0% 0%); -webkit-clip-path: inset(0% 73% 0% 0%)">
                                <div class="progress-meter__text progress-meter__text--front">27% complete</div>
                            </div>
                        </div>

                        <div class="progress-meter">
                            <label class="govuk-visually-hidden" id="progressBar_4">Application Progress</label>
                            <div class="progress-meter__text progress-meter__text--back" role="progress-bar" aria-valuenow="68%" aria-live="polite" aria-valuemin="0" aria-valuemax="100" aria-valuetext="68%" aria-labelledby="progressBar_4"><span class="govuk-visually-hidden">Your application is</span> 68% complete</div>
                            <div class="progress-meter__clipper" aria-hidden="true" style="clip-path: inset(0% 32% 0% 0%); -webkit-clip-path: inset(0% 32% 0% 0%)">
                                <div class="progress-meter__text progress-meter__text--front">68% complete</div>
                            </div>
                        </div>

                        <div class="progress-meter">
                            < <label class="govuk-visually-hidden" id="progressBar_5">Application Progress</label>
                            <div class="progress-meter__text progress-meter__text--back" role="progress-bar" aria-valuenow="96%" aria-live="polite" aria-valuemin="0" aria-valuemax="100" aria-valuetext="96%" aria-labelledby="progressBar_5"><span class="govuk-visually-hidden">Your application is</span> 96% complete</div>
                            <div class="progress-meter__clipper" aria-hidden="true" style="clip-path: inset(0% 4% 0% 0%); -webkit-clip-path: inset(0% 4% 0% 0%)">
                                <div class="progress-meter__text progress-meter__text--front">96% complete</div>
                            </div>
                        </div>

                        <div class="progress-meter">
                            <label class="govuk-visually-hidden" id="progressBar_4">Application Progress</label>
                            <div class="progress-meter__text progress-meter__text--back" role="progress-bar" aria-valuenow="100%" aria-live="polite" aria-valuemin="0" aria-valuemax="100" aria-valuetext="100%" aria-labelledby="progressBar_4"><span class="govuk-visually-hidden">Your application is</span> Ready to be submitted</div>
                            <div class="progress-meter__clipper" aria-hidden="true" style="clip-path: inset(0% 0% 0% 0%);-webkit-clip-path: inset(0% 0% 0% 0%)">
                                <div class="progress-meter__text progress-meter__text--front">Ready to be submitted</div>
                            </div>
                        </div>

                        <h2 class="govuk-heading-xs u-space-y5">OPP-47101</h2>
                        <p class="govuk-body-s u-space-b5">Really long title for this exciting new opportunity</p>
                        <ul class="govuk-list u-space-t10">
                            <li><a href="/prototypes/opportunity-v2/create?mode=edit" class="govuk-link govuk-body--s sub-button">Edit Opportunity name</a></li>
                        </ul>
                    </div>
                {%- endcall %}
            {%- endcall %}
        </section>

{% endblock %}
