{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set navType = '' %}
{% set pageTitle = 'Resources and costs' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set allCouncils = allCouncils %}
{% set backLinkContents =  [{url:'/prototypes/molecules', text:'Back to molecules'}] %}
{% set isAdminUser = false %}

{% block content %}



    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a href="#directlyIncurredCost">Incorrect value entered</a>
                        </li>
                    </ul>
                </div>
            </div>

        {%- endcall %}

    {%- endcall %}


    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

            {{ components.captionHeading(text='Resources and costs', caption='Freshwater ecosystems and microplastics') }}

        {%- endcall %}

    {%- endcall %}

    {% call components.form(action='#', method='POST',name='resourcesAndCosts') %}

    <section class="section" id="main-content">

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-8') %}
                <p class="govuk-body govuk-!-font-size-24">Ensure your costs accurately reflect the funding you will need to deliver your proposal. Reviewers will scrutinise them as part of the overall assessment of your application.</p>

                <details class="govuk-details u-space-t20" data-module="govuk-details" role="group">
                    <summary class="govuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
                        <span class="govuk-details__summary-text">Guidance on resources and costs</span>
                    </summary>
                    <div class="govuk-details__text" id="details-content-0" aria-hidden="true">
                        <p class="govuk-body">A degree of estimation is expected for some costs, such as consumables and travel, but carefully work out other costs, like staff and equipment.</p>

                        <p class="govuk-body">We recommend that you work with your Research Office for this part of your application, as they will be familiar with the process. At least make sure you leave enough time for them to review this section before submission.</p>

                        <p class="govuk-body">For detailed information, refer to our <a href="#">Full Economic Costing Guide (opens in a new window)</a>.</p>

                        <ul class="govuk-list govuk-list--bullet">
                            <li><strong>Directly Incurred costs</strong> arise as a direct consequence of your project taking place. They must be actual, auditable and supported by invoices.</li>
                            <li><strong>Directly Allocated costs</strong> are incurred whether or not the project takes place and are estimated at project level. For example, Technician time and Estates costs.</li>
                            <li><strong>Indirect costs</strong> represent the costs of central and distributed services shared by other activities that are not project-specific. For example, Human Resources and IT.</li>
                            <li><strong>Exceptions</strong> can include Travel and subsistence, equipment, biological costs, charge-out facilities and postgraduate students.</li>
                            </li>
                        </ul>
                    </div>
                </details>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-8') %}

                <table class="govuk-table">

                    <thead>
                    <tr>
                        <th class="govuk-table__header">Funding type</th>
                        <th class="govuk-table__header govuk-table__header--numeric">Full economic<br>cost (£)</th>
                        <th class="govuk-table__header govuk-table__header--numeric">Funding <br>percentage (%)</th>
                        <th class="govuk-table__header govuk-table__header--numeric">Funding <br>contribution (£)</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="govuk-table--error-row">
                        <td class="govuk-table__cell govuk-table__cell--middle">
                            Directly incurred
                            <br>
                            <span class="error-message error-summary {#govuk-input--error#} error-text">You must enter only numbers</span>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <div class="govuk-form-group u-space-y5">
                                <label class="govuk-label govuk-visually-hidden" for="directlyIncurredCost">Directly incurred full economic costs</label>
                                <input class="govuk-input govuk-input--error govuk-input--width-5 u-align-right" id="directlyIncurredCost" type="number" name="directlyIncurredCost" value="0">
                            </div>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--middle govuk-table__cell--numeric">80</td>
                        <td class="govuk-table__cell govuk-table__cell--middle govuk-table__cell--numeric"><span id="incurredContribution">£0</span></td>
                    </tr>

                    <tr>
                        <td class="govuk-table__cell govuk-table__cell--middle">Directly allocated</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <div class="govuk-form-group u-space-y5">
                                <label class="govuk-label govuk-visually-hidden" for="directlyAllocatedCost">Directly allocated full economic costs</label>
                                <input class="govuk-input govuk-input--width-5 u-align-right" id="directlyAllocatedCost" type="number" name="directlyAllocatedCost" value="0">
                            </div>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--middle govuk-table__cell--numeric">80</td>
                        <td class="govuk-table__cell govuk-table__cell--middle govuk-table__cell--numeric"><span id="alllocatedContribution">£0</span></td>
                    </tr>

                    <tr>
                        <td class="govuk-table__cell govuk-table__cell--middle">Indirect costs</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <div class="govuk-form-group u-space-y5">
                                <label class="govuk-label govuk-visually-hidden" for="indirectCost">Indirect full economic costs</label>
                                <input class="govuk-input govuk-input--width-5 u-align-right" id="indirectCost" type="number" name="indirectCost" value="0">
                            </div>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--middle govuk-table__cell--numeric">80</td>
                        <td class="govuk-table__cell govuk-table__cell--middle govuk-table__cell--numeric"><span id="indirectContribution">£0</span></td>
                    </tr>

                    <tr>
                        <td class="govuk-table__cell govuk-table__cell--middle">Exceptions</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <div class="govuk-form-group u-space-y5">
                                <label class="govuk-label govuk-visually-hidden" for="exceptionCost">Exceptional full economic costs</label>
                                <input class="govuk-input govuk-input--width-5 u-align-right" id="exceptionCost" type="number" name="exceptionCost" value="0">
                            </div>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--middle govuk-table__cell--numeric">100</td>
                        <td class="govuk-table__cell govuk-table__cell--middle govuk-table__cell--numeric"><span id="exceptionsContribution">£0</span></td>
                    </tr>

                    <tr>
                        <td class="govuk-table__cell govuk-table__cell--middle govuk-table__cell--borderless"><strong>Total contribution from project</strong></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--borderless"><strong><span id="totalContribution">£0</span></strong></td>
                        <td class="" colspan="2">&nbsp;</td>
                    </tr>

                    <tr>
                        <td class="govuk-table__cell govuk-table__cell--middle govuk-table__cell--borderless"><strong>Total funding requested</strong></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--borderless"><strong><span id="totalRequested">£0</span></strong></td>
                        <td class="" colspan="2">&nbsp;</td>
                    </tr>

                    </tbody>

                </table>


            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow(extraClass='u-space-t30') %}

            {% call components.bulmaColumnAny(size='is-8') %}

                {% call components.formGroup() %}
                    <div class="application-item">
                        <div class="application-item__contents">
                            <fieldset class="govuk-fieldset" aria-describedby="markAsComplete">
                                <legend class="govuk-fieldset__legend govuk-visually-hidden">
                                    <h3 class="govuk-fieldset__heading" id="">Mark as complete</h3>
                                </legend>
                                <div class="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="markAsComplete" name="isComplete" type="checkbox" {% if allResourcesValues.isComplete == 'on' %} checked{% endif %}>
                                        <label class="govuk-label govuk-checkboxes__label" for="markAsComplete">Mark as complete</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                {%- endcall %}

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}
            {% call components.bulmaColumnAny(size='is-8') %}
                <div class="application-controls govuk-clearfix">
                    {{ components.button(text='Save and return', extraClass="application-controls__submit")}}
                </div>
            {%- endcall %}
        {%- endcall %}


    </section>

    {%- endcall %}


{% endblock %}

{% block bodyScripts %}
    <script>
      Zepto(function($){
        console.log('zepto loaded');
        /*
            #directlyIncurredCost
            #directlyAllocatedCost
            #indirectCost
            #exceptionCost

            #totalContribution
            #totalRequested

        */
        $('#directlyIncurredCost, #directlyAllocatedCost, #indirectCost ,#exceptionCost').on('blur', function(event) {
          let directlyIncurredCost = parseInt($('#directlyIncurredCost').val(), 10);
          let directlyAllocatedCost = parseInt($('#directlyAllocatedCost').val(), 10);
          let indirectlCost = parseInt($('#indirectCost').val(), 10);
          let exceptionCost = parseInt($('#exceptionCost').val(), 10);
          let totalValue = directlyIncurredCost + directlyAllocatedCost + indirectlCost + exceptionCost;
          let totalRequested =
          console.log(totalValue);

          // parseFloat("123.456").toFixed(2);

          let incurredContribution = (directlyIncurredCost/100)*80;
          $('#incurredContribution').html('£'+parseFloat(incurredContribution).toFixed(0));

          let alllocatedContribution = (directlyAllocatedCost/100)*80;
          $('#alllocatedContribution').html('£'+parseFloat(alllocatedContribution).toFixed(0));

          let indirectContribution = (indirectlCost/100)*80;
          $('#indirectContribution').html('£'+parseFloat(indirectContribution).toFixed(0));

          let exceptionsContribution = (exceptionCost/100)*100;
          $('#exceptionsContribution').html('£'+parseFloat(exceptionsContribution).toFixed(0));

          $('#totalContribution').html('£'+totalValue);

          $('#totalRequested').html('£'+parseFloat((incurredContribution + alllocatedContribution + indirectContribution + exceptionsContribution)).toFixed(0));
          event.preventDefault();
        });
      })
    </script>
{% endblock %}
