{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set navType = 'admin' %}
{% set createOpportunityError = createOpportunityError if createOpportunityError %}
{% set createOpportunityErrorMessage = createOpportunityErrorMessage if createOpportunityErrorMessage %}
{% set opportunityName = opportunityName if opportunityName %}
{% set createOpportunityErrorMessageInputLevel = createOpportunityErrorMessageInputLevel if createOpportunityErrorMessageInputLevel %}
{% set isAdminUser = true %}
{% set useAltSaveMethod = useAltSaveMethod if useAltSaveMethod %}
{% set backLinkContents =  [{url:'/prototypes/molecules', text:'Back to molecules'}] %}
{% set pageTitle = 'Tables' + GLOBAL_TAG_TITLE_SUFFIX %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds u-space-t30') %}
            {{ components.captionHeading(text='Scrolly tables') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-full') %}

            {{ components.captionHeading(text='Fixed left and right cols', size='l', tag='h2') }}

            <style>
                /*:root {
                    !*--column-fixed-width: 180px;
                    --column-fixed-width-right: 120px;*!
                }*/
                table {
                    /*width: 100%;
                    font-size: 16px;
                    margin-left: var(--column-fixed-width);
                    border-bottom: 1px solid darkgrey;*/
                }

                /* Table Fixed Column */

               /* table th,
                table td {
                    !*padding-right: 24px;
                    padding-left: 24px;*!
                    white-space: nowrap;
                    padding: 10px 10px;
                    !*border-bottom: 1px solid #d0d0d0;*!
                    border-top: 1px solid darkgrey;
                    border-right: 1px solid darkgrey;
                }*/

                table th:first-of-type,
                table td:first-of-type {
                    /*border-left: 2px solid darkgrey;*/
                    /*border-bottom: 1px solid #d0d0d0;*/
                    /*position: absolute;
                    width: var(--column-fixed-width);
                    left: 0;
                    top: auto;
                    background-color: #FFF;*/
                    /*margin-left: var(--column-fixed-width);*/
                }

                tr td:first-of-type {
                    /*margin-left: var(--column-fixed-width);*/
                }

                .scrolly {
                    /*width: calc(100% - var(--column-fixed-width));*/
                    /*width: calc(100% - var(--column-fixed-width) + var(--column-fixed-width-right));*/
                    /*width: 100%;*/
                    /*box-shadow: inset -12px 0 9px -7px rgba(0,0,0,0.25);*/
                    /*overflow-x: scroll;
                    overflow-y: visible;*/

                    /*width: calc(100% - var(--column-fixed-width-right));
                    overflow: auto;*/
                }


                /*.scrolly__locked-td--left,
                .scrolly__locked-th--left {
                    border-left: 2px solid darkgrey;
                    font-weight: bold;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-right: 2px solid darkgrey;
                    position: absolute;
                    width: var(--column-fixed-width);
                    left: 0;
                    top: auto;
                    background-color: #FFF;
                }*/
/*
                td.scrolly__locked-td--right,
                th.scrolly__locked-th--right {
                    border-left: 2px solid darkgrey;
                    font-weight: bold;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-right: 2px solid darkgrey;
                    position: absolute;
                    width: var(--column-fixed-width-right);
                    right: 0;
                    top: auto;
                    background-color: #FFF;
                    text-align: right!important;
                }*/

                /*.scrolly__totals-row td,
                .scrolly__totals-row .scrolly__locked-td {
                    background-color: lightgrey;
                    border-top: 1px solid #333;
                    border-bottom: 1px solid darkgrey;
                }

                .scrolly td.scrolly__td {
                    text-align: right;
                }*/

                /*thead tr .scrolly__td:nth-last-of-type(-1) {*/
                /*thead tr td:nth-last-of-type(-1) {
                    border: none;
                    border: 1px solid lime;
                }*/



            </style>


                <div class="scrolly">
                    <table class="scrolly__table">
                        <thead>
                            <tr>
                                <th class="scrolly__locked-th scrolly__locked-th--left">Period</th>
                                <th>Q1</th>
                                <th>Q2</th>
                                <th>Q3</th>
                                <th>Q4</th>
                                <th>Q1</th>
                                <th>Q2</th>
                                <th>Q3</th>
                                <th>Q4</th>
                                <th>Q1</th>
                                <th>Q2</th>
                                <th>Q3</th>
                                <th>Q4</th>
                                <th class="scrolly__locked-th scrolly__locked-th--right">Total</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="scrolly__locked-td scrolly__locked-td--left">Month</td>
                                <td class="scrolly__td">Jan to Mar 2020</td>
                                <td class="scrolly__td">Apr to Jun 2020</td>
                                <td class="scrolly__td">Jul to Sep 2020</td>
                                <td class="scrolly__td">Oct to dec 2020</td>
                                <td class="scrolly__td">Jan to Mar 2021</td>
                                <td class="scrolly__td">Apr to Jun 2021</td>
                                <td class="scrolly__td">Jul to Sep 2021</td>
                                <td class="scrolly__td">Oct to dec 2021</td>
                                <td class="scrolly__td">Jan to Mar 2022</td>
                                <td class="scrolly__td">Apr to Jun 2022</td>
                                <td class="scrolly__td">Jul to Sep 2022</td>
                                <td class="scrolly__td">Oct to dec 2022</td>
                                <td class="scrolly__locked-td scrolly__locked-td--right">£123,00</td>
                            </tr>
                            <tr>
                                <td class="scrolly__locked-td scrolly__locked-td--left">Directly incurred</td>
                                <td class="scrolly__td">£65,000</td>
                                <td class="scrolly__td">£65,000</td>
                                <td class="scrolly__td">£65,000</td>
                                <td class="scrolly__td">£65,000</td>
                                <td class="scrolly__td">£65,000</td>
                                <td class="scrolly__td">£65,000</td>
                                <td class="scrolly__td">£65,000</td>
                                <td class="scrolly__td">£65,000</td>
                                <td class="scrolly__td">£65,000</td>
                                <td class="scrolly__td">£65,000</td>
                                <td class="scrolly__td">£65,000</td>
                                <td class="scrolly__td">£65,000</td>
                                <td class="scrolly__locked-td scrolly__locked-td--right">£123,00</td>
                            </tr>
                            <tr>
                                <td class="scrolly__locked-td scrolly__locked-td--left">Directly allocated</td>
                                <td class="scrolly__td">£41,000</td>
                                <td class="scrolly__td">£41,000</td>
                                <td class="scrolly__td">£41,000</td>
                                <td class="scrolly__td">£41,000</td>
                                <td class="scrolly__td">£41,000</td>
                                <td class="scrolly__td">£41,000</td>
                                <td class="scrolly__td">£41,000</td>
                                <td class="scrolly__td">£41,000</td>
                                <td class="scrolly__td">£41,000</td>
                                <td class="scrolly__td">£41,000</td>
                                <td class="scrolly__td">£41,000</td>
                                <td class="scrolly__td">£41,000</td>
                                <td class="scrolly__locked-td scrolly__locked-td--right">£123,00</td>
                            </tr>
                            <tr>
                                <td class="scrolly__locked-td scrolly__locked-td--left">Indirect costs</td>
                                <td class="scrolly__td">£19,500</td>
                                <td class="scrolly__td">£19,500</td>
                                <td class="scrolly__td">£19,500</td>
                                <td class="scrolly__td">£19,500</td>
                                <td class="scrolly__td">£19,500</td>
                                <td class="scrolly__td">£19,500</td>
                                <td class="scrolly__td">£19,500</td>
                                <td class="scrolly__td">£19,500</td>
                                <td class="scrolly__td">£19,500</td>
                                <td class="scrolly__td">£19,500</td>
                                <td class="scrolly__td">£19,500</td>
                                <td class="scrolly__td">£19,500</td>
                                <td class="scrolly__locked-td scrolly__locked-td--right">£123,00</td>
                            </tr>
                            <tr>
                                <td class="scrolly__locked-td scrolly__locked-td--left">Exceptions</td>
                                <td class="scrolly__td">£4,550</td>
                                <td class="scrolly__td">£4,550</td>
                                <td class="scrolly__td">£4,550</td>
                                <td class="scrolly__td">£4,550</td>
                                <td class="scrolly__td">£4,550</td>
                                <td class="scrolly__td">£4,550</td>
                                <td class="scrolly__td">£4,550</td>
                                <td class="scrolly__td">£4,550</td>
                                <td class="scrolly__td">£4,550</td>
                                <td class="scrolly__td">£4,550</td>
                                <td class="scrolly__td">£4,550</td>
                                <td class="scrolly__td">£4,550</td>
                                <td class="scrolly__locked-td scrolly__locked-td--right">£123,00</td>
                            </tr>
                            <tr class="scrolly__totals-row">
                                <td class="scrolly__locked-td scrolly__locked-td--left">Totals</td>
                                <td class="scrolly__td">£41,000</td>
                                <td class="scrolly__td">£41,000</td>
                                <td class="scrolly__td">£41,000</td>
                                <td class="scrolly__td">£41,000</td>
                                <td class="scrolly__td">£41,000</td>
                                <td class="scrolly__td">£41,000</td>
                                <td class="scrolly__td">£41,000</td>
                                <td class="scrolly__td">£41,000</td>
                                <td class="scrolly__td">£41,000</td>
                                <td class="scrolly__td">£41,000</td>
                                <td class="scrolly__td">£41,000</td>
                                <td class="scrolly__td">£41,000</td>
                                <td class="scrolly__locked-td scrolly__locked-td--right">£123,00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            {#<div class="responsive-table">

                <table class="govuk-table responsive-table__table">
                    <thead>
                    <tr class="govuk-table__header">
                        <th class="govuk-table__header">ID: Name</th>
                        <th class="govuk-table__header">Funder</th>
                        <th class="govuk-table__header">Status</th>
                        <th class="govuk-table__header govuk-table__header--numeric">Another</th>
                        <th class="govuk-table__header govuk-table__header--numeric">More</th>
                        <th class="govuk-table__header govuk-table__header--numeric">Numbers</th>
                        <th class="govuk-table__header govuk-table__header--numeric">Last</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">OPP561: UK-Canada Social Research Team Grants</a></td>
                        <td class="govuk-table__cell">AHRC, ESRC</td>
                        <td class="govuk-table__cell">Draft</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1, 51) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1000, 9999) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(500, 2000) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(10000, 999999) | random }}</td>

                    </tr>
                    <tr>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">OPP8962: Strength in places Round 3</a></td>
                        <td class="govuk-table__cell">AHRC, ESRC, Innovate UK</td>
                        <td class="govuk-table__cell">OPEN</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1, 51) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1000, 9999) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(500, 2000) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(10000, 999999) | random }}</td>
                    </tr>
                    <tr>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">OPP563: Responsive mode</a></td>
                        <td class="govuk-table__cell">BBSRC, MRC</td>
                        <td class="govuk-table__cell">Ready to open</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1, 51) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1000, 9999) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(500, 2000) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(10000, 999999) | random }}</td>
                    </tr>
                    <tr>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">OPP564: UK-Canada Diabetes Research Team Grants</a></td>
                        <td class="govuk-table__cell">AHRC, ESRC</td>
                        <td class="govuk-table__cell">Pre-panel</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1, 51) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1000, 9999) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(500, 2000) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(10000, 999999) | random }}</td>
                    </tr>
                    <tr>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">OPP565: UK social research for the next decade Part III</a></td>
                        <td class="govuk-table__cell">AHRC, ESRC</td>
                        <td class="govuk-table__cell">Draft</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1, 51) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1000, 9999) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(500, 2000) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(10000, 999999) | random }}</td>
                    </tr>
                    <tr>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">OPP566: Electric battery innovation for land-based travel</a></td>
                        <td class="govuk-table__cell">EPSRC, STFC, MRC</td>
                        <td class="govuk-table__cell">Draft</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1, 51) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1000, 9999) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(500, 2000) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(10000, 999999) | random }}</td>
                    </tr>
                    <tr>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">OPP567: Entomophagy - acceptable levels of crunchiness for a post-apocalyptic world</a></td>
                        <td class="govuk-table__cell">ESRC, MRC</td>
                        <td class="govuk-table__cell">Draft</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1, 51) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1000, 9999) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(500, 2000) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(10000, 999999) | random }}</td>
                    </tr>
                    <tr>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">OPP567: Salt-water gill adaptations in special transmorphogenic augementation</a></td>
                        <td class="govuk-table__cell">BBSRC, MRC</td>
                        <td class="govuk-table__cell">Draft</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1, 51) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1000, 9999) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(500, 2000) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(10000, 999999) | random }}</td>
                    </tr>
                    <tr>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">OPP568: Re-icing polar regions feasibility Part IV</a></td>
                        <td class="govuk-table__cell">BBSRC, UKRI, EPSRC</td>
                        <td class="govuk-table__cell">Draft</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1, 51) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1000, 9999) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(500, 2000) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(10000, 999999) | random }}</td>
                    </tr>
                    <tr>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">OPP569: Reforestation and carbon capture</a></td>
                        <td class="govuk-table__cell">NERC, Research England, UKRI</td>
                        <td class="govuk-table__cell">Draft</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1, 51) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1000, 9999) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(500, 2000) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(10000, 999999) | random }}</td>
                    </tr>
                    <tr>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">OPP570: Hydro-batteries and green energy storage in the environment</a></td>
                        <td class="govuk-table__cell">NERC, STFC, EPSRC</td>
                        <td class="govuk-table__cell">Draft</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1, 51) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1000, 9999) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(500, 2000) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(10000, 999999) | random }}</td>
                    </tr>
                    <tr>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">OPP571: Public transport infrastructure development: widening the networks Part II</a></td>
                        <td class="govuk-table__cell">STFC, EPSRC, Innovate UK</td>
                        <td class="govuk-table__cell">Draft</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1, 51) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1000, 9999) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(500, 2000) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(10000, 999999) | random }}</td>
                    </tr>
                    <tr>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">OPP572: Public transport infrastructure development: tariff reduction and inter-connectivity Part III</a></td>
                        <td class="govuk-table__cell">STFC, EPSRC, Innovate UK</td>
                        <td class="govuk-table__cell">Draft</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1, 51) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1000, 9999) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(500, 2000) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(10000, 999999) | random }}</td>
                    </tr>
                    <tr>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">OPP573: Public transport infrastructure development: green power Part IV</a></td>
                        <td class="govuk-table__cell">STFC, EPSRC, Innovate UK</td>
                        <td class="govuk-table__cell">Draft</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1, 51) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(1000, 9999) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(500, 2000) | random }}</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">{{ range(10000, 999999) | random }}</td>
                    </tr>
                    </tbody>

                </table>

            </div>#}
        {%- endcall %}
    {%- endcall %}

    {#{% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-full') %}

            {{ components.captionHeading(text='Applicants page table in external application journey', size='l', tag='h2') }}
            <div class="responsive-table">
                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-heading-m">Cardiff University</caption>
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Name</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Email</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Role</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Dr. Jane Doe</td>
                        <td class="govuk-table__cell">jdoe@cardiffuniversity.ac.uk</td>
                        <td class="govuk-table__cell">Lead applicant</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Prof. Bartholemew Longname-Smyth</td>
                        <td class="govuk-table__cell">blongname-smyth@cardiffuniversity.ac.uk</td>
                        <td class="govuk-table__cell">Principal investigator</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Dr. Julia Sawalha</td>
                        <td class="govuk-table__cell">jsawalha@cardiffuniversity.ac.uk</td>
                        <td class="govuk-table__cell">Researcher</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Charlotte Coleman</td>
                        <td class="govuk-table__cell">ccoleman@cardiffuniversity.ac.uk</td>
                        <td class="govuk-table__cell">Student</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {%- endcall %}
    {%- endcall %}#}

    {#{% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-full') %}

            {{ components.captionHeading(text='In a non-width prescribed table', size='m', tag='h3') }}
            <div class="responsive-table">
                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-heading-m">Cardiff University</caption>
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Name</th>
                        <th scope="col" class="govuk-table__header">Email</th>
                        <th scope="col" class="govuk-table__header">Role</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Dr. Jane Doe</td>
                        <td class="govuk-table__cell">jdoe@cardiffuniversity.ac.uk</td>
                        <td class="govuk-table__cell">Lead applicant</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Prof. Bartholemew Longname-Smyth</td>
                        <td class="govuk-table__cell">blongname-smyth@cardiffuniversity.ac.uk</td>
                        <td class="govuk-table__cell">Principal investigator</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Dr. Julia Sawalha</td>
                        <td class="govuk-table__cell">jsawalha@cardiffuniversity.ac.uk</td>
                        <td class="govuk-table__cell">Researcher</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Charlotte Coleman</td>
                        <td class="govuk-table__cell">ccoleman@cardiffuniversity.ac.uk</td>
                        <td class="govuk-table__cell">Student</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        {%- endcall %}

    {%- endcall %}#}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-full is-9-desktop is-9-widescreen') %}

           {# {{ components.captionHeading(text='In a three-quarters column', size='m', tag='h3') }}
            <div class="responsive-table">
                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-heading-m">Cardiff University</caption>
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Name</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Email</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Role</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Dr. Jane Doe</td>
                        <td class="govuk-table__cell">jdoe@cardiffuniversity.ac.uk</td>
                        <td class="govuk-table__cell">Lead applicant</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Prof. Bartholemew Longname-Smyth</td>
                        <td class="govuk-table__cell">blongname-smyth@cardiffuniversity.ac.uk</td>
                        <td class="govuk-table__cell">Principal investigator</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Dr. Julia Sawalha</td>
                        <td class="govuk-table__cell">jsawalha@cardiffuniversity.ac.uk</td>
                        <td class="govuk-table__cell">Researcher</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Charlotte Coleman</td>
                        <td class="govuk-table__cell">ccoleman@cardiffuniversity.ac.uk</td>
                        <td class="govuk-table__cell">Student</td>
                    </tr>
                    </tbody>
                </table>
            </div>#}

        {%- endcall %}

    {%- endcall %}

{% endblock %}
{% block bodyScripts %}
    {#<script>
       Zepto(function($){
         $('#thing').on('click', function() {
         });
       });
     </script>#}
{% endblock %}


