{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set navType = 'admin' %}
{% set pageTitle = 'Simple RTE' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set allCouncils = allCouncils %}
{% set backLinkContents =  [{url:'/prototypes/molecules', text:'Back to molecules'}] %}
{% set isAdminUser = true %}

{% set exampleHTML = exampleHTML if exampleHTML %}
{% set convertedHTML = convertedHTML if convertedHTML %}


{% block content %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-half') %}

            {{ components.captionHeading(text='Simple RTE') }}

        {%- endcall %}

    {%- endcall %}

    <section class="section" id="main-content">

        {% call components.form(action='#', method='POST',name='tinyMCETestSimple') %}

            {% call components.bulmaRow(extraClass='u-space-b30') %}

                {% call components.bulmaColumnAny(size='column is-8') %}

                    <h2 class="govuk-heading-m">Input some content</h2>

                    <details class="govuk-details u-space-t20 js-only" data-module="govuk-details" role="group">
                        <summary class="govuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
                            <span class="govuk-details__summary-text">Guidance on text formatting</span>
                        </summary>
                        <div class="govuk-details__text" id="details-content-0" aria-hidden="true">
                            <div class="tiny-spoof">
                                <p class="govuk-body">You can only use the formatting options available in the text editor's toolbar. These are:</p>
                                <ul class="govuk-list govuk-list--bullet u-space-b0">
                                    <li>Headings</li>
                                    <li>Bold</li>
                                    <li>Links</li>
                                    <li>Bulleted and numbered lists</li>
                                </ul>
                            </div>
                        </div>
                    </details>

                    {#<noscript>
                        {{ components.alerts(text='Because your JavaScript is not enabled, this content appears unformatted. To use rich-text editing, enable JavaScript in the advanced section of your device or browser’s security settings. If you have not disabled it yourself, then try refreshing the page in a few minutes.', type='danger')}}
                    </noscript>#}
                    <noscript>
                        <div class="alerts  alerts--danger ">
                            <strong>JavaScript is not enabled</strong> This means anything you enter or paste into the box below will appear without formatting. To use 'rich text editing' functions, like bold text or lists, you will need <a href="https://www.enable-javascript.com/" class="govuk-link" target="_blank">to enable JavaScript</a> in your device or browser's security settings. If you did not disable JavaScript, try refreshing this page in a few minutes.
                        </div>
                    </noscript>
                    {{ components.textarea(options=selectOptions, label='Enter your case for support', labelBold=true, name='htmlTest', id='tinyMCEInput', hint='', group=true, rows='12', size='', value=exampleHTML, extraClass='', visuallyHidden=true) }}

                    <p>
                        <span id="wordCount" class="govuk-hint govuk-character-count__message" aria-live="polite"></span>
                    </p>

                {%- endcall %}

                {% call components.bulmaColumnAny(size='column is-4') %}
                    <h2 class="govuk-heading-m">Loaded HTML</h2>
                    {#<pre>{{ convertedHTML }}</pre>#}
                    <textarea id="codeOutput" class="govuk-textarea" rows="28" style="font-family:Courier, mono; font-size:14px">{{ convertedHTML }}</textarea>
                    <span id="wordCount2" class="govuk-hint govuk-character-count__message" aria-live="polite">You have 100 words remaining</span>

                {%- endcall %}

            {%- endcall %}

            {% call components.bulmaRow() %}

                {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

                    {% call components.formGroup() %}
                        {{ components.button(text='Save and reload', extraClass="application-controls__submit")}}
                    {%- endcall %}

                {%- endcall %}

            {%- endcall %}

        {%- endcall %}

    </section>


    <section class="section">

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-8') %}
                <h2 class="govuk-heading-l">Rendered HTML in block</h2>
                <div class="tiny-spoof">
                {{ exampleHTML }}
                </div>
            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-8') %}
                <h2 class="govuk-heading-l">Rendered HTML in details/summary</h2>
                <details class="govuk-details u-space-t20" data-module="govuk-details" role="group">
                    <summary class="govuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="false">
                        <span class="govuk-details__summary-text">Open this stuff in one of those details/summary toggle boxes</span>
                    </summary>
                    <div class="govuk-details__text" id="details-content-0" aria-hidden="true">
                        <div class="tiny-spoof">
                        {{ exampleHTML }}
                        </div>
                    </div>
                </details>
            {%- endcall %}

        {%- endcall %}

    </section>

{% endblock %}

{% block bodyScripts %}
    <script src="https://cdn.tiny.cloud/1/phk3goz7y02jvj65em0m21azcq1qr7abduimch9isoe4jkor/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
      /*
    tinyMCE.init({
        setup: function(editor) {
            editor.on("init", function(){
            editor.addShortcut("ctrl+u", "", "");
        });
        }
    })
    oninit : "disableShortcuts",
        setup: function(editor) {
          editor.on('init', function(){
            editor.addShortcut('Command+I', '', '');
          });
        },

    */

      tinymce.init({
        selector: '#tinyMCEInput',
        height: 500,
        plugins: [
          'advlist autolink lists link anchor',
          'wordcount'
        ],
        content_style: '.red-text {color: red}',
        formats :{
          //redText: { selector: 'p', classes: 'red-text' },
          redText: { inline: 'span', classes: 'red-text' },
          para: { selector: 'p,h2,h3,h4,li', classes: 'govuk-body' },
          heading2: { selector: 'p,h2,h3,h4,li', classes: 'govuk-heading-l', exact: true },
          heading3: { selector: 'p,h2,h3,h4', classes: 'govuk-heading-m', exact: true },
          heading4: { selector: 'p,h2,h3,h4', classes: 'govuk-heading-s', exact: true },
          unorderedList: { selector: 'ul, ol, p,h2,h3,h4', classes: 'govuk-list govuk-list--bullets'},
        },
        style_formats: [
          /*{title: 'Red text', format: 'redText', styles: { color: '#ff0000' }},*/
          {title: 'Paragraph', format: 'para'},
          /*{title: 'Heading 2', format: 'heading2', block: 'h2', /!*styles: { color: 'lime' },*!/ classes: 'govuk-heading-l'},*/
          {title: 'Heading 2', format: 'heading2', remove: 'all', block: 'h2', classes: 'govuk-heading-l'},
          {title: 'Heading 3', format: 'heading3', block: 'h3', classes: 'govuk-heading-m'},
          {title: 'Heading 4', format: 'heading4', block: 'h4', classes: 'govuk-heading-s'},
          {title: 'Unordered list', format: 'unorderedList', block: 'ul'},
        ],
        advlist_bullet_styles: 'disc',
        advlist_number_styles: 'default',
        // toolbar: 'formatselect | bold italic | bullist numlist | align | indent outdent | link',
        // toolbar: 'formatselect | bold | bullist numlist | link',
        content_css: [
          '//fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i',
          '/stylesheets/tinymce.css'
        ],
       menubar: false,
      });
    </script>
    <script>
      ;(function(){
        let wordcounter = document.getElementById('codeOutput');
        let counteroutputFoot = document.getElementById('wordCount2');
        let words;
        const limit = 50;
        function countemwords(){
          words = (wordcounter.value == '')? 0 : wordcounter.value.split(' ').length;
          let remainder = limit - words;
          counteroutputFoot.innerHTML = 'You have ' + words + ' words';
        }
        wordcounter.addEventListener('input', function(e){
          countemwords()
        }, false);
        document.addEventListener("DOMContentLoaded", function(event) {
          countemwords()
        }, false);
        window.addEventListener("load", function(event) {
          countemwords();
        }, false)
      })();
    </script>
{% endblock %}
