{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set navType = 'admin' %}
{% set pageTitle = 'Rich-text editor, simple' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set allCouncils = allCouncils %}
{% set backLinkContents =  [{url:'/prototypes/molecules', text:'Back to molecules'}] %}
{% set isAdminUser = true %}
{% set showMathJAXscripts = true %}

{% set exampleHTML = exampleHTML if exampleHTML %}
{% set convertedHTML = convertedHTML if convertedHTML %}


{% block content %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-half') %}

            {{ components.captionHeading(text='Rich-text editor with custom formatting ') }}

        {%- endcall %}

    {%- endcall %}

    <section class="section" id="main-content">

        {% call components.form(action='#', method='POST',name='tinyMCETestSimple') %}

            {% call components.bulmaRow(extraClass='u-space-b30') %}

                {% call components.bulmaColumnAny(size='column is-half') %}

                    <h2 class="govuk-heading-m">Input some content</h2>
                    <noscript>
                        {{ components.alerts(text='Because your JavaScript is not enabled, this content appears unformatted. To use rich-text editing, enable JavaScript in the advanced section of your device or browser’s security settings. If you have not disabled it yourself, then try refreshing the page in a few minutes.', type='danger')}}
                    </noscript>
                    {{ components.textarea(options=selectOptions, label='Enter your case for support', labelBold=true, name='htmlTest', hint='', group=true, rows='12', size='', value=exampleHTML, extraClass='', visuallyHidden=true, id='tinyMCEInput') }}
                    <p>
                        <span id="wordCount" class="govuk-hint govuk-character-count__message" aria-live="polite"></span>
                    </p>
                {%- endcall %}

                {% call components.bulmaColumnAny(size='column is-half') %}
                    <h2 class="govuk-heading-m">Loaded HTML</h2>
                    {#<div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
                        <textarea class="govuk-textarea govuk-js-character-count" name="eligibilityInput" id="eligibilityInput" rows="18" {% if readOnly %} disabled {% endif %}>{{ eligibilityInput }}</textarea>
                        <p><span id="wordCount" class="govuk-hint govuk-character-count__message" aria-live="polite">You have 100 words remaining</span></p>
                    </div>#}
                    {#<pre id="codeOutput" class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">{{ convertedHTML }}</pre>#}
                    <textarea id="codeOutput" class="govuk-textarea" rows="28" style="font-family:Courier, mono; font-size:14px">{{ convertedHTML }}</textarea>
                    <span id="wordCount2" class="govuk-hint govuk-character-count__message" aria-live="polite">You have 100 words remaining</span>
                {%- endcall %}

            {%- endcall %}

            {% call components.bulmaRow() %}

                {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

                    {% call components.formGroup() %}
                        {{ components.button(text='Save and reload', extraClass="application-controls__submit")}}
                    {%- endcall %}

                {%- endcall %}

            {%- endcall %}

        {%- endcall %}

    </section>
    <section class="section">
        {% call components.bulmaRow() %}
            {% call components.bulmaColumnAny(size='column is-9') %}
                <h2 class="govuk-heading-l">Rendered HTML in block</h2>
                <div class="tiny-spoof">
                    {{ exampleHTML }}
                </div>
            {%- endcall %}
        {%- endcall %}
    </section>
{% endblock %}

{% block bodyScripts %}
    <script src="https://cdn.tiny.cloud/1/phk3goz7y02jvj65em0m21azcq1qr7abduimch9isoe4jkor/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: '#tinyMCEInput',
        height: 500,
        external_plugins: {
          // 'tiny_mce_wiris' : 'http://localhost:3002/javascripts/@wiris/mathtype-tinymce4/plugin.min.js'
          // 'tiny_mce_wiris' : 'https://tfs-front-end-v3.herokuapp.com/javascripts/@wiris/mathtype-tinymce4/plugin.min.js'
        },
        plugins: [
          'advlist autolink lists link image charmap print preview anchor',
          'searchreplace visualblocks code fullscreen',
          'insertdatetime media table paste tinydrive code imagetools wordcount'
        ],
        // toolbar: 'formatselect | bold italic | bullist numlist | align indent | image pastetext | table | tiny_mce_wiris_formulaEditor',
        // toolbar: 'formatselect | bold italic | bullist numlist | image pastetext | tiny_mce_wiris_formulaEditor',
        // toolbar: 'formatselect | bold italic | bullist numlist | align ',
        content_css: [
          '//fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i',
          '/stylesheets/tinymce.css'
        ],
        // content_css: '//www.tiny.cloud/css/codepen.min.css',
        content_style: '.left { text-align: left; } ' +
          /*'img.left { float: left; } ' +*/
          /*'table.left { float: left; } ' +*/
          '.right { text-align: right; } ' +
          /*'img.right { float: right; } ' +*/
          'table.right { float: right; } ' +
          '.center { text-align: center; } ' +
          'img.center { display: block; margin: 0 auto; } ' +
          'table.center { display: block; margin: 0 auto; } ' +
          '.full { text-align: justify; } ' +
          'img.full { display: block; margin: 0 auto; } ' +
          'table.full { display: block; margin: 0 auto; } ' +
          /*'.bold { font-weight: bold; } ' +
          '.italic { font-style: italic; } ' +
          '.underline { text-decoration: underline; } ' +*/
          '.example1 {} ' +
          /*'.tablerow1 { background-color: #D3D3D3; }' +*/
          '.govuk-body {}',
        formats: {
          bold: { inline: 'span', classes: 'bold' },
          italic: { inline: 'span', classes: 'italic' },
          underline: { inline: 'span', classes: 'underline', exact: true },
          gdsParagraph : {selector: 'p', classes: 'govuk-body'},
        },
        style_formats: [
          {title: 'Heading, large', block: 'h2', format: 'heading2', classes: 'govuk-heading-l'},
          {title: 'Heading, medium', block: 'h3', format: 'heading3', classes: 'govuk-heading-m'},
          {title: 'Heading, small', block: 'h4', format: 'heading3', classes: 'govuk-heading-s'},
          {title: 'Paragraph', block: 'p', format: 'paragraph', classes: 'govuk-body'},
          { title: 'GDS paragraph', format: 'gdsParagraph' },

        ],
        menubar: false,
        toolbar: 'formatselect | bold italic | numlist bullist |',
      });
    </script>
    <script>
      ;(function(){
        let wordcounter = document.getElementById('codeOutput');
        let counteroutputFoot = document.getElementById('wordCount2');
        let words;
        const limit = 50;

        function countemwords(){
          words = (wordcounter.value == '')? 0 : wordcounter.value.split(' ').length;
          let remainder = limit - words;
          counteroutputFoot.innerHTML = 'You have ' + words + ' words';

        }
        wordcounter.addEventListener('input', function(e){
          countemwords()
        }, false);
        document.addEventListener("DOMContentLoaded", function(event) {
          countemwords()
        }, false);
        window.addEventListener("load", function(event) {
          countemwords();
        }, false)
      })();
    </script>
{% endblock %}
