{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set navType = '' %}
{% set pageTitle = 'User dashboard with filters' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set allCouncils = allCouncils %}
{% set backLinkContents =  [{url:'/prototypes/molecules', text:'Back to molecules'}] %}
{% set isAdminUser = false %}
{% set appData = appData if appData %}

{% block content %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

            {{ components.captionHeading(text='User dashboard with filters') }}

        {%- endcall %}

    {%- endcall %}

    <section class="section" id="">

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-3') %}
                <div class="govuk-related-items govuk-related-items--flush">

                    {{ components.captionHeading(text='Filters and sorting', tag='h2', size='s') }}

                    <div class="filter">
                        <h2 class="filter__title">Application status</h2>
                        <span class="filter__toggle"></span>
                        <ul class="filter__list u-clearfix">
                            <li class="filter__item filter__item--small">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                    <input class="govuk-checkboxes__input" id="filterDraft" type="checkbox" name="filterDraft" value="draft">
                                    <label for="filterDraft" class="govuk-checkboxes__label u-display-ib">In progress</label>
                                </div>
                            </li>
                            <li class="filter__item filter__item--small">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                    <input class="govuk-checkboxes__input" id="filterReady" type="checkbox" name="filterReady" value="ready">
                                    <label for="filterReady" class="govuk-checkboxes__label u-display-ib">Ready to submit</label>
                                </div>
                            </li>
                            <li class="filter__item filter__item--small">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                    <input class="govuk-checkboxes__input" id="filterOpen" type="checkbox" name="filterOpen" value="open">
                                    <label for="filterOpen" class="govuk-checkboxes__label u-display-ib">In review</label>
                                </div>
                            </li>
                            <li class="filter__item filter__item--small">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                    <input class="govuk-checkboxes__input" id="filterPrePanel" type="checkbox" name="prePanel" value="prePanel">
                                    <label for="filterPrePanel" class="govuk-checkboxes__label u-display-ib">Awarded</label>
                                </div>
                            </li>
                            <li class="filter__item filter__item--small">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                    <input class="govuk-checkboxes__input" id="uns" type="checkbox" name="uns" value="uns">
                                    <label for="uns" class="govuk-checkboxes__label u-display-ib">Unsuccessful</label>
                                </div>
                            </li>
                        </ul>
                    </div>


                    <div class="filter filter-toggle">
                        <button class="filter__title" type="button" onclick="toggleVisibility(this, 'organisationsList', 'js-hidden')" aria-expanded="false">Organisations</button>
                        <span class="filter__toggle"></span>
                        <ul class="filter__list u-clearfix js-hidden" id="organisationsList">
                            <li class="filter__item filter__item--small govuk-clearfix">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                    <input class="govuk-checkboxes__input " id="cardiff" type="checkbox" name="cardiff" value="Cardiff University">
                                    <label for="cardiff" class="govuk-checkboxes__label u-display-ib">Cardiff University</label>
                                </div>
                            </li>

                            <li class="filter__item filter__item--small govuk-clearfix">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                    <input class="govuk-checkboxes__input " id="bath" type="checkbox" name="bath" value="Bath Spa University">
                                    <label for="bath" class="govuk-checkboxes__label u-display-ib">Bath Spa University</label>
                                </div>
                            </li>

                            <li class="filter__item filter__item--small govuk-clearfix">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                    <input class="govuk-checkboxes__input " id="soas" type="checkbox" name="soas" value="SOAS">
                                    <label for="soas" class="govuk-checkboxes__label u-display-ib">SOAS</label>
                                </div>
                            </li>

                            <li class="filter__item filter__item--small govuk-clearfix">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small multiple-choice filter__switch">
                                    <input class="govuk-checkboxes__input " id="bristol" type="checkbox" name="bristol" value="University of Bristol">
                                    <label for="bristol" class="govuk-checkboxes__label u-display-ib">Univeristy of Bristol</label>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <button class="govuk-button govuk-button--disabled" disabled>Apply filters</button>
                    </div>


                </div>
            {%- endcall %}

            {% call components.bulmaColumnAny(size='column is-9', customID='main-content') %}

                <ul class="overview-items overview-items--plain">

                    {% for item in appData %}

                        <li class="overview-item {% if item.active != true %} overview-item--inactive {% endif %}">
                            <div class="columns">
                                <div class="column is-8">
                                    <h3 class="overview-item__title">
                                        <a href="#" class="govuk-link">{{ item.name }}</a>
                                    </h3>
                                    <ul class="overview-item__meta-list">
                                        {#<li class="overview-item__meta-item" ><strong>Opportunity: </strong><a href="#" class="govuk-link">OPP{{ range(000, 999) | random }}: {{ item.oppName }}</a><br></li>#}
                                        <li class="overview-item__meta-item" ><strong>Opportunity: </strong>OPP{{ range(000, 999) | random }}: {{ item.oppName }}<br></li>
                                        <li class="overview-item__meta-item" ><strong>Application reference:</strong> AWA{{ item.id }}<br></li>
                                        <li class="overview-item__meta-item" ><strong>Organisation:</strong> {{ item.org }}</li>
                                    </ul>
                                </div>
                                <div class="column is-2">
                                    {% if item.hoursLeft  %}
                                        <div class="u-align-setup-vertical u-align-center">
                                            <div class="u-align-cell">
                                                <span class="overview-item__meta overview-item__meta--danger">
                                                    <strong><span class="govuk-!-font-size-24">{{ item.hoursLeft }}</span>
                                                    <br>hours left</strong>
                                                    <br>
                                                    <span class="govuk-body-s">
                                                        {{ item.progressMessage }}
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if item.daysLeft and item.imminent %}
                                        <div class="u-align-setup-vertical u-align-center">
                                            <div class="u-align-cell">
                                                <span class="overview-item__meta overview-item__meta--danger">
                                                    <strong><span class="govuk-!-font-size-24">{{ item.daysLeft }}</span>
                                                    <br>days left</strong>
                                                    <br>
                                                    <span class="govuk-body-s">{{ item.progressMessage }}</span>
                                                </span>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if item.daysLeft and not item.imminent %}
                                        <div class="u-align-setup-vertical u-align-center">
                                            <div class="u-align-cell">
                                                <span class="overview-item__meta">
                                                    <strong><span class="govuk-!-font-size-24">{{ item.daysLeft }}</span>
                                                    <br>days left</strong>
                                                    <br>
                                                    <span class="govuk-body-s">{{ item.progressMessage }}</span>
                                                </span>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if not item.active %}
                                        <div class="u-align-setup-vertical u-align-center">
                                            <div class="u-align-cell">
                                                <span class="overview-item__meta">
                                                    <strong>{{ item.finalMessage }}</strong>
                                                    <br>
                                                    <span class="govuk-body-s">{{ item.progressMessage }}</span>
                                                </span>
                                            </div>
                                        </div>
                                    {%  endif %}
                                </div>
                                <div class="column is-2">
                                    <div class="overview-item__meta overview-item__meta--right u-align-setup-vertical u-align-center">
                                        <div class="u-align-cell">
                                            <strong>{{ item.status }}</strong>
                                            {% if item.completeness %}
                                                <span class="meta"><br>{{ item.completeness }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    {% endfor %}
                </ul>

                {#<div class="overview-items overview-items--plain">
                    <div class="overview-item">
                        <div class="columns">
                            <div class="column is-8">
                                <a href="#" class="govuk-link">Viral pandemic: distributed societal issues and news shaping</a><br>
                                <span class="govuk-!-font-size-16">
                                    <strong>Application number:</strong> 188<br>
                                    <strong>Opportunity:</strong> Public health and positive political messaging
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta overview-item__meta--danger">
                                        <span class="govuk-!-font-size-24">2</span><br> days left<br>
                                    Deadline 19 April
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta overview-item__meta--right overview-item__meta--success u-align-setup-vertical u-align-center">
                                    <span class="u-align-cell">Ready to submit</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="overview-item">
                        <div class="columns">
                            <div class="column is-8">
                                <a href="#" class="govuk-link">Recovery strategies from pollution in freshwater ecosystems</a><br>
                                <span class="govuk-!-font-size-16">
                                    <strong>Application number:</strong> 204<br>
                                    <strong>Opportunity:</strong> Freshwater ecology Part III, Where have all the invertebrates gone?
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta">
                                    <span class="govuk-!-font-size-24">34</span>
                                    <br> days left<br>
                                    Deadline 14 May
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta overview-item__meta--right u-align-setup-vertical u-align-center">
                                    <span class="u-align-cell">50% complete</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="overview-item">
                        <div class="columns">
                            <div class="column is-8">
                                <a href="#" class="govuk-link">Effluent filtering in pre-treated brown water overflows</a><br>
                                <span class="govuk-!-font-size-16">
                                    <strong>Application number:</strong> 219<br>
                                    <strong>Opportunity:</strong> Freshwater ecology Part III, Where have all the invertebrates gone?
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta">
                                    <span class="govuk-!-font-size-24">50</span>
                                    <br> days left<br>
                                    Deadline 28 May
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta overview-item__meta--right u-align-setup-vertical u-align-center">
                                    <span class="u-align-cell">50% complete</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="overview-item">
                        <div class="columns">
                            <div class="column is-8">
                                <a href="#" class="govuk-link">Jet propulsion systems in underwater environments</a><br>
                                <span class="govuk-!-font-size-16">
                                    <strong>Application number:</strong> 176<br>
                                    <strong>Opportunity:</strong> Freshwater ecology Part I, Sub aquatic travel and investigation methods?
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta  u-align-setup-vertical u-align-center">
                                    <span class="u-align-cell">Submitted on <br>
                                    21 March 2020</span>
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta overview-item__meta--right u-align-setup-vertical u-align-center">
                                    <span class="u-align-cell">In review</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="overview-item">
                        <div class="columns">
                            <div class="column is-8">
                                <a href="#" class="govuk-link">Dimensional transmogrification methodology in domesticated urban felines.</a><br>
                                <span class="govuk-!-font-size-16">
                                    <strong>Application number:</strong> 154<br>
                                    <strong>Opportunity:</strong> Preservation of distributed and diverse avian populations in tendered and semi-wild non-rural environments
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta  u-align-setup-vertical u-align-center">
                                    <span class="u-align-cell">Submitted on <br>
                                    14 March 2020</span>
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta overview-item__meta--right u-align-setup-vertical u-align-center">
                                    <span class="u-align-cell">Awaiting decision</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="overview-item">
                        <div class="columns">
                            <div class="column is-10">
                                <a href="#" class="govuk-link">Bucky balls in internal heterogenous fluid environments</a><br>
                                <span class="govuk-!-font-size-16">
                                    <strong>Application number:</strong> 116<br>
                                    <strong>Opportunity:</strong> Surgical advancements, part II
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta overview-item__meta--right overview-item__meta--success u-align-setup-vertical u-align-center">
                                    <span class="u-align-cell">Awarded</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="overview-item">
                        <div class="columns">
                            <div class="column is-8">
                                <a href="#" class="govuk-link">Viral pandemic: distributed societal issues and news shaping</a><br>
                                <span class="govuk-!-font-size-16">
                                    <strong>Application number:</strong> 188<br>
                                    <strong>Opportunity:</strong> Public health and positive political messaging
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta u-align-setup-vertical u-align-center">
                                    <span class="u-align-cell"><a href="#" class="govuk-link">Remove</a></span>
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta overview-item__meta--right u-align-setup-vertical u-align-center overview-item__meta--danger">
                                    <span class="u-align-cell">Not successful</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="overview-item">
                        <div class="columns">
                            <div class="column is-8">
                                <a href="#" class="govuk-link">Quick turnaround manufacturing techniques using lasers and 3D printers</a><br>
                                <span class="govuk-!-font-size-16">
                                    <strong>Application number:</strong> 219<br>
                                    <strong>Opportunity:</strong> Pandemic response strategies: Part I, PPE manufacture
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta u-align-setup-vertical u-align-center">
                                    <span class="u-align-cell"><a href="#" class="govuk-link">Remove</a></span>
                                </span>
                            </div>
                            <div class="column is-2">
                                <span class="overview-item__meta overview-item__meta--right u-align-setup-vertical u-align-center">
                                    <span class="u-align-cell">Not submitted</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>#}
            {%- endcall %}
        {%- endcall %}


    </section>

{% endblock %}

{% block bodyScripts %}
    <script>
      function toggleVisibility(_this, id, className) {
        // event.preventDefault();
        let toggleSwitch = _this;
        let toggleItem = document.getElementById(id);
        if (hasClass(toggleItem, className)) {
          toggleSwitch.classList.add('filter__title--closed');
          toggleItem.classList.remove(className);
          toggleSwitch.setAttribute('aria-expanded', true);
        }
        else  {
          toggleSwitch.classList.remove('filter__title--closed');
          toggleItem.classList.add(className);
          toggleSwitch.setAttribute('aria-expanded', false);
        }
        // return false;
      }
      function hasClass(target, className) {
        return new RegExp('(\\s|^)' + className + '(\\s|$)').test(target.className);
      }
    </script>
{% endblock %}
