{% macro breadcrumb(items=false, muted=false) %}
  {% if items %}
    <div class="govuk-breadcrumbs {{'breadcrumbs--muted' if muted}}">
      <ol class="govuk-breadcrumbs__list">
          {% for item in items %}
          <li class="govuk-breadcrumbs__list-item">
            {% if item.url %}
            <a href="{{ item.url }}" class="govuk-breadcrumbs__link">
            {% endif %}
              {{ item.text }}
            {% if item.url %}
            </a>
            {% endif %}
          </li>
          {% endfor %}
        </ol>
    </div>
  {% endif %}
{% endmacro %}