{% macro captionHeading(text='', caption=false, tag='h1', size='xl', url=false, id, extraClass) %}
    {% if caption %}
        <span class="govuk-caption-{{ size }}">{{ caption }}</span>
    {% endif %}
    {% if text %}
        <{{ tag }} class="govuk-heading-{{ size }} {{ extraClass if extraClass }}" {{ ' id="' + id +'"' if id }}>
        {{ '<a href="' + url +'">' + text + '</a>' if url else text }}
        </{{ tag }}>
    {% endif %}
{% endmacro %}
