{% macro hiddenText(summary=false, spaceBelow=false, extraClass=false) %}
  {% if summary %}
    <details class="govuk-details {{ extraClass if extraClass }}" data-module="govuk-details">
      
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            {{ summary }}
        </span>
      </summary>

      <div class="govuk-details__text {{ 'panel--space-below' if spaceBelow }}">
          {{ caller() }}
      </div>

    </details>
  {% endif %}
{% endmacro %}