{% macro link(text='', url=false, back=false, paragraph=false, extraClass='') %}
  {% if text %}
    {% if paragraph %}<p>{% endif %}
      <a {{ 'href="' + url + '"' if url }} class="{{ extraClass if extraClass}} {{ 'link-back' if back}}">{{ text }}</a>
    {% if paragraph %}</p>{% endif %}
  {% endif %}
{% endmacro %}