{% macro list(items=false, type=false) %}
  {% if items %}
    {% if type == 'number' %}
      <ol class="govuk-list govuk-list--number">
    {% elseif type == 'bullet' %}
       <ul class="govuk-list govuk-list--bullet">
    {% else %}
        <ul class="govuk-list">
    {% endif %}

      {% for item in items %}
        <li>
          {% if item.url %}
            <a href="{{ item.url }}" class="govuk-link {{ item.class if item.class }} ">
              {{ item.text }}
            </a>
          {% else %}
              {{ item.text }}
          {% endif %}
        </li>
      {% endfor %}

      {% if type == 'number' %}
        </ol>
      {% else %}
        </ul>
      {% endif %}
  {% endif %}
{% endmacro %}