{% extends 'layouts/bulma-ufs.layout.njk' %}

{#{% set navType = 'admin' %}#}
{% set createOpportunityError = createOpportunityError if createOpportunityError %}
{% set createOpportunityErrorMessage = createOpportunityErrorMessage if createOpportunityErrorMessage %}
{% set opportunityName = opportunityName if opportunityName %}
{% set createOpportunityErrorMessageInputLevel = createOpportunityErrorMessageInputLevel if createOpportunityErrorMessageInputLevel %}
{#{% set isAdminUser = true %}#}
{% set allOrgs = allOrgs if allOrgs %}
{% set organisationName = organisationName if organisationName else 'You have not selected an organisation name' %}

{%  set loggedOut = true %}


{% set pageTitle = 'Confirm organisation' + GLOBAL_TAG_TITLE_SUFFIX %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.backLink(text='Back to organisation', url='/prototypes/register-v1/organisation') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Confirm organisation', caption='Apply to OPP123: Microbiotics in freshwater environments') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.form(action='/prototypes/register-v1/confirm-organisation', method='POST', name='confirmOrganisation') %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column column is-full is-9-desktop is-9-widescreen', customID='main-content') %}

                <p class="govuk-body-m">By clicking continue, you confirm that the organisation listed below is the lead organisation for this application. </p>

                <p class="govuk-body-m">
                    <strong>Registered name:</strong>
                    <Br>
                    {{ organisationName }}
                </p>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column column is-full is-9-desktop is-9-widescreen') %}

                {% call components.formGroup() %}
                    {{ components.button(text='Continue', extraClass="application-controls__submit")}}
                {%- endcall %}

            {%- endcall %}

        {%- endcall %}

    {%- endcall %} {# end form #}

{% endblock %}
{% block bodyScripts %}
    {#<script>
      Zepto(function($){
        $('#thing').on('click', function() {
        });
      });
    </script>#}
    <script type="text/javascript" src="/javascripts/accessible-autocomplete/accessible-autocomplete.min.js"></script>
    <script type="text/javascript">
      var selectEl = document.querySelector('#organisation');
      accessibleAutocomplete.enhanceSelectElement({
        autoselect: true,
        defaultValue: selectEl.options[selectEl.options.selectedIndex].innerHTML,
        minLength: 1,
        selectElement: selectEl
      });
    </script>
{% endblock %}


