{% extends 'layouts/bulma-ufs.layout.njk' %}

{#{% set navType = 'admin' %}#}
{% set createOpportunityError = createOpportunityError if createOpportunityError %}
{% set createOpportunityErrorMessage = createOpportunityErrorMessage if createOpportunityErrorMessage %}
{% set opportunityName = opportunityName if opportunityName %}
{% set createOpportunityErrorMessageInputLevel = createOpportunityErrorMessageInputLevel if createOpportunityErrorMessageInputLevel %}
{#{% set isAdminUser = true %}#}
{% set allOrgs = allOrgs if allOrgs %}
{% set organisationName = organisationName if organisationName else 'You have not selected an organisation name' %}
{% set backLinkContents =  [{url:'/prototypes/register-v1/organisation', text:'Back to organisation'}] %}
{%  set loggedOut = true %}


{% set pageTitle = 'Confirm your organisation\'s name' + GLOBAL_TAG_TITLE_SUFFIX %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Confirm on whose behalf you\'re applying', caption='Apply to AHRC New Generation Thinkers scheme') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.form(action='/prototypes/register-v1/confirm-organisation', method='POST', name='confirmOrganisation') %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column  is-full is-9-desktop is-9-widescreen', customID='main-content') %}

                {#<p class="govuk-body-m">By clicking continue, you confirm that the organisation listed below is the lead organisation for this application. </p>#}

                <p class="govuk-body-m">
                    <strong>Registered organisation:</strong>
                    <br>
                    {{ organisationName }}
                </p>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column  is-full is-9-desktop is-9-widescreen') %}

                {% call components.formGroup() %}
                    {{ components.button(text='Confirm', extraClass="application-controls__submit")}}
                {%- endcall %}

            {%- endcall %}

        {%- endcall %}

    {%- endcall %} {# end form #}
    {% include '../../layouts/partials/user-contact.njk' %}
{% endblock %}
{% block bodyScripts %}
{% endblock %}


