{% extends 'layouts/bulma-ufs.layout.njk' %}

{#{% set navType = 'admin' %}#}
{% set firstNameError = firstNameError if firstNameError %}
{% set lastNameError = lastNameError if lastNameError %}
{% set emailNameError = emailNameError if emailNameError %}
{% set passwordError = passwordError if passwordError %}
{% set isDetailsError = isDetailsError if isDetailsError %}
{#{% set isAdminUser = true %}#}
{% set firstName = firstName if firstName %}
{% set lastName = lastName if lastName %}
{% set emailAddress = emailAddress if emailAddress %}
{% set backLinkContents =  [{url:'/prototypes/register-v1/', text:'Back to Opportunities page'}] %}
{%  set loggedOut = true %}

{% set pageTitle = 'Enter your details' + GLOBAL_TAG_TITLE_SUFFIX %}

{% block content %}

    {% if isDetailsError %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-full') %}

                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            {% if firstNameError %}
                            <li><a href="#firstName">First name not entered</a></li>
                            {% endif %}
                            {% if lastNameError %}
                                <li><a href="#lastName">Last name not entered</a></li>
                            {% endif %}
                            {% if emailError %}
                                <li><a href="#email">Invalid email format</a></li>
                            {% endif %}
                            {% if passwordError %}
                                <li><a href="#password">Valid password not entered</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

            {%- endcall %}

        {%- endcall %}

    {% endif %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Enter your details',  caption='Apply to OPP123: Microbiotics in freshwater environments') }}

            <p class="govuk-body govuk-body-l">This information is used to set up an account so you can apply for funding Opportunities and to contact you when required. UKRI processes all data in accordance with current UK law. You can find out how we use personal data, and your rights as a data subject in our <a href="#" class="govuk-link">privacy notice</a> .</p>
        {%- endcall %}
    {%- endcall %}

    {% call components.form(action='/prototypes/register-v1/details', method='POST', name='details') %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen', customID='main-content') %}

                <div class="govuk-form-group {% if firstNameError %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label govuk-label--s" for="firstName" id="firstNameLabel">First name
                        {% if firstNameError %}
                            <span class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> You must enter a first name
                            </span>
                        {% endif %}
                    </label>
                    <input class="govuk-input govuk-input--width-30 {% if firstNameError %}govuk-input--error{% endif %}" id="firstName" type="text" name="firstName" value="{{ firstName }}">
                </div>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

                <div class="govuk-form-group {% if lastNameError %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label govuk-label--s" for="lastName" id="lastNameLabel">Last name
                        {% if lastNameError %}
                            <span class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> You must enter a last name
                            </span>
                        {% endif %}
                    </label>
                    <input class="govuk-input govuk-input--width-30 {% if lastNameError %}govuk-input--error{% endif %}" id="lastName" type="text" name="lastName" value="{{ lastName }}">
                </div>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

                <div class="govuk-form-group {% if emailError %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label govuk-label--s" for="emailAddress" id="emailLabel">Email address
                        {% if emailError %}
                            <span class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>You must enter a valid email address                                                         </span>
                        {% endif %}
                    </label>
                    <input class="govuk-input govuk-input--width-30 {% if emailError %}govuk-input--error{% endif %}" id="emailAddress" type="text" name="emailAddress" value="{{ emailAddress }}">
                </div>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

                <div class="create-password {#create-password--error#} {% if passwordError %}create-password--error{% endif %}">
                    <h2 class="govuk-heading-s">Create password</h2>

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">How to create a strong password</span>
                        </summary>
                        <div class="govuk-details__text">
                            <p>Strong passwords:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>are a phrase, or use random words</li>
                                <li>contain upper and lowercase letters</li>
                                <li>contain numbers, spaces and special characters</li>
                                <li>are generated by password management software</li>
                            </ul>
                        </div>
                    </details>
                    {% if not passwordError %}
                    <p class="govuk-body">Must be at least 12 characters</p>
                    {% endif %}

                    <div class="govuk-form-group password-toggle">
                        <label class="govuk-label govuk-label--s" for="password" id="passwordLabel"><span class="govuk-visually-hidden">Password</span>
                            {% if passwordError %}
                                <span class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> Must be at least 12 characters
                                </span>
                            {% endif %}
                        </label>
                        <div class="password-input govuk-input govuk-input--width-30">
                            <input class="govuk-input {% if passwordError %}govuk-input--error{% endif %}" id="password" type="password" name="password" value="">
                            <a href="#" class="password-toggle__link password-shown">Show <span class="govuk-visually-hidden">password</span></a>
                        </div>
                    </div>
                </div>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

                {% call components.formGroup(extraClass='u-space-b5') %}
                    {{ components.button(text='Continue', extraClass="application-controls__submit")}}
                {%- endcall %}

                <p class="govuk-body govuk-clearfix">By creating an  account you agree to our <a href="#" class="govuk-link">terms of service</a>.</p>

            {%- endcall %}

        {%- endcall %}

    {%- endcall %} {# end form #}
    {% include '../../layouts/partials/user-contact.njk' %}
{% endblock %}
{% block bodyScripts %}
    <script>
      // TODO: Rewrite this entirely as it's hideous, but it works.
      // ALL js-dependent elements should be added to the DOM via a single identifier
      // Really, we should have a second "password confirm" input when there is no JS
      let shown = 'password-shown';
      let hidden = 'password-hidden';
      let hiddenText = 'Show <span class="govuk-visually-hidden">password</span>';
      let shownText = 'Hide <span class="govuk-visually-hidden">password</span>';
      let passwordField = document.getElementById('password');
      let passwordToggleSwitch = document.getElementsByClassName('password-toggle__link');

      // document.getElementById('passwordToggler').onclick = function() {
      passwordToggleSwitch[0].onclick = function (e) {
        e.preventDefault();
        if(this.classList.contains(shown) ) {
          passwordField.type="text";
          this.classList.remove(shown);
          this.className += ' '+hidden;
          this.innerHTML = shownText;
        } else if(this.classList.contains(hidden) ) {
          passwordField.type="password";
          this.classList.remove(hidden);
          this.className += ' '+shown;
          this.innerHTML = hiddenText;
        }
      }
    </script>
{% endblock %}


