{% extends 'layouts/bulma-ufs.layout.njk' %}

{#{% set navType = 'admin' %}#}
{% set createOpportunityError = createOpportunityError if createOpportunityError %}
{% set createOpportunityErrorMessage = createOpportunityErrorMessage if createOpportunityErrorMessage %}
{% set opportunityName = opportunityName if opportunityName %}
{% set createOpportunityErrorMessageInputLevel = createOpportunityErrorMessageInputLevel if createOpportunityErrorMessageInputLevel %}
{#{% set isAdminUser = true %}#}
{% set useAltSaveMethod = useAltSaveMethod if useAltSaveMethod %}
{%  set loggedOut = true %}
{#{% set backLinkContents =  [{url:'/prototypes/register-v1/', text:'Back to Opportunities page'}] %}#}

{% set pageTitle = 'This link has expired' + GLOBAL_TAG_TITLE_SUFFIX %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='column  is-full is-9-desktop is-9-widescreen') %}
            {{ components.captionHeading(text='This link has expired') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='column  is-full is-9-desktop is-9-widescreen', customID='main-content') %}

            <p class="govuk-body">To verify your details, we need to email you a new link.</p>

            <p class="govuk-body">
                <a href="#" class="govuk-button">Get new link</a>
            </p>

        {%- endcall %}

    {%- endcall %}

    {% include '../../layouts/partials/user-contact.njk' %}

{% endblock %}
{% block bodyScripts %}
{% endblock %}


