{% extends 'layouts/bulma-ufs.layout.njk' %}

{#{% set navType = 'admin' %}#}
{% set createOpportunityError = createOpportunityError if createOpportunityError %}
{% set createOpportunityErrorMessage = createOpportunityErrorMessage if createOpportunityErrorMessage %}
{% set opportunityName = opportunityName if opportunityName %}
{% set createOpportunityErrorMessageInputLevel = createOpportunityErrorMessageInputLevel if createOpportunityErrorMessageInputLevel %}
{%  set loggedOut = true %}
{% set backLinkContents =  [{url:'/prototypes/register-v1/', text:'Back to Opportunities page'}] %}

{% set pageTitle = 'Reset your password ' + GLOBAL_TAG_TITLE_SUFFIX %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds u-space-t30') %}
            {{ components.captionHeading(text='Reset your password') }}
        {%- endcall %}
    {%- endcall %}

    {% call components.form(action='#', method='POST', name='signinToAccount') %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column  is-full is-9-desktop is-9-widescreen', customID='main-content') %}

                <p class="govuk-body">Enter the email address you used for this service. If it is associated with a UKRI Funding Service account, we will send you a link to reset your password.</p>

                <fieldset class="govuk-fieldset signin-form">
                    <legend class="govuk-fieldset__legend govuk-visually-hidden">Sign in to your UKRI Funding Service account</legend>

                    <div class="govuk-form-group {% if signinError %} govuk-form-group--error{% endif %}">
                        <label class="govuk-label govuk-label--s" for="email" id="emailAddressInput">Email address</label>
                        <input class="govuk-input {% if signinError %} govuk-input--error{% endif %} govuk-input--width-20" id="email" name="email" type="text" value="{{ savedEmail }}">
                    </div>

                </fieldset>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column  is-full is-9-desktop is-9-widescreen') %}

                {% call components.formGroup() %}
                    {{ components.button(text='Send email', extraClass="application-controls__submit")}}
                {%- endcall %}

            {%- endcall %}

        {%- endcall %}

    {%- endcall %} {# end form #}

    {% include '../../layouts/partials/user-contact.njk' %}
{% endblock %}
{% block bodyScripts %}
    <script>
      // TODO: Rewrite this entirely as it's hideous, but it works.
      // ALL js-dependent elements should be added to the DOM via a single identifier
      // Really, we should have a second "password confirm" input when there is no JS
      let shown = 'password-shown';
      let hidden = 'password-hidden';
      let hiddenText = 'Show <span class="govuk-visually-hidden">password</span>';
      let shownText = 'Hide <span class="govuk-visually-hidden">password</span>';
      let passwordField = document.getElementById('password');
      let passwordToggleSwitch = document.getElementsByClassName('password-toggle__link');

      // document.getElementById('passwordToggler').onclick = function() {
      passwordToggleSwitch[0].onclick = function (e) {
        e.preventDefault();
        if(this.classList.contains(shown) ) {
          passwordField.type="text";
          this.classList.remove(shown);
          this.className += ' '+hidden;
          this.innerHTML = shownText;
        } else if(this.classList.contains(hidden) ) {
          passwordField.type="password";
          this.classList.remove(hidden);
          this.className += ' '+shown;
          this.innerHTML = hiddenText;
        }
      }
    </script>
{% endblock %}


