<footer class="govuk-footer ufs-footer" role="contentinfo">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">
        <h2 class="govuk-heading-m">Help</h2>
        <ul class="govuk-footer__list">
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="https://www.ukri.org/accessibility/">Accessibility</a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="https://www.ukri.org/cookie-policy/">Cookie policy</a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="https://www.ukri.org/privacy-notice/">Privacy notice</a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="https://www.ukri.org/terms-of-use/">Terms of use</a>
          </li>
        </ul>
      </div>
      <div class="column is-one-third">
        <h2 class="govuk-heading-m">About UKRI</h2>
        <ul class="govuk-footer__list">
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="https://www.ukri.org/about-us/">About us</a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="https://www.ukri.org/about-us/working-for-us/">Working for us</a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="https://www.ukri.org/contact/">Contact us</a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="https://www.ukri.org/news/">News</a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="https://www.ukri.org/freedom-of-information/">Freedom of information</a>
          </li>
        </ul>
      </div>
      <div class="column is-one-third">
        <h2 class="govuk-heading-m">Connect with us</h2>
        <ul class="govuk-footer__list">
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link govuk-footer__link--twitter" href="https://twitter.com/UKRI_News">UKRI Twitter</a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link govuk-footer__link--linkedin" href="https://www.linkedin.com/company/uk-research-innovation/">LinkedIn</a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link govuk-footer__link--youtube" href="https://www.youtube.com/channel/UCkf0YxotdFTrxDKcfTV5tiA">UKRI Youtube</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="columns">
      <div class="column">
        <hr class="govuk-footer__section-break">
        <p class="govuk-body govuk-body--s">Copyright UKRI 2020 ©</p>
      </div>
    </div>
  </div>
</footer>
