<div class="header {% if navType == 'admin' %} header--admin {% else %} header--external {% endif %}">
  <header class="container" role="banner">
    <div class="columns">
      <div class="column">
        <div class="ufs-header__logo">
          <a href="/" title="UK Research and Innovation homepage"><img src="/images/ufs/{% if navType == 'admin' %}ukri_logo_blue.svg{% else %}ukri_logo_white.svg{% endif %}" alt="UK Research and Innovation logo"></a></div>
        <div class="ufs-header__proposition">Funding service</div>
        <div class="ufs-header__menu">
          <span class="ufs-header__menu-link"><a href="/" class="ufs-header__link">UKRI website</a></span>
          <span class="ufs-header__menu-link"><a href="#" class="ufs-header__link">Find finding opportunities</a></span>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="columns">
      <div class="column is-full">
          {% if navType == 'admin' %}
            <div class="top-links">
              <nav class="top-links__nav">
                <a href="#" class="top-links__menu" aria-controls="app-mobile-nav" aria-expanded="false">Menu</a>
                <a href="/prototypes/dashboard/" class="top-links__link top-links__link--mobile-hidden">Home</a>
                <a href="#" class="top-links__link top-links__link--mobile-hidden">Schedule</a>
                <a href="/prototypes/opportunity/" class="top-links__link top-links__link--mobile-hidden">Opportunities</a>
                <a href="#" class="top-links__link top-links__link--mobile-hidden">Award setup</a>
                <a href="#" class="top-links__link top-links__link--mobile-hidden">Outcomes</a>
                <a href="#" class="top-links__link top-links__link--mobile-hidden">Reporting</a>
                <a href="#" class="top-links__link top-links__link--mobile-hidden">Users &amp; organisations</a>
              </nav>
            </div>
          {% else %}
            <div class="top-links">
              <nav class="top-links__nav">
                <a href="#" class="top-links__menu" aria-controls="app-mobile-nav" aria-expanded="false">Menu</a>
                <a href="/prototypes/dashboard/" class="top-links__link top-links__link--mobile-hidden">Home</a>
                <a href="#" class="top-links__link top-links__link--mobile-hidden">Applications</a>
                <a href="#" class="top-links__link top-links__link--mobile-hidden">Projects</a>
                <a href="#" class="top-links__link top-links__link--mobile-hidden">Peer review</a>
                <a href="#" class="top-links__link top-links__link--mobile-hidden">Panel</a>
              </nav>
            </div>
          {% endif %}
      </div>
    </div>
  </div>
</div>

<script>
  window.onload = function(){
    let allLinks = document.getElementsByClassName('top-links__link');
    document.querySelector('.top-links__menu').onclick = function(){
      this.classList.toggle('top-links__menu--open');
      // TODO: toggle  aria-expanded attribute
      this.setAttribute('aria-expanded', 'true');
      Array.prototype.forEach.call(allLinks, function(allLinks) {
        allLinks.classList.toggle('top-links__link--mobile-hidden');
      });
    };
  };
</script>
