<div id="global-cookie-message" class="cookie-banner cookie-hidden govuk-clearfix" role="region" aria-label="cookie banner">
    <div class="container">
        <div class="cookie-banner__wrapper columns">
            <div class="column is-three-quarters">
                <div class="cookie-banner__message">
                    <span class="govuk-heading-m">Confirm you accept cookies</span>
                    <p class="govuk-body">We set <a class="govuk-link" href="/prototypes/opportunity-v3/cookies">cookies to collect information</a> about how you use UKRI.org and The UKRI Funding Service. We use this non-personal data to make our websites work as well as possible and to improve our services.</p>
                    <p>
                        <button class="govuk-button button--inline cookie-banner__button" type="button" id="dismissCookieBanner">Accept all cookies</button>
                        <a class="govuk-button button--inline cookie-banner__link" role="button" href="/prototypes/opportunity-v3/cookies">Set cookie preferences</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



