<header id="_global-header" class="ufs-header">
  <div class="ufs-header__main">
    <div class="ufs-header__logo">
      {#<img src="/images/ufs/ukri-logo-no-logo.svg" title="UK Research and Innovation">#}
      <img src="/images/ufs/logo.png" title="UK Research and Innovation">
    </div>

    <div class="ufs-header__proposition">
      Funding service
    </div>

    <div class="ufs-header__menu">
      <a href="/" class="ufs-header__link">Home</a>
    </div>

  </div>

</header>

{% if not hideLayoutPhaseBanner %}
  <!-- header-bar -->
  <div id="global-header-bar"></div>
  <!-- /header-bar -->
{% endif %}
<div class="ufs-header-bar"></div>

<div class="top-links">
  <nav class="top-links__nav">
    <a href="#" class="top-links__link">Funding</a>
    <a href="#" class="top-links__link">Research</a>
    <a href="#" class="top-links__link">Innovation</a>
    <a href="#" class="top-links__link">Skills</a>
    <a href="#" class="top-links__link">News</a>
    <a href="#" class="top-links__link">Public engagement</a>
    <a href="#" class="top-links__link">About us</a>
  </nav>
</div>
