<!-- body-scripts -->
<!--[if (gte IE 9) | (!IE)]><!-->
{#<script type="text/javascript" src="/javascripts/vendor.bundle.js"></script>#}
{#<script type="text/javascript" src="/javascripts/dvsa.bundle.js"></script>#}
<script type="text/javascript" src="/javascripts/gds.js"></script>
<script type="text/javascript" src="/javascripts/zepto.min.js"></script>

{#<script type="text/javascript" src="/javascripts/dvsa-mts.bundle.js"></script>
<script type="text/javascript" src="/javascripts/dvsa-mts-legacy.bundle.js"></script>
<script type="text/javascript" src="/javascripts/dvsa-manuals.bundle.js"></script>#}

{#<script type="text/javascript" src="/javascripts/development.bundle.js"></script>#}
<!--<![endif]-->

{% if showTinyMCEScripts %}
    {% include './scripts-tinymce.njk' %}
{% endif %}

{% if showSimpleTinyMCEScripts %}
    {% include './scripts-simple-tinymce.njk' %}
{% endif %}

{% if showEmbeddedPDFScripts %}
    {% include './scripts-embedded-pdf.njk' %}
{% endif %}

{% if showMathJAXscripts %}
    {% include './scripts-mathjax.njk' %}
{% endif %}

{% if showSmoothScrollscripts %}
    {% include './scripts-smoothScroll.njk' %}
{% endif %}

{% if showStickyNavscripts %}
    {% include './scripts-stickyNav.njk' %}
{% endif %}

{% if showSpreadsheetscripts %}
    {% include './scripts-spreadsheet.njk' %}
{% endif %}

{#{% block bodyScripts %}{% endblock %}#}
<!-- /body-scripts -->
