{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set navType = 'admin' %}
{% set pageTitle = '(Untitled section)' + GLOBAL_TAG_TITLE_SUFFIX %}
{% set opportunityName = opportunityName %}
{% set opportunityID = opportunityID %}

{% set isAdminUser = true %}
{% set sectionTitle = sectionTitle if sectionTitle %}
{% set yourQuestion = yourQuestion if yourQuestion %}
{% set questionGuidance = questionGuidance if questionGuidance %}
{% set wordcount = wordcount if wordcount %}
{% set customIsComplete = customIsComplete if customIsComplete %}

{% set customSectionError = customSectionError if customSectionError %}
{% set customSectionTitleError = customSectionTitleError if customSectionTitleError %}
{% set customSectionQuestionError = customSectionQuestionError if customSectionQuestionError %}
{% set customSectionGuidanceError = customSectionGuidanceError if customSectionGuidanceError %}
{% set customSectionWordcountError = customSectionWordcountError if customSectionWordcountError %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.backLink(text='Back to application', url='/prototypes/opportunity-v2/workflow-application') }}
        {%- endcall %}
    {%- endcall %}

    {% if customSectionError %}
        {% call components.bulmaRow() %}
            {% call components.bulmaColumnAny(size='is-full') %}
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            {% if customSectionTitleError %}
                                <li><a href="#customTitleLabel">You have not entered a valid section title</a></li>
                            {% endif %}
                            {% if customSectionQuestionError %}
                                <li><a href="#customQuestionLabel">You have not entered your question</a></li>
                            {% endif %}
                            {% if customSectionGuidanceError %}
                                <li><a href="#customGuidanceLabel">You have not entered guidance to answering the question</a></li>
                            {% endif %}
                            {% if customSectionWordcountError %}
                                <li><a href="#wordcountLabel">You have not entered a word count limit</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {%- endcall %}
        {%- endcall %}
    {% endif %}

    {% set mainTitle = sectionTitle if sectionTitle else '(Untitled section)' %}
    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}
            {{ components.captionHeading(text=mainTitle, caption=opportunityID + ': ' + opportunityName) }}
        {%- endcall %}
    {%- endcall %}

    <section class="section" id="tabsNav">

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

                <ul class="govuk-tabs__list" role="tablist">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
                        <a class="govuk-tabs__tab" href="#resourcesContent" id="tabEdit" role="tab" aria-controls="past-day" aria-selected="true" tabindex="0">Edit section</a>
                    </li>
                    <li class="govuk-tabs__list-item" role="presentation">
                        <a class="govuk-tabs__tab" href="#applicantView" id="tabView" role="tab" aria-controls="past-week" aria-selected="false" tabindex="-1">Applicant view</a>
                    </li>
                </ul>

            {%- endcall %}

        {%- endcall %}

    </section>

    {% call components.form(action='/prototypes/opportunity-v2/custom-section', method='POST',name='manageCustom') %}

        <section class="section" id="resourcesContent">
            {% call components.bulmaRow() %}
                {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-visually-hidden">Custom section details</legend>

                        <div class="govuk-form-group {% if customSectionTitleError %} govuk-form-group--error {% endif %}">
                            <label class="govuk-label govuk-label--s" for="sectionTitle" id="customTitleLabel">Section title</label>
                            <span class="govuk-hint">Enter a short description of the subject matter of this section – it will appear above as the
section title. For example, ‘Economic benefits’</span>
                            {% if customSectionTitleError %}
                                <span class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> Enter a section title with fewer than 100 characters
                                </span>
                            {% endif %}
                            <input class="govuk-input" id="sectionTitle" name="sectionTitle" type="text" value="{{sectionTitle}}" {% if not sectionTitle %} placeholder="(Untitled section)" {% endif %}>
                        </div>

                        <div class="govuk-form-group {% if customSectionQuestionError %} govuk-form-group--error {% endif %}">
                            <label class="govuk-label govuk-label--s" for="yourQuestion" id="customQuestionLabel">Your question</label>
                            <span class="govuk-hint">Ask a question about the area of the section topic you want to know about. For example, ‘How
will your project economically benefit to the UK?’</span>
                            {% if customSectionQuestionError %}
                                <span class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> Enter your question for this section
                                </span>
                            {% endif %}
                            <input class="govuk-input" id="yourQuestion" name="yourQuestion" type="text" value="{{ yourQuestion }}">
                        </div>

                        <div class="govuk-form-group {% if customSectionGuidanceError %} govuk-form-group--error {% endif %}">
                            <label class="govuk-label govuk-label--s" for="questionGuidance" id="customGuidanceLabel">Question guidance</label>
                            <span class="govuk-hint">Describe what the applicant’s answer should cover and list the criteria by which it will be assessed.</span>
                            {% if customSectionGuidanceError %}
                                <span class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> Enter guidance to how applicants answer your question
                                </span>
                            {% endif %}
                            <textarea class="govuk-textarea" id="questionGuidance" name="questionGuidance" rows="8">{{ questionGuidance }}</textarea>
                        </div>
                    </fieldset>
                {%- endcall %}
            {%- endcall %}
        </section>

        <section class="section" id="wordcountSection">
            {% call components.bulmaRow() %}
                {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}

                   {# <fieldset class="govuk-fieldset govuk-form-group--error {% if customSectionGuidanceError %} govuk-form-group--error {% endif %}">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Word count limit</legend>
                        <details class="govuk-details u-space-b10" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">Guidance for setting word count limits</span>
                            </summary>
                            <div class="govuk-details__text">
                                Setting a word count limit helps applicants to understand the effort and time they should put into an answer. They also aid assessors by limiting the work they need to review and score. <br><br> A word count limit must be set. Although it can be any number, we recommend between 300-500 words for a summary or description answer and 2000-3000 words for a longer, essay-style answer.
                            </div>
                        </details>

                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-label--s govuk-visually-hidden" for="wordcount">Wordcount</label>
                            <input class="govuk-input govuk-input--width-4" id="wordcount" name="wordcount" type="text" value="{% if wordcount %}{{ wordcount }}{% else %}400{% endif %}">
                        </div>

                    </fieldset>#}

                    <div class="govuk-form-group {% if customSectionWordcountError %} govuk-form-group--error {% endif %}">
                        <label class="govuk-label govuk-label--s" for="wordcount" id="wordcountLabel">Wordcount</label>

                        <details class="govuk-details u-space-b10" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">Guidance for setting word count limits</span>
                            </summary>
                            <div class="govuk-details__text">
                                Setting a word count limit helps applicants to understand the effort and time they should put into an answer. They also aid assessors by limiting the work they need to review and score. <br><br> A word count limit must be set. Although it can be any number, we recommend between 300-500 words for a summary or description answer and 2000-3000 words for a longer, essay-style answer.
                            </div>
                        </details>

                        {% if customSectionWordcountError %}
                            <span class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> Enter a word limit
                                </span>
                        {% endif %}

                        <input class="govuk-input govuk-input--width-4" id="wordcount" name="wordcount" type="text" value="{% if wordcount %}{{ wordcount }}{% else %}400{% endif %}">
                    </div>


                {%- endcall %}
            {%- endcall %}
        </section>

        <section class="section" id="submitSection">
            {% call components.bulmaRow() %}
                {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}
                    {% call components.formGroup() %}
                        <div class="application-item">
                            <div class="application-item__contents">
                                <fieldset class="govuk-fieldset" aria-describedby="markAsComplete">
                                    <legend class="govuk-fieldset__legend govuk-visually-hidden">
                                        <h3 class="govuk-fieldset__heading" id="">Mark as complete</h3>
                                    </legend>
                                    <div class="govuk-checkboxes">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="markAsComplete" name="isComplete" type="checkbox" {% if customIsComplete %} checked{% endif %}>
                                            <label class="govuk-label govuk-checkboxes__label" for="markAsComplete">Mark as complete</label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    {%- endcall %}

                {%- endcall %}

            {%- endcall %}

            {% call components.bulmaRow() %}
                {% call components.bulmaColumnAny(size='column is-full is-9-desktop is-9-widescreen') %}
                    {% call components.formGroup() %}
                        {{ components.button(text=GENERIC_SAVE_AND_RETURN_CTA, extraClass="application-controls__submit")}}
                    {%- endcall %}
                {%- endcall %}
            {%- endcall %}
        </section>

    {%- endcall %} {# end form #}

{% endblock %}

{% block bodyScripts %}
    <script>
      Zepto(function($){
        $('#sectionTitle').on('keyup', function() {
          $('h1').html($('#sectionTitle').val());
        });
      })
    </script>
{% endblock %}
