{% extends 'layouts/bulma-ufs.layout.njk' %}
{% set navType = 'admin' %}

{% set pageTitle = ADD_FUNDERS_TO_OPPORTUNITY_TITLE_TAG + GLOBAL_TAG_TITLE_SUFFIX %}
{% set opportunityName = opportunityName %}
{% set opportunityID = opportunityID %}
{% set allCouncils = allCouncils %}
{% set funderslist = funderslist %}
{% set fundersError = fundersError if fundersError %}
{% set fundersIsComplete = fundersIsComplete if fundersIsComplete %}

{% set isAdminUser = true %}

{% block content %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.backLink(text='Back to Opportunity set-up', url='/prototypes/opportunity-v2/setup') }}
        {%- endcall %}
    {%- endcall %}

    {% if fundersError %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-full') %}

                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <a href="#fundersError">You have not selected a funder for your Opportunity</a>
                            </li>
                        </ul>
                    </div>
                </div>

            {%- endcall %}

        {%- endcall %}

    {% endif %}

    {% call components.bulmaRow() %}
        {% call components.bulmaColumnAny(size='is-two-thirds') %}
            {{ components.captionHeading(text='Funders', caption=opportunityID + ': ' + opportunityName) }}
        {%- endcall %}
    {%- endcall %}

    {% call components.form(action='/prototypes/opportunity-v2/funders', method='POST',name='manageFunders') %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-two-thirds') %}

                <div class="govuk-form-group {% if fundersError %} govuk-form-group--error {% endif %}">
                    <fieldset class="govuk-fieldset" aria-describedby="funders-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h2 class="govuk-fieldset__heading"   {% if fundersError %}id="fundersError" {% endif %}>{{ ADD_FUNDERS_TO_OPPORTUNITY_NAME_LABEL }}</h2>
                        </legend>
                        <span id="funders-hint" class="govuk-hint">{{ ADD_FUNDERS_TO_OPPORTUNITY_NAME_HINT }}</span>

                        {% if fundersError %}
                        <span class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>Select one or more funders for this Opportunity
                        </span>
                        {% endif %}
                        <div class="govuk-checkboxes">

                            {% for item in allCouncils %}

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="council_{{ item.index }}" name="funders" type="checkbox" value="{{ item.value }}"
                                    {% for match in funderslist %}
                                        {# DIRTY DIRTY DIRTY #}
                                        {% if (match == item.name) or (match == item.short) %}
                                            checked
                                        {% endif %}
                                    {% endfor %}
                                    >
                                    <label class="govuk-label govuk-checkboxes__label" for="council_{{ item.index }}">
                                        {% if item.short %}
                                            {{ item.short }},
                                        {% endif %}
                                        {{ item.name }}
                                    </label>
                                </div>

                            {% endfor %}

                        </div>
                    </fieldset>
                </div>

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-two-thirds') %}

                {% call components.formGroup() %}
                    <div class="application-item">
                        <div class="application-item__contents">
                            <fieldset class="govuk-fieldset" aria-describedby="markAsComplete">
                                <legend class="govuk-fieldset__legend govuk-visually-hidden">
                                    <h3 class="govuk-fieldset__heading" id="">Mark as complete</h3>
                                </legend>
                                <div class="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="markAsComplete" name="isComplete" type="checkbox" {% if fundersIsComplete %} checked{% endif %}>
                                        <label class="govuk-label govuk-checkboxes__label" for="markAsComplete">Mark as complete</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                {%- endcall %}

            {%- endcall %}

        {%- endcall %}

        {% call components.bulmaRow() %}

            {% call components.bulmaColumnAny(size='is-two-thirds') %}

                {% call components.formGroup() %}
                    {{ components.button(text=ADD_FUNDERS_TO_OPPORTUNITY_FORM_CTA, extraClass="application-controls__submit")}}
                {%- endcall %}

            {%- endcall %}

        {%- endcall %}

    {%- endcall %}

{% endblock %}
