@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap');

$new-font-stack : 'Roboto', sans-serif;

body.new-gds, * {
  font-family: $new-font-stack;

  h1, h2, h3, h4, h5, h6, .govuk-heading, .heading {
    font-family: 'Roboto', sans-serif !important;
  }

  code[class*="language-"], pre[class*="language-"], code, pre, code[class*="language-"] *, pre[class*="language-"] *, code *, pre * {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
  }
}

.new-gds {

  a {
    @extend .govuk-link;
    font-family: $new-font-stack;
  }

  a:focus {
    @extend .govuk-link;
    font-family: $new-font-stack;
  }

  a.govuk-button {
    color: govuk-colour("white");

    &:focus {
      color: govuk-colour("black");
    }
  }
}
