{#{% extends 'layouts/ufs.layout.njk' %}#}
{% extends 'layouts/bulma-ufs.layout.njk' %}

{% set navType = 'admin' %}
{#{% set bodyClass = ' govuk-template__body--wide' %}#}

{% set pageTitle = OPPORTUNITY_SETUP_TITLE_TAG + GLOBAL_TAG_TITLE_SUFFIX %}
{% set opportunityName = 'Development of a Novel Inhibitor of Ricin' %}
{% set opportunityID = 'OPP-25671' %}
{% set fundersList = fundersList %}
{% set isAdminUser = true %}
{% set fundersIsComplete = fundersIsComplete if fundersIsComplete %}

{% block content %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-full') %}

            {{ components.captionHeading(text=OPPORTUNITY_SETUP__TITLE, caption=opportunityID + ': ' +opportunityName) }}

        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-full') %}

            {{ components.captionHeading(text='Quarter-three-quarters, snug', tag='h2', size='s', extraClass='u-space-t30') }}

        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-three-quarters') %}

            <div class="application-item {% if fundersIsComplete %} application-item--complete {% endif %}">
                <div class="application-item__contents govuk-clearfix">

                    <div class="application-item__left">
                        {{ components.link(text="A link in a box", url='#') }}
                    </div>

                    <div class="application-item__right">
                        <span class="application-item__status">Incomplete</span>
                    </div>

                </div>
            </div>

            <div class="application-item">
                <div class="application-item__contents govuk-clearfix">

                    <div class="application-item__left">
                        {{ components.link(text="Another thing to fill space", url='#') }}
                    </div>
                    <div class="application-item__right">
                        <span class="application-item__status">Incomplete</span>
                    </div>

                </div>
            </div>

        {%- endcall %}

        {% call components.bulmaColumnAny(size='is-one-quarter', extraClass='') %}

            <div class="govuk-related-items govuk-related-items--flush">

                {{ components.captionHeading(text='A small sidebar title', tag='h2', size='xs', extraClass='u-space-y5') }}
                <p class="govuk-body-s u-space-b5">
                    Some modest content in a box.
                    {{ components.link(text='Behold, a link', url='#', extraClass='govuk-body--s sub-button') }}
                </p>

            </div>

        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-full') %}

            {{ components.captionHeading(text='Quarter-three-quarters, snug switcheroo', tag='h2', size='s', extraClass='u-space-t30') }}

        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-one-quarter', extraClass='') %}

            <div class="govuk-related-items govuk-related-items--flush">

                {{ components.captionHeading(text='A small sidebar title', tag='h2', size='xs', extraClass='u-space-y5') }}
                <p class="govuk-body-s u-space-b5">
                    Some modest content in a box.
                    {{ components.link(text='Behold, a link', url='#', extraClass='govuk-body--s sub-button') }}
                </p>

            </div>

        {%- endcall %}

        {% call components.bulmaColumnAny(size='is-three-quarters') %}

            <div class="application-item {% if fundersIsComplete %} application-item--complete {% endif %}">
                <div class="application-item__contents govuk-clearfix">

                    <div class="application-item__left">
                        {{ components.link(text="A link in a box", url='#') }}
                    </div>

                    <div class="application-item__right">
                        <span class="application-item__status">Incomplete</span>
                    </div>

                </div>
            </div>

            <div class="application-item">
                <div class="application-item__contents govuk-clearfix">

                    <div class="application-item__left">
                        {{ components.link(text="Another thing to fill space", url='#') }}
                    </div>
                    <div class="application-item__right">
                        <span class="application-item__status">Incomplete</span>
                    </div>

                </div>
            </div>

        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-full') %}

            {{ components.captionHeading(text='Two-thirds, one-third, snug', tag='h2', size='s', extraClass='u-space-t30') }}

        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-two-thirds') %}

            <div class="application-item {% if fundersIsComplete %} application-item--complete {% endif %}">
                <div class="application-item__contents govuk-clearfix">

                    <div class="application-item__left">
                        {{ components.link(text="A link in a box", url='#') }}
                    </div>

                    <div class="application-item__right">
                        <span class="application-item__status">Incomplete</span>
                    </div>

                </div>
            </div>

            <div class="application-item">
                <div class="application-item__contents govuk-clearfix">

                    <div class="application-item__left">
                        {{ components.link(text="Another thing to fill space", url='#') }}
                    </div>
                    <div class="application-item__right">
                        <span class="application-item__status">Incomplete</span>
                    </div>

                </div>
            </div>

        {%- endcall %}

        {% call components.bulmaColumnAny(size='is-one-third', extraClass='') %}

            <div class="govuk-related-items govuk-related-items--flush">

                {{ components.captionHeading(text='A small sidebar title', tag='h2', size='xs', extraClass='u-space-y5') }}
                <p class="govuk-body-s u-space-b5">
                    Some modest content in a box.
                    {{ components.link(text='Behold, a link', url='#', extraClass='govuk-body--s sub-button') }}
                </p>

            </div>

        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-full') %}

            {{ components.captionHeading(text='Two-thirds, side-col with offset', tag='h2', size='s', extraClass='u-space-t30') }}

        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-8') %}

            <div class="application-item {% if fundersIsComplete %} application-item--complete {% endif %}">
                <div class="application-item__contents govuk-clearfix">

                    <div class="application-item__left">
                        {{ components.link(text="A link in a box", url='#') }}
                    </div>

                    <div class="application-item__right">
                        <span class="application-item__status">Incomplete</span>
                    </div>

                </div>
            </div>

            <div class="application-item">
                <div class="application-item__contents govuk-clearfix">

                    <div class="application-item__left">
                        {{ components.link(text="Another thing to fill space", url='#') }}
                    </div>
                    <div class="application-item__right">
                        <span class="application-item__status">Incomplete</span>
                    </div>

                </div>
            </div>

        {%- endcall %}

        {% call components.bulmaColumnAny(size='is-3 is-offset-1', extraClass='') %}

            <div class="govuk-related-items govuk-related-items--flush">

                {{ components.captionHeading(text='A small sidebar title', tag='h2', size='xs', extraClass='u-space-y5') }}
                <p class="govuk-body-s u-space-b5">
                    Some modest content in a box.
                    {{ components.link(text='Edit name', url='/prototypes/opportunity/create?mode=edit', extraClass='govuk-body--s sub-button') }}
                </p>

            </div>

        {%- endcall %}

    {%- endcall %}


    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-full') %}

            {{ components.captionHeading(text='Three-six-three razzle dazzle', tag='h2', size='s', extraClass='u-space-t30') }}

        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-3', extraClass='') %}

            <div class="govuk-related-items govuk-related-items--flush">

                {{ components.captionHeading(text='A small sidebar title', tag='h2', size='xs', extraClass='u-space-y5') }}
                <p class="govuk-body-s u-space-b5">
                    Some modest content in a box.
                    {{ components.link(text='Edit name', url='/prototypes/opportunity/create?mode=edit', extraClass='govuk-body--s sub-button') }}
                </p>

            </div>

        {%- endcall %}

        {% call components.bulmaColumnAny(size='is-6') %}

            <div class="application-item {% if fundersIsComplete %} application-item--complete {% endif %}">
                <div class="application-item__contents govuk-clearfix">

                    <div class="application-item__left">
                        {{ components.link(text="A link in a box", url='#') }}
                    </div>

                    <div class="application-item__right">
                        <span class="application-item__status">Incomplete</span>
                    </div>

                </div>
            </div>

            <div class="application-item">
                <div class="application-item__contents govuk-clearfix">

                    <div class="application-item__left">
                        {{ components.link(text="Another thing to fill space", url='#') }}
                    </div>
                    <div class="application-item__right">
                        <span class="application-item__status">Incomplete</span>
                    </div>

                </div>
            </div>

        {%- endcall %}

        {% call components.bulmaColumnAny(size='is-3', extraClass='') %}

            <div class="govuk-related-items govuk-related-items--flush">

                {{ components.captionHeading(text='A small sidebar title', tag='h2', size='xs', extraClass='u-space-y5') }}
                <p class="govuk-body-s u-space-b5">
                    Some modest content in a box.
                    {{ components.link(text='Edit name', url='/prototypes/opportunity/create?mode=edit', extraClass='govuk-body--s sub-button') }}
                </p>

            </div>

        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-full') %}

            {{ components.captionHeading(text='One third, two thirds', tag='h2', size='s', extraClass='u-space-t30') }}

        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-4', extraClass='') %}

            <div class="govuk-related-items govuk-related-items--flush">

                {{ components.captionHeading(text='A small sidebar title', tag='h2', size='xs', extraClass='u-space-y5') }}
                <p class="govuk-body-s u-space-b5">
                    Some modest content in a box.
                    {{ components.link(text='Edit name', url='/prototypes/opportunity/create?mode=edit', extraClass='govuk-body--s sub-button') }}
                </p>

            </div>

        {%- endcall %}

        {% call components.bulmaColumnAny(size='is-8') %}

            <div class="application-item {% if fundersIsComplete %} application-item--complete {% endif %}">
                <div class="application-item__contents govuk-clearfix">

                    <div class="application-item__left">
                        {{ components.link(text="A link in a box", url='#') }}
                    </div>

                    <div class="application-item__right">
                        <span class="application-item__status">Incomplete</span>
                    </div>

                </div>
            </div>

            <div class="application-item">
                <div class="application-item__contents govuk-clearfix">

                    <div class="application-item__left">
                        {{ components.link(text="Another thing to fill space", url='#') }}
                    </div>
                    <div class="application-item__right">
                        <span class="application-item__status">Incomplete</span>
                    </div>

                </div>
            </div>

        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-full') %}

            {{ components.captionHeading(text='Half-half classic', tag='h2', size='s', extraClass='u-space-t30') }}

        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-6') %}

            <div class="application-item {% if fundersIsComplete %} application-item--complete {% endif %}">
                <div class="application-item__contents govuk-clearfix">

                    <div class="application-item__left">
                        {{ components.link(text="A link in a box", url='#') }}
                    </div>

                    <div class="application-item__right">
                        <span class="application-item__status">Incomplete</span>
                    </div>

                </div>
            </div>

            <div class="application-item">
                <div class="application-item__contents govuk-clearfix">

                    <div class="application-item__left">
                        {{ components.link(text="Another thing to fill space", url='#') }}
                    </div>
                    <div class="application-item__right">
                        <span class="application-item__status">Incomplete</span>
                    </div>

                </div>
            </div>

        {%- endcall %}

        {% call components.bulmaColumnAny(size='is-6') %}

            <div class="application-item {% if fundersIsComplete %} application-item--complete {% endif %}">
                <div class="application-item__contents govuk-clearfix">

                    <div class="application-item__left">
                        {{ components.link(text="A link in a box", url='#') }}
                    </div>

                    <div class="application-item__right">
                        <span class="application-item__status">Incomplete</span>
                    </div>

                </div>
            </div>

            <div class="application-item">
                <div class="application-item__contents govuk-clearfix">

                    <div class="application-item__left">
                        {{ components.link(text="Another thing to fill space", url='#') }}
                    </div>
                    <div class="application-item__right">
                        <span class="application-item__status">Incomplete</span>
                    </div>

                </div>
            </div>

        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-full') %}

            {{ components.captionHeading(text='Dashboard', tag='h2', size='s', extraClass='u-space-t30') }}

        {%- endcall %}

    {%- endcall %}

    {% call components.bulmaRow() %}

        {% call components.bulmaColumnAny(size='is-3') %}

            <div class="govuk-related-items govuk-related-items--flush">

                {{ components.captionHeading(text='A small sidebar title', tag='h2', size='xs', extraClass='u-space-y5') }}
                <p class="govuk-body-s u-space-b5">
                    Some modest content in a box.
                    {{ components.link(text='Edit name', url='/prototypes/opportunity/create?mode=edit', extraClass='govuk-body--s sub-button') }}
                </p>

            </div>

        {%- endcall %}

        {% call components.bulmaColumnAny(size='is-9') %}

            {% call components.bulmaRow() %}

                {% call components.bulmaColumnAny(size='is-3') %}

                    <div class="box">

                        {{ components.captionHeading(text='Task', tag='h3', size='xs', extraClass='') }}

                        <div class="content">
                            <p>Proin semper leo sit amet ligula viverra, eu iaculis diam maximus. Vivamus et dui leo. Phasellus ultrices tortor sem, maximus semper est rhoncus ac. In hac habitasse platea dictumst.</p>
                        </div>

                    </div>

                {%- endcall %}

                {% call components.bulmaColumnAny(size='is-3') %}

                    <div class="box">

                        {{ components.captionHeading(text='Task', tag='h3', size='xs', extraClass='') }}

                        <div class="content">
                            <p>Proin semper leo sit amet ligula viverra, eu iaculis diam maximus. Vivamus et dui leo. Phasellus ultrices tortor sem, maximus semper est rhoncus ac. In hac habitasse platea dictumst.</p>
                        </div>

                    </div>

                {%- endcall %}

                {% call components.bulmaColumnAny(size='is-3') %}

                    <div class="box">

                        {{ components.captionHeading(text='Task', tag='h3', size='xs', extraClass='') }}

                        <div class="content">
                            <p>Proin semper leo sit amet ligula viverra, eu iaculis diam maximus. Vivamus et dui leo. Phasellus ultrices tortor sem, maximus semper est rhoncus ac. In hac habitasse platea dictumst.</p>
                        </div>

                    </div>

                {%- endcall %}

                {% call components.bulmaColumnAny(size='is-3') %}

                    <div class="box">

                        {{ components.captionHeading(text='Task', tag='h3', size='xs', extraClass='') }}

                        <div class="content">
                            <p>Proin semper leo sit amet ligula viverra, eu iaculis diam maximus. Vivamus et dui leo. Phasellus ultrices tortor sem, maximus semper est rhoncus ac. In hac habitasse platea dictumst.</p>
                        </div>

                    </div>

                {%- endcall %}

            {%- endcall %}


        {%- endcall %}

    {%- endcall %}

{% endblock %}
