{% extends 'layouts/default.layout.njk' %}

{% set pageTitle = 'UFS patterns and ideas' %}

{% set listItems = [
    { text: 'Layout with left nav', url: '/prototypes/layout-examples/left-nav' },
    { text: 'Layout with right nav', url: '/prototypes/layout-examples/right-nav' },
    { text: 'Typeface examples with Montserrat and Open Sans', url: '/prototypes/layout-examples/typeface-examples' },
    { text: 'Various patterns', url: '/prototypes/layout-examples/various-patterns' },
    { text: 'Columns, normal (public-facing)', url: '/prototypes/layout-examples/all-cols' },
    { text: 'Columns, wide (admin area)', url: '/prototypes/layout-examples/all-cols-wide' }
] %}

{% block content %}

  {% call components.gridRow() %}

    {% call components.columnFull() %}

    {{ components.pageHeading(heading='Layout ideas') }}

    {%- endcall %}

  {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnTwoThirds() %}

          {{ components.list(items=listItems, type='bullet')}}

        {%- endcall %}

    {%- endcall %}

{% endblock %}
