{% extends 'layouts/ufs.layout.njk' %}

{% set pageTitle = 'Typyeface examples' %}

{% block content %}

  {% call components.gridRow() %}
  
    {% call components.columnFull() %}

    {{ components.pageHeading(heading='Montserrat and Open Sans') }}

    {%- endcall %} 

  {%- endcall %}

    {% call components.gridRow() %}

        {% call components.columnTwoThirds() %}

            <p class="lede">Titles are in Montserrat and copy is in Open Sans</p>

          <h2 class="heading-large">Heading large H2</h2>

          <p><strong>Normal body copy.</strong> Maecenas porta imperdiet augue, in sagittis massa congue at. Morbi non porttitor urna. Fusce eget tortor diam. Duis imperdiet libero vitae libero vehicula mollis. Suspendisse lacinia elementum pretium. In ultricies diam sit amet vehicula maximus. Cras quis aliquet eros. Pellentesque aliquet metus ante, at tempus nisl tempus sit amet. Aenean pretium felis sed turpis interdum sollicitudin. Donec faucibus cursus erat ac interdum. Sed vitae tincidunt tortor. Nulla ut nunc tristique, iaculis nisl sed, dapibus elit. Pellentesque iaculis enim ut pretium sodales.</p>

          <h2 class="heading-medium">Heading medium H2</h2>

          <p><strong>Normal body copy.</strong> Maecenas porta imperdiet augue, in sagittis massa congue at. Morbi non porttitor urna. Fusce eget tortor diam. Duis imperdiet libero vitae libero vehicula mollis. Suspendisse lacinia elementum pretium. In ultricies diam sit amet vehicula maximus. Cras quis aliquet eros. Pellentesque aliquet metus ante, at tempus nisl tempus sit amet. Aenean pretium felis sed turpis interdum sollicitudin. Donec faucibus cursus erat ac interdum. Sed vitae tincidunt tortor. Nulla ut nunc tristique, iaculis nisl sed, dapibus elit. Pellentesque iaculis enim ut pretium sodales.</p>

          <h3 class="heading-small">Heading small H3</h3>

          <p>Maecenas porta imperdiet augue, in sagittis massa congue at. Morbi non porttitor urna. Fusce eget tortor diam. Duis imperdiet libero vitae libero vehicula mollis. Suspendisse lacinia elementum pretium. </p>


          <h3 class="heading-small">Heading small H3</h3>
          <p class="font-xsmall"><strong>Small copy.</strong> In ultricies diam sit amet vehicula maximus. Cras quis aliquet eros. Pellentesque aliquet metus ante, at tempus nisl tempus sit amet. Aenean pretium felis sed turpis interdum sollicitudin. Donec faucibus cursus erat ac interdum. Sed vitae tincidunt tortor. Nulla ut nunc tristique, iaculis nisl sed, dapibus elit. Pellentesque iaculis enim ut pretium sodales.</p>

        {%- endcall %}

    {%- endcall %}
  
{% endblock %}